


@font-face {
    font-family: 'Rubik-Regular';
    src: url('../fonts/Rubik-Regular.ttf'),
         url('../fonts/Rubik-Regular.ttf');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'Rubik-Medium';
    src: url('../fonts/Rubik-Medium.ttf'),
         url('../fonts/Rubik-Medium.ttf');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'Rubik-Bold';
    src: url('../fonts/Rubik-Bold.ttf'),
         url('../fonts/Rubik-Bold.ttf');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'Rubik-Light';
    src: url('../fonts/Rubik-Light.ttf'),
         url('../fonts/Rubik-Light.ttf');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'Rubik-Black';
    src: url('../fonts/Rubik-Black.ttf'),
         url('../fonts/Rubik-Black.ttf');
        font-weight: normal;
        font-style: normal;
}
/*.set_document_path ::-webkit-scrollbar {
  width: 4px;
}
.set_document_path ::-webkit-scrollbar-track {
  background: transparent;
}
.set_document_path ::-webkit-scrollbar-thumb {
  background: rgb(196, 196, 198);
}*/


label.error{color: #FF4500 !important;}
.set_document_path ::-webkit-scrollbar {
  width: 5px;
}


.set_document_path ::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
.set_document_path ::-webkit-scrollbar-thumb {
  background: #888; 
}

.set_document_path ::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/*7-12-2018*/

.setlogobox_text{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}
.setlogobox_text img{
    width: 78px;
}
.btnsetcolor1 button{
    background: rgba(39,169,225,1) !important;
    background: -moz-linear-gradient(left, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(101,44,144,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(39,169,225,1)), color-stop(0%, rgba(39,169,225,1)), color-stop(0%, rgba(39,169,225,1)), color-stop(0%, rgba(39,169,225,1)), color-stop(100%, rgba(101,44,144,1)));
    background: -webkit-linear-gradient(left, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(101,44,144,1) 100%);
    background: -o-linear-gradient(left, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(101,44,144,1) 100%);
    background: -ms-linear-gradient(left, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(101,44,144,1) 100%);
    background: linear-gradient(to right, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(101,44,144,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27a9e1', endColorstr='#652c90', GradientType=1 ) !important;
    border: 0px !important;
    margin-top: 15px;
}
.settextboxtop h3{
    font-size: 24px;
}

.settextboxtop h6{
    font-size: 12px;
}
.nav-header.pull-left img{ 
    width: 85%;
    margin-right: 0 !important;    
    float: left;
}
.wrapper.theme-1-active.pimary-color-red .fixed-sidebar-left .side-nav > li > a.active, .wrapper.theme-2-active.pimary-color-red .fixed-sidebar-left .side-nav > li > a.active, .wrapper.theme-3-active.pimary-color-red .fixed-sidebar-left .side-nav > li > a.active, .wrapper.theme-4-active.pimary-color-red .fixed-sidebar-left .side-nav > li > a.active, .wrapper.theme-5-active.pimary-color-red .fixed-sidebar-left .side-nav > li > a.active, .wrapper.theme-6-active.pimary-color-red .fixed-sidebar-left .side-nav > li > a.active{
    background: rgba(39,169,225,1) !important;
    background: -moz-linear-gradient(left, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(101,44,144,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(39,169,225,1)), color-stop(0%, rgba(39,169,225,1)), color-stop(0%, rgba(39,169,225,1)), color-stop(0%, rgba(39,169,225,1)), color-stop(100%, rgba(101,44,144,1)));
    background: -webkit-linear-gradient(left, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(101,44,144,1) 100%);
    background: -o-linear-gradient(left, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(101,44,144,1) 100%);
    background: -ms-linear-gradient(left, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(101,44,144,1) 100%);
    background: linear-gradient(to right, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(101,44,144,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27a9e1', endColorstr='#652c90', GradientType=1 ) !important;
}

.fixed-sidebar-left .side-nav > li > a {
    color: #000;
    padding: 16px 23px;
}
.fixed-sidebar-left .active i {
    color: #fff !important;
}

.fixed-sidebar-left .side-nav li a .pull-left > i {
    font-size: 18px;
    width: 18px;
    color: #495EAA;
    margin-right: 13px !important;
}
a.pull-left.inline-block.refresh.mr-15{   
    color: #fff;
    padding: 4px 25px;
    border-radius: 2px;
    background: rgba(39,169,225,1) !important;
    background: -moz-linear-gradient(left, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(101,44,144,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(39,169,225,1)), color-stop(0%, rgba(39,169,225,1)), color-stop(0%, rgba(39,169,225,1)), color-stop(0%, rgba(39,169,225,1)), color-stop(100%, rgba(101,44,144,1)));
    background: -webkit-linear-gradient(left, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(101,44,144,1) 100%);
    background: -o-linear-gradient(left, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(101,44,144,1) 100%);
    background: -ms-linear-gradient(left, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(101,44,144,1) 100%);
    background: linear-gradient(to right, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(101,44,144,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27a9e1', endColorstr='#652c90', GradientType=1 ) !important;
}

/*.label, .jvectormap-tip{
    background: #495EAA !important;
}*/

.settableboxadd tbody td a i{
        margin-right: 10px;
    color: #495EAA;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover, .dataTables_wrapper .dataTables_paginate .paginate_button:hover, .dataTables_wrapper .dataTables_paginate .paginate_button:active, .dataTables_wrapper .dataTables_paginate .paginate_button:focus{
        background: #495EAA;
        border-color: #495EAA;
        color: #fff !important;
        box-shadow: none;
}
.btn.btn-success:hover, .wizard > .actions a.btn-success:hover, .wizard > .actions a.fc-prev-button:hover, .wizard > .actions a.fc-next-button:hover, .wizard > .actions a.fc-today-button:hover, .dt-buttons .btn-success.dt-button:hover, .tablesaw-sortable th.tablesaw-sortable-head button.btn-success:hover, .tablesaw-sortable th.tablesaw-sortable-head button.fc-agendaWeek-button:hover, .tablesaw-sortable th.tablesaw-sortable-head button.fc-prev-button:hover, .tablesaw-sortable th.tablesaw-sortable-head button.fc-next-button:hover, .tablesaw-sortable th.tablesaw-sortable-head button.fc-today-button:hover, .sweet-alert button.btn-success:hover, .owl-theme .owl-nav .btn-success[class*="owl-"]:hover, .owl-theme .owl-nav button[class*="owl-"].fc-agendaWeek-button:hover, .owl-theme .owl-nav [class*="owl-"].fc-prev-button:hover, .owl-theme .owl-nav [class*="owl-"].fc-next-button:hover, .owl-theme .owl-nav [class*="owl-"].fc-today-button:hover, button.fc-agendaDay-button.fc-state-default.fc-corner-right:hover, button.fc-month-button.fc-state-default.fc-corner-left:hover, button.fc-agendaWeek-button:hover, .fc-prev-button:hover, .fc-next-button:hover, .fc-today-button:hover, .btn.btn-success:active, .wizard > .actions a.btn-success:active, .wizard > .actions a.fc-prev-button:active, .wizard > .actions a.fc-next-button:active, .wizard > .actions a.fc-today-button:active, .dt-buttons .btn-success.dt-button:active, .tablesaw-sortable th.tablesaw-sortable-head button.btn-success:active, .tablesaw-sortable th.tablesaw-sortable-head button.fc-agendaWeek-button:active, .tablesaw-sortable th.tablesaw-sortable-head button.fc-prev-button:active, .tablesaw-sortable th.tablesaw-sortable-head button.fc-next-button:active, .tablesaw-sortable th.tablesaw-sortable-head button.fc-today-button:active, .sweet-alert button.btn-success:active, .owl-theme .owl-nav .btn-success[class*="owl-"]:active, .owl-theme .owl-nav button[class*="owl-"].fc-agendaWeek-button:active, .owl-theme .owl-nav [class*="owl-"].fc-prev-button:active, .owl-theme .owl-nav [class*="owl-"].fc-next-button:active, .owl-theme .owl-nav [class*="owl-"].fc-today-button:active, button.fc-agendaDay-button.fc-state-default.fc-corner-right:active, button.fc-month-button.fc-state-default.fc-corner-left:active, button.fc-agendaWeek-button:active, .fc-prev-button:active, .fc-next-button:active, .fc-today-button:active, .btn.btn-success:focus, .wizard > .actions a.btn-success:focus, .wizard > .actions a.fc-prev-button:focus, .wizard > .actions a.fc-next-button:focus, .wizard > .actions a.fc-today-button:focus, .dt-buttons .btn-success.dt-button:focus, .tablesaw-sortable th.tablesaw-sortable-head button.btn-success:focus, .tablesaw-sortable th.tablesaw-sortable-head button.fc-agendaWeek-button:focus, .tablesaw-sortable th.tablesaw-sortable-head button.fc-prev-button:focus, .tablesaw-sortable th.tablesaw-sortable-head button.fc-next-button:focus, .tablesaw-sortable th.tablesaw-sortable-head button.fc-today-button:focus, .sweet-alert button.btn-success:focus, .owl-theme .owl-nav .btn-success[class*="owl-"]:focus, .owl-theme .owl-nav button[class*="owl-"].fc-agendaWeek-button:focus, .owl-theme .owl-nav [class*="owl-"].fc-prev-button:focus, .owl-theme .owl-nav [class*="owl-"].fc-next-button:focus, .owl-theme .owl-nav [class*="owl-"].fc-today-button:focus, button.fc-agendaDay-button.fc-state-default.fc-corner-right:focus, button.fc-month-button.fc-state-default.fc-corner-left:focus, button.fc-agendaWeek-button:focus, .fc-prev-button:focus, .fc-next-button:focus, .fc-today-button:focus{
        background: #495EAA;
        border: solid 1px rgba(70, 148, 8, 0.1);
}

.btn.btn-success, .wizard > .actions a.btn-success, .wizard > .actions a.fc-prev-button, .wizard > .actions a.fc-next-button, .wizard > .actions a.fc-today-button, .dt-buttons .btn-success.dt-button, .dt-buttons button.dt-button.fc-agendaWeek-button, .dt-buttons .dt-button.fc-prev-button, .dt-buttons .dt-button.fc-next-button, .dt-buttons .dt-button.fc-today-button, .tablesaw-sortable th.tablesaw-sortable-head button.btn-success, .tablesaw-sortable th.tablesaw-sortable-head button.fc-agendaWeek-button, .tablesaw-sortable th.tablesaw-sortable-head button.fc-prev-button, .tablesaw-sortable th.tablesaw-sortable-head button.fc-next-button, .tablesaw-sortable th.tablesaw-sortable-head button.fc-today-button, .sweet-alert button.btn-success, .sweet-alert button.fc-prev-button, .sweet-alert button.fc-next-button, .sweet-alert button.fc-today-button, .owl-theme .owl-nav .btn-success[class*="owl-"], .owl-theme .owl-nav button[class*="owl-"].fc-agendaWeek-button, .owl-theme .owl-nav [class*="owl-"].fc-prev-button, .owl-theme .owl-nav [class*="owl-"].fc-next-button, .owl-theme .owl-nav [class*="owl-"].fc-today-button, button.fc-agendaDay-button.fc-state-default.fc-corner-right, button.fc-month-button.fc-state-default.fc-corner-left, button.fc-agendaWeek-button, .fc-prev-button, .fc-next-button, .fc-today-button{
        background: #495EAA;
        border: solid 1px rgba(70, 148, 8, 0.1);
}

.setlogoutbtn .zmdi-power{
    font-size: 30px;
}
.setlogoutbtn a{
    display: inline-block !important;
    line-height: 1 !important;
    padding-top: 20px !important;  
}
.setlogoutbtn a:hover {
    color: #495EAA !important;
}
.slide-nav-toggle .page-wrapper {
    margin-left: 0;
    left: 227px;
    width: 84%;
}
.bg-red {
    background: #2FA1DB !important;
}
.bg-yellow {
    background: #458AC9 !important;
}
.bg-green {
    background: #5866AF !important;
}
.bg-blue {
    background: #663191 !important;
}
.newseticonbox i{
    font-size: 53px;
    color: #fff;
}
.heading-bg {
    height: 67px;
    margin: 0 -39px 10px;
    padding: 23px 28px;
}
/*7-12-2018*/


.slide-nav-toggle .fixed-sidebar-left .right-nav-text {
    opacity: 1 !important;
}

.slide-nav-toggle .navbar.navbar-inverse.navbar-fixed-top .nav-header {
    width: auto;
}

.fixed-sidebar-left .side-nav > li > ul > li a {
    padding: 7px 15px 7px 23px;
    display: block;
    color: #878787;
}

/*.fixed-sidebar-left .side-nav > li a.active-page {
    background: rgba(33, 33, 33, 0.05);
    background: rgba(39,169,225,1) !important;
    background: -moz-linear-gradient(left, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(101,44,144,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(39,169,225,1)), color-stop(0%, rgba(39,169,225,1)), color-stop(0%, rgba(39,169,225,1)), color-stop(0%, rgba(39,169,225,1)), color-stop(100%, rgba(101,44,144,1)));
    background: -webkit-linear-gradient(left, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(101,44,144,1) 100%);
    background: -o-linear-gradient(left, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(101,44,144,1) 100%);
    background: -ms-linear-gradient(left, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(101,44,144,1) 100%);
    background: linear-gradient(to right, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(101,44,144,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27a9e1', endColorstr='#652c90', GradientType=1 ) !important;
    color: #fff;
}*/

.active-page .fixed-sidebar-left .side-nav li a .pull-left > i{
    color: #fff !important;
} 
/*.fixed-sidebar-left .side-nav > li > ul > li a:hover, .fixed-sidebar-left .side-nav > li > ul > li a:focus, .fixed-sidebar-left .side-nav > li > ul > li a:active{
    color: inherit !important;
}*/

#cardepartment .active-page{
    background: rgba(39,169,225,1) !important;
    background: -moz-linear-gradient(left, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(101,44,144,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(39,169,225,1)), color-stop(0%, rgba(39,169,225,1)), color-stop(0%, rgba(39,169,225,1)), color-stop(0%, rgba(39,169,225,1)), color-stop(100%, rgba(101,44,144,1)));
    background: -webkit-linear-gradient(left, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(101,44,144,1) 100%);
    background: -o-linear-gradient(left, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(101,44,144,1) 100%);
    background: -ms-linear-gradient(left, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(101,44,144,1) 100%);
    background: linear-gradient(to right, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(101,44,144,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27a9e1', endColorstr='#652c90', GradientType=1 ) !important;
} 
#cardepartment .active-page span{
    color: #fff;
}
#cardepartment .active-page i{
    color: #fff;
}

#workdepartment .active-page{
    background: rgba(39,169,225,1) !important;
    background: -moz-linear-gradient(left, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(101,44,144,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(39,169,225,1)), color-stop(0%, rgba(39,169,225,1)), color-stop(0%, rgba(39,169,225,1)), color-stop(0%, rgba(39,169,225,1)), color-stop(100%, rgba(101,44,144,1)));
    background: -webkit-linear-gradient(left, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(101,44,144,1) 100%);
    background: -o-linear-gradient(left, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(101,44,144,1) 100%);
    background: -ms-linear-gradient(left, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(101,44,144,1) 100%);
    background: linear-gradient(to right, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(101,44,144,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27a9e1', endColorstr='#652c90', GradientType=1 ) !important;
} 
#workdepartment .active-page span{
    color: #fff;
}
#workdepartment .active-page i{
    color: #fff;
}  

#workdepartment a.active{
    background: rgba(39,169,225,1) !important;
    background: -moz-linear-gradient(left, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(101,44,144,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(39,169,225,1)), color-stop(0%, rgba(39,169,225,1)), color-stop(0%, rgba(39,169,225,1)), color-stop(0%, rgba(39,169,225,1)), color-stop(100%, rgba(101,44,144,1)));
    background: -webkit-linear-gradient(left, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(101,44,144,1) 100%);
    background: -o-linear-gradient(left, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(101,44,144,1) 100%);
    background: -ms-linear-gradient(left, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(101,44,144,1) 100%);
    background: linear-gradient(to right, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(101,44,144,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27a9e1', endColorstr='#652c90', GradientType=1 ) !important;
} 

#workdepartment a.active span{
    color: #fff;
}

.paginate_button.current{
    color: #333 !important;
    border: 0px solid #979797;
    background: #495EAA !important;
    background: inherit; 
    background: inherit;
    background: inherit;
    background: inherit;
    background: inherit;
    background: inherit; 
    color: #fff !important;
}

.fixed-sidebar-left .side-nav li a .pull-right i {
    color: #878787;
    position: relative;
    right: -4px;
    top: 1px;
}


#snowAngelTable_paginate span a.paginate_button.current{
    color: #fff !important;
}
#workCity_paginate span a.paginate_button.current{
    color: #fff !important;
}
.dataTables_paginate.paging_simple_numbers span a.paginate_button.current{
    color: #fff !important;
}

/* POPUP HIDE CLASS ON DASHBOARD */
.jq-icon-success{
    display: none !important;
}
table.dataTable thead .sorting::after, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc::after{
    display: none;
}
.radio_btnsetbox{
    display: inline-block;
    width: 50%;    
    float: left;    
}


.append_upload_photo input{
    text-align: center;
    width: 100%;
    float: left;
}
.sa-confirm-button-container button.confirm {
    background: #495EAA !important;
}
/*span.switchery.switchery-default{
    background: #495EAA !important;
    border-color: #fff !important;
    box-shadow:inherit !important;
}
small.switchery.switchery-default{
    background: #495EAA !important;
}*/
.btn.btn-anim:hover .btn-text, .wizard > .actions a.btn-anim:hover .btn-text, .dt-buttons .btn-anim.dt-button:hover .btn-text, .tablesaw-sortable th.tablesaw-sortable-head button.btn-anim:hover .btn-text, .sweet-alert button.btn-anim:hover .btn-text, .owl-theme .owl-nav .btn-anim[class*="owl-"]:hover .btn-text, button.btn-anim.fc-agendaDay-button.fc-state-default.fc-corner-right:hover .btn-text, button.btn-anim.fc-month-button.fc-state-default.fc-corner-left:hover .btn-text, button.btn-anim.fc-agendaWeek-button:hover .btn-text, .btn-anim.fc-prev-button:hover .btn-text, .btn-anim.fc-next-button:hover .btn-text, .btn-anim.fc-today-button:hover .btn-text{
    top: 0px;
}

.radio_btnsetbox .radio-info input[type="radio"]:checked + label::after {
    background-color: #495EAA;
}
.radio_btnsetbox .radio-info input[type="radio"]:checked + label::after {
    background-color: #495EAA;
}
.radio_btnsetbox .radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}
.radio_btnsetbox .radio-info input[type="radio"] + label::after {
    background-color: #495EAA;
}
.radio_btnsetbox .radio-info input[type="radio"] + label::after {
    background-color: #495EAA;
}
.radio_btnsetbox .radio-info input[type="radio"]:checked + label::before {
    border-color: #495EAA;
}

.radio_btnsetbox .radio-info input[type="radio"]:checked + label::before {
    border-color: #495EAA;
}

.btn.btn-primary, .wizard > .actions .disabled a, .wizard > .actions .disabled a:hover, .wizard > .actions .disabled a:active, .wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active, .dt-buttons .dt-button, .tablesaw-sortable th.tablesaw-sortable-head button.btn-primary, .tablesaw-sortable th.tablesaw-sortable-head .dt-buttons button.dt-button, .dt-buttons .tablesaw-sortable th.tablesaw-sortable-head button.dt-button, .sweet-alert button.btn-primary, .owl-theme .owl-nav .btn-primary[class*="owl-"], .owl-theme .owl-nav .wizard > .actions a[class*="owl-"], .wizard > .actions .owl-theme .owl-nav a[class*="owl-"], .owl-theme .owl-nav .dt-buttons [class*="owl-"].dt-button, .dt-buttons .owl-theme .owl-nav [class*="owl-"].dt-button, button.btn-primary.fc-agendaDay-button.fc-state-default.fc-corner-right, .dt-buttons button.fc-agendaDay-button.fc-state-default.fc-corner-right.dt-button, button.btn-primary.fc-month-button.fc-state-default.fc-corner-left, .dt-buttons button.fc-month-button.fc-state-default.fc-corner-left.dt-button, button.btn-primary.fc-agendaWeek-button, .btn-primary.fc-prev-button, .btn-primary.fc-next-button, .btn-primary.fc-today-button{
    background: #495EAA;
    border: solid 1px #495EAA;
}
.btn.btn-primary:hover, .wizard > .actions a:hover, .dt-buttons .dt-button:hover, .tablesaw-sortable th.tablesaw-sortable-head button.btn-primary:hover, .sweet-alert button.btn-primary:hover, .owl-theme .owl-nav .btn-primary[class*="owl-"]:hover, button.btn-primary.fc-agendaDay-button.fc-state-default.fc-corner-right:hover, .dt-buttons button.fc-agendaDay-button.fc-state-default.fc-corner-right.dt-button:hover, button.btn-primary.fc-month-button.fc-state-default.fc-corner-left:hover, .dt-buttons button.fc-month-button.fc-state-default.fc-corner-left.dt-button:hover, button.btn-primary.fc-agendaWeek-button:hover, .btn-primary.fc-prev-button:hover, .btn-primary.fc-next-button:hover, .btn-primary.fc-today-button:hover, .btn.btn-primary:active, .wizard > .actions a:active, .dt-buttons .dt-button:active, .tablesaw-sortable th.tablesaw-sortable-head button.btn-primary:active, .sweet-alert button.btn-primary:active, .owl-theme .owl-nav .btn-primary[class*="owl-"]:active, button.btn-primary.fc-agendaDay-button.fc-state-default.fc-corner-right:active, .dt-buttons button.fc-agendaDay-button.fc-state-default.fc-corner-right.dt-button:active, button.btn-primary.fc-month-button.fc-state-default.fc-corner-left:active, .dt-buttons button.fc-month-button.fc-state-default.fc-corner-left.dt-button:active, button.btn-primary.fc-agendaWeek-button:active, .btn-primary.fc-prev-button:active, .btn-primary.fc-next-button:active, .btn-primary.fc-today-button:active, .btn.btn-primary:focus, .wizard > .actions a:focus, .dt-buttons .dt-button:focus, .tablesaw-sortable th.tablesaw-sortable-head button.btn-primary:focus, .sweet-alert button.btn-primary:focus, .owl-theme .owl-nav .btn-primary[class*="owl-"]:focus, button.btn-primary.fc-agendaDay-button.fc-state-default.fc-corner-right:focus, .dt-buttons button.fc-agendaDay-button.fc-state-default.fc-corner-right.dt-button:focus, button.btn-primary.fc-month-button.fc-state-default.fc-corner-left:focus, .dt-buttons button.fc-month-button.fc-state-default.fc-corner-left.dt-button:focus, button.btn-primary.fc-agendaWeek-button:focus, .btn-primary.fc-prev-button:focus, .btn-primary.fc-next-button:focus, .btn-primary.fc-today-button:focus{
    background: #495EAA;
    border: solid 1px #495EAA;
}
.stewidthaddclass input{
    cursor: pointer;
}

.stewidthaddclass .radio-info input[type="radio"]:checked + label::after {
    background-color: #495EAA;
}
.stewidthaddclass .radio-info input[type="radio"]:checked + label::after {
    background-color: #495EAA;
}
.stewidthaddclass .radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}
.stewidthaddclass .radio-info input[type="radio"] + label::after {
    background-color: #495EAA;
}
.stewidthaddclass .radio-info input[type="radio"] + label::after {
    background-color: #495EAA;
}
.stewidthaddclass .radio-info input[type="radio"]:checked + label::before {
    border-color: #495EAA;
}

.stewidthaddclass .radio-info input[type="radio"]:checked + label::before {
    border-color: #495EAA;
}
.maddiv_setboxpart{
    display: inline-block;
    width: 100%;
}
.stewidthaddclass{
    display: inline-block;
    width: 50%;
}



/* code by mohit for bootstrep card css */

#ads {
    margin: 30px 0 30px 0;
   
}

#ads .card-notify-badge {
        position: absolute;
        left: -10px;
        top: -20px;
        background: #f2d900;
        text-align: center;
        border-radius: 30px 30px 30px 30px; 
        color: #000;
        padding: 5px 10px;
        font-size: 14px;

    }

#ads .card-notify-year {
        position: absolute;
        right: -10px;
        top: -20px;
        background: #ff4444;
        border-radius: 50%;
        text-align: center;
        color: #fff;      
        font-size: 14px;      
        width: 50px;
        height: 50px;    
        padding: 15px 0 0 0;
}


#ads .card-detail-badge {      
        background: #f2d900;
        text-align: center;
        border-radius: 30px 30px 30px 30px;
        color: #000;
        padding: 5px 10px;
        font-size: 14px;        
    }

   

#ads .card:hover {
            background: #fff;
            box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
            border-radius: 4px;
            transition: all 0.3s ease;
        }

#ads .card-image-overlay {
        font-size: 20px;
        
    }


#ads .card-image-overlay span {
            display: inline-block;              
        }


#ads .ad-btn {
        text-transform: uppercase;
        width: 150px;
        height: 40px;
        border-radius: 80px;
        font-size: 16px;
        line-height: 35px;
        text-align: center;
        border: 3px solid #e6de08;
        display: block;
        text-decoration: none;
        margin: 20px auto 1px auto;
        color: #000;
        overflow: hidden;        
        position: relative;
        background-color: #e6de08;
    }

#ads .ad-btn:hover {
            background-color: #e6de08;
            color: #1e1717;
            border: 2px solid #e6de08;
            background: transparent;
            transition: all 0.3s ease;
            box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
        }

#ads .ad-title h5 {
        text-transform: uppercase;
        font-size: 18px;
    }

    /* code over by mohit*/

.input-group .form-control:not(:first-child):not(:last-child), .input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child) {
    border-radius: 0;
    background: #495EAA;    
    border-color: #495EAA;
}
.btn.btn-info:hover, .wizard > .actions a.btn-info:hover, .dt-buttons .btn-info.dt-button:hover, .tablesaw-sortable th.tablesaw-sortable-head button.btn-info:hover, .sweet-alert button.btn-info:hover, .owl-theme .owl-nav .btn-info[class*="owl-"]:hover, button.btn-info.fc-agendaDay-button.fc-state-default.fc-corner-right:hover, button.btn-info.fc-month-button.fc-state-default.fc-corner-left:hover, button.btn-info.fc-agendaWeek-button:hover, .btn-info.fc-prev-button:hover, .btn-info.fc-next-button:hover, .btn-info.fc-today-button:hover, .btn.btn-info:active, .wizard > .actions a.btn-info:active, .dt-buttons .btn-info.dt-button:active, .tablesaw-sortable th.tablesaw-sortable-head button.btn-info:active, .sweet-alert button.btn-info:active, .owl-theme .owl-nav .btn-info[class*="owl-"]:active, button.btn-info.fc-agendaDay-button.fc-state-default.fc-corner-right:active, button.btn-info.fc-month-button.fc-state-default.fc-corner-left:active, button.btn-info.fc-agendaWeek-button:active, .btn-info.fc-prev-button:active, .btn-info.fc-next-button:active, .btn-info.fc-today-button:active, .btn.btn-info:focus, .wizard > .actions a.btn-info:focus, .dt-buttons .btn-info.dt-button:focus, .tablesaw-sortable th.tablesaw-sortable-head button.btn-info:focus, .sweet-alert button.btn-info:focus, .owl-theme .owl-nav .btn-info[class*="owl-"]:focus, button.btn-info.fc-agendaDay-button.fc-state-default.fc-corner-right:focus, button.btn-info.fc-month-button.fc-state-default.fc-corner-left:focus, button.btn-info.fc-agendaWeek-button:focus, .btn-info.fc-prev-button:focus, .btn-info.fc-next-button:focus, .btn-info.fc-today-button:focus {
    background: #495EAA;
    /*border: solid #495EAA;*/
    border-color: #495EAA;
}
.set_document_path{
    padding-top: 90px;
}
.col-item .photo{
    height: 210px;   
}
.col-item .photo img{
     width: 92%;
}
.col-item .photo .options {
    position: absolute;
    right: 22px;
    top: 5px;
}
.card-view{
    margin-bottom: 34px;
}



/* code by mohit for link a tag color */
.a_tag_color span{
    color: #458AC9 !important;
}
.a_tag_color span:hover{
    text-decoration: underline;
}


/*code for set new inner side bar by mohit*/
.heading_newsideBar{
    margin-left: 20px;
    font-size: 15px;
}

/* code for set missing document label*/
span.missing_class{
    color: red;
}


/****/
.Sidebar_NewDesignCust{
    /*width: 20% !important;*/
    /*position: relative;*/
    border: 0;
}
.slide-nav-toggle .page-wrapper{

}
.Sidebar_NewDesignCust .slimScrollDiv{
    padding-left: 12px;
    padding-right: 12px;
}
.heading_newsideBar_boxsnew{
    color: #b5b5b6;
    font-family: 'Rubik-Regular';
    font-size: 18px;
    padding-left: 14px;
    padding-top: 4px;
    display: inline-block;
    width: 100%;
}
.heading_newsideBar_boxsnew span{

}
.dotsetin{
    display: inline-block;
}
.Inactivestatt{
    color: #EF4656;
    font-family: 'Rubik-Regular';
}
.sidebar_left2box .heading_newsideBar_boxsnew{
    border-bottom: 1px solid #DBDCDD; 
}
.Sidebar_NewDesignCust .slimScrollDiv .navbar-nav{
    width: 100% !important;
}
.sidebar_left1box{
    border: 1px solid #d1d3d4;
    border-radius: 14px;
    margin-bottom: 25px;
    width: 100%;
    display: inline-block;
    margin-top: 37px;
    padding-bottom: 23px;
}
.sidebar_left1box li , .sidebar_left2box li{
    display: inline-block;
    width: 100% !important;
}
.sidebar_left1box li a , .sidebar_left2box li a{
    display: inline-block;
    width: 100% !important;
    padding-left: 42px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #b5b5b6;
    font-family: 'Rubik-Regular';
    position: relative;
}
.sidebar_left1box li a.active , .sidebar_left2box li a.active {
    color: #495faa;
}
.sidebar_left1box li a:before , .sidebar_left2box li a:before{
    content: '';
    width: 18px;
    height: 18px;
    left: 14px;
    top: 10px;
    border: 1px solid #b5b5b6;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
}
.sidebar_left1box li a.active:before , .sidebar_left2box li a.active:before{
    content: '';
    border: 0px solid #b5b5b6;
    background: #495faa;
}

.sidebar_left1box li img{
    width: 4px;
    float: right;
    position: relative;
    top: 1px;
    right: 4px;
}
.sidebar_left2box li img{
    width: 4px;
    float: right;
    position: relative;
    top: 1px;
    right: 4px;
}

.status_display{
    display: inline-block;
    width: 100%;
}
.sidebar_left2box{
    border: 1px solid #d1d3d4;
    border-radius: 14px;
    margin-bottom: 25px;
    width: 100%;
    display: inline-block;
    padding-bottom: 23px;
    margin-top: 0px;
}
.page-wrapper{
    background: #fff;
}

.DriverPro_textsetb{
    display: inline-block;
    width: 100%;
}
.DriverPro_textsetb h4{
    color: #B5B5B5;
    font-family: 'Rubik-Regular';
    font-size: 18px;
    padding-left: 15px;
    padding-top: 14px;
    padding-bottom: 10px;
}


.customeboxdesign1{

}
.customeboxdesign1 .heading-bg{
    padding-top: 0;
    padding-bottom: 0;
    height: 44px;
}
.BoxDesignCoverInerCla1{
    border: 1px solid #d1d3d4;
    border-radius: 14px;
}
.customeboxdesign1 .update_image_append{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #f1f2f2;
}
.customeboxdesign1 .update_image_append img{
    width: 100%;
    height: 100%;    
    object-fit: cover;
}

.BoxDesignCoverInerCla1 .form-group{
    margin-bottom: 25px;
}
.BoxDesignCoverInerCla1 .form-group .control-label{
    color: #939598;
    font-family: 'Rubik-Regular';
}
.BoxDesignCoverInerCla1 .form-group .control-label span{
    color: #939598;
    font-family: 'Rubik-Regular';
}
.BoxDesignCoverInerCla1 .form-group .form-control{
    border: 1px solid #d1d3d4;
    border-radius: 9px;
}
.BoxDesignCoverInerCla1 .form-group .input-group.date .form-control{
    border-radius: 9px 0px 0px 9px;
}
.BoxDesignCoverInerCla1 .input-group-addon{
    border: 1px solid #d1d3d4;
    border-radius: 0px 9px 9px 0px;
    border-left: 0px;
}
.colmd12fullwidth{
    display: inline-block;
    width: 100%;
}
.colmd12fullwidth1{
    display: inline-block;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
}
.colmd12fullwidth2{
    display: inline-block;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
}



.MaleFemalerediobtn1{
    display: inline-block;
    width: 100%;
}
.MaleFemalerediobtn1 .radio.radio-info{
    width: 100px;
    float: left;
    display: inline-block;
    margin: 0;
}
.MaleFemalerediobtn1 .radio.radio-info label{
    color: #4a494a;
    font-family: 'Rubik-Regular';
}
.MaleFemalerediobtn1 .radio-info input[type="radio"]:checked + label::before {
    border-color: #507cbe !important;
}
.MaleFemalerediobtn1 .radio-info input[type="radio"]:checked + label::after {
    background-color: #507cbe !important;
    background: url(../svg/righticon1.svg) top center no-repeat;
    background-size: 11px;
    background-position-y: 5px;
    width: 18px;
    height: 18px;
    left: 0;
    top: 0;
}
.MaleFemalerediobtn1 .radio.radio-info .form-control{
    border: 1px solid #d1d3d4 !important;
    border-radius: 9px;
    display: inline-block;
    width: 100%;
    height: auto;
}
.MaleFemalerediobtn1 .radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}
.MaleFemalerediobtn1 .radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3.5px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.driver_button{
    display: inline-block;
    width: 100%;
}
.driver_button button{
    color: #495faa;
    border: 1.5px solid #507cbe;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    border-radius: 8px;
    font-family: 'Rubik-Regular';
    margin-bottom: 24px;
    background: transparent;
}

.colmd12fullwidth2 .btnsetm{
    color: #495faa;
    border: 1.5px solid #507cbe;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 28px;
    padding-right: 28px;
    display: inline-block;
    border-radius: 8px;
    font-family: 'Rubik-Regular';
    margin-bottom: 24px;
    background: transparent;
    
}


.VehiclesListBoxdesign{
    display: inline-block;
    width: 100%;
    border: 1.5px solid #d1d3d4;
    border-radius: 10px;
    color: #b5b5b6;
    height: 55px;
    padding-top: 14px;
    padding-left: 20px;
    font-family: 'Rubik-Regular';
    margin-bottom: 18px;
    width: 50%;
    font-size: 18px;
    padding-right: 20px;
}
.VehiclesListBoxdesign a{
    float: right;
}
.VehiclesListBoxdesign a i{
    color: #b5b5b6;
}

.MyVehicles_maintitlebox{
    display: inline-block;
    float: left;
}
.MyVehicles_maintitlebox p{
    color: #231f20;
    font-family: 'Rubik-Regular';
    font-size: 20px;
    margin: 0;
}
.AddVehicles_Btnbox{
    display: inline-block;
    float: right;
}
.AddVehicles_Btnbox a{
    color: #495faa;
    border: 1.5px solid #507cbe;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 28px;
    padding-right: 28px;
    display: inline-block;
    border-radius: 8px;
    font-family: 'Rubik-Regular';
    margin-bottom: 0;
    background: transparent;
}
/****/

.vehicle_list{
    display: inline-block;
    width: 100%;
}
.vehicle_list_box1inrpart{
    display: inline-block;
    width: 100%;
    margin-bottom: 38px;
}
.vehicle_list_box2inrpart{
    display: inline-block;
    width: 100%;
    margin-bottom: 38px;
}
.vehicle_list .panel.panel-default{
    width: 65%;
    border: 1.5px solid #d1d3d4;
    margin-bottom: 38px;
    border-radius: 14px;
}
.vehicle_list .panel-heading{
    width: 100%;
    padding: 0;
    background: transparent;
}
.vehicle_list .panel-body{
    border-top: 0px solid #d1d3d4 !important;
    padding: 0 !important;
}
.widthfullcolap{
    display: inline-block;
    width: 100%;
}
.widthfullcolap .DD_list{
    /*border: 1.5px solid #d1d3d4;*/
    border-radius: 10px;
    display: inline-block;
    width: 100%;
    height: 55px;
    padding-top: 19px;
    padding-left: 20px;
    padding-right: 20px;
}


.vehicle_list .document_success{
    display: inline-block;
    float: right;
    color: #66bf77;
    font-family: 'Rubik-Regular';
    font-size: 18px;
}
.vehicle_list .document_error{
    display: inline-block;
    float: right;
    color: #ef4756;
    font-family: 'Rubik-Regular';
    font-size: 18px;
}

.vehicle_list .lefthedtitl{
    display: inline-block;
    float: left;
    color: #b5b5b6;
    font-family: 'Rubik-Regular';
    font-size: 18px;
}


.Driver_documents{
    width: 100%;
    display: inline-block;
}
.Document_list .panel-body{
    display: inline-block;
    width: 100%;

}
.Document_list .card{
    display: inline-block;
    width: 100%;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 34px;
    padding-bottom: 34px;
}

.Document_list{
    display: inline-block;
    width: 100%;
    border-top: 1.5px solid #d1d3d4 !important;
}
.deleteBtnboxright{
    display: inline-block;
    width: 100%;
    text-align: right;
    margin-bottom: 25px;
}
.deleteBtnboxright h3{
    display: inline-block;
    float: left;
    color: #231f20;
    font-family: 'Rubik-Regular';
    font-size: 22px;
}
.deleteBtnboxright button{
    display: inline-block;
    color: #495faa;
    border: 1.5px solid #507cbe;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 34px;
    padding-right: 34px;
    border-radius: 8px;
    font-family: 'Rubik-Regular';
    margin-bottom: 24px;
    background: transparent;
    margin: 0;
}

.ExpiryDateBoxSet{
    display: inline-block;
    width: 100%;
    margin-top: 18px;
    margin-bottom: 8px;
}

.ExpiryDateBoxSet .form-group{
    display: inline-block;
    width: 48%;
}
.ExpiryDateBoxSet .form-control{
    border: 1px solid #d1d3d4;
    border-radius: 9px;
}

.ExpiryDateBoxSet .input-group-addon{
    border: 1px solid #d1d3d4;
    border-radius: 0px 9px 9px 0px;
    border-left: 0px;
}
.ExpiryDateBoxSet .form-group .control-label{
    text-transform: capitalize;
    color: #939598;
    font-family: 'Rubik-Regular';
}
.Document_list .submit_button input{
    display: inline-block;
    color: #495faa;
    border: 1.5px solid #507cbe;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 34px;
    padding-right: 34px;
    border-radius: 8px;
    font-family: 'Rubik-Regular';
    margin-bottom: 24px;
    background: transparent;
    margin: 0;
}
.back_button{
    float: right;
    margin-bottom: 5px;
}


/* style for display image in vehicle */

.display_vehicle_image{
    width: 100% !important;
    float: left !important;
}
.image{
    width: 14% !important;
    float: left !important;
}


/**** User Profile CSS ****/
.profilepageboxset{
    padding-top: 28px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    border: 0;
}

.profile_boxoineami{
    display: inline-block;
    width: 64%;
    border: 1px solid #d1d3d4;
    border-radius: 14px;
}

.profile_titaltext{
    display: inline-block;
    width: 100%;
    padding-top: 20px;
    padding-left: 24px;
}
.profile_titaltext h3{
    display: inline-block;
    width: 100%;
    font-family: 'Rubik-Regular';
}

.profileleftrightbox{
    display: inline-block;
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-bottom: 13px;
    padding-top: 13px;
    position: relative;
    border-bottom: 1px solid #D1D2D4;
}
.profileleftrightbox_left{
    display: inline-block;
    width: 35%;
    float: left;
}
.profileleftrightbox_right{
    display: inline-block;
    width: 65%;
    float: left;
}


.profileleftrightbox_left p {
    color: #808284;
    font-family: 'Rubik-Medium';
    font-size: 12px;
    margin: 0px;
    padding-top: 0px;
}
.profileleftrightbox_right img {
    width: 40px;
}
.profileleftrightbox_right p {
    color: #494949;
    font-family: 'Rubik-Regular';
    font-size: 13px;
    margin: 0px;
}

.nameproimgbox .profileleftrightbox_left p{
    padding-top: 11px;
}

.setborderbor{
    border-bottom: 0px;
}
.verified_icondiv{
    position: absolute;
    right: 13px;
    top: 13px;
}
.verified_icondiv img {
    width: 17px;
    
}


/**** User Profile CSS ****/

/*.fixed-sidebar-left.Sidebar_NewDesignCust{
    widows: 300px !important;
}
.sidebar-hover .fixed-sidebar-left.Sidebar_NewDesignCust{
    widows: 300px !important;
}

*/

.dataTables_wrapper .dataTables_length{
    padding-left: 0;
}
.dataTables_wrapper .dataTables_info{
    padding-left: 0;
}
.riders_statustext{
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}
.riders_statustext h3{
    color: #000000;
    font-family: 'Rubik-Medium';
    font-size: 20px;
}
.statusbtnandtx{
    margin-top: 14px;
    display: inline-block;
    width: 100%;
}
.statusbtnandtx p{
    font-family: 'Rubik-Regular';
    color: #000000;
    font-size: 16px;
    display: inline-block;
    float: left;
    margin-right: 16px;
    margin-top: 6px;
}
.statusbtnandtx a{
    display: inline-block;
    float: left;
    color: #000000;
    font-family: 'Rubik-Regular';
    font-size: 15px;
    padding: 6px 16px;
    border: 1px solid #000;
    margin-right: 13px;
}
.statusbtnandtx a:hover{
    color: #fff;
    border: 1px solid #fff;
    background: rgba(39,169,225,1) !important;
    background: -moz-linear-gradient(left, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(101,44,144,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(39,169,225,1)), color-stop(0%, rgba(39,169,225,1)), color-stop(0%, rgba(39,169,225,1)), color-stop(0%, rgba(39,169,225,1)), color-stop(100%, rgba(101,44,144,1)));
    background: -webkit-linear-gradient(left, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(101,44,144,1) 100%);
    background: -o-linear-gradient(left, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(101,44,144,1) 100%);
    background: -ms-linear-gradient(left, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(101,44,144,1) 100%);
    background: linear-gradient(to right, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(39,169,225,1) 0%, rgba(101,44,144,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27a9e1', endColorstr='#652c90', GradientType=1 ) !important;

}

.statusride_table{
    display: inline-block;
    width: 100%;
    padding-left: 0;
    padding-right: 25px;
    margin-bottom: 38px;
}
.statusride_table table.dataTable thead th {
    border-bottom: 0px solid #A7A9AB !important;
    font-family: 'Rubik-Medium';
    font-weight: 100;
    border-right: 0px;
    border-left: 1px solid #ddd !important;
    text-transform: capitalize;
}
.statusride_table .table.dataTable.no-footer {
    border-bottom: 0px solid #ddd !important;
    border-left: 0;
    border: 1px solid #ddd !important;
}
.statusride_table .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fff;
}
.statusride_table table.dataTable tbody th, table.dataTable tbody td {
    border-right: 0;
    border-bottom: 0;
}

.statusride_table table.dataTable tbody th, table.dataTable tbody{
    border-right: 1px solid  #ddd !important;
}

.statusride_table table.dataTable tbody tr td{
    font-family: 'Rubik-Light';
    color: #000000;
    padding-left: 18px;
}
.statusride_table table.dataTable tbody a{
    font-family: 'Rubik-Medium';
    color: #482080;
}
.bookgnotext{
    color: #482080;
    font-family: 'Rubik-Medium';
}



.collectdrefudrecv{
    display: inline-block;
    width: 100%;
    padding-left: 21px;
}


.collectotl_stripall{
    display: inline-block;
    width: 100%;
}

.intextsetboxcolt{
    display: inline-block;
    width: 100%;
    border: 1px solid #EAEAEA;
    padding-left: 17px;    
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 17px;
}
.intextsetboxcolt h3{
    color: #4D4F5C;
    font-family: 'Rubik-Medium';
    font-size: 22px;
    margin: 0;
    display: inline-block;
    width: 100%;
    line-height: 26px;    
    padding-top: 10px;
}
.intextsetboxcolt p{
    color: #6A7284;
    font-family: 'Rubik-Regular';
    margin: 0;
    display: inline-block;
    width: 100%;
    padding-bottom: 8px;
}
.collectotl_stripall h5{
    color: #4D4F5C;
    font-family: 'Rubik-Medium';
    margin-top: 30px;
    margin-bottom: 12px;
}
.collectotl_inerbox1{
    display: inline-block;
    width: 18%;
    float: left;
    margin-right: 32px;
}
.collectotl_inerbox2{
    display: inline-block;
    width: 18%;
    float: left;
    margin-right: 32px;
}
.collectotl_inerbox3{
    display: inline-block;
    width: 18%;
    float: left;
   
}

.redtext{
    color: #E6494E !important;
}
.grintext{
    color: #0BA05A !important;
}


.estmttodritorid{
    display: inline-block;
    width: 100%;
}



.estmttodritorid{
    display: inline-block;
    width: 100%;
}

.estmttodritorid h5{
    color: #4D4F5C;
    font-family: 'Rubik-Medium';
    margin-top: 30px;
    margin-bottom: 12px;
}
.estmttodritorid_child1{
    display: inline-block;
    width: 18%;
    float: left;
    margin-right: 32px;
}
.estmttodritorid_child2{
    display: inline-block;
    width: 39%;
    float: left;
    margin-right: 32px;
}
.estmttodritorid_child3{
    display: inline-block;
    width: 18%;
    float: left;
    margin-right: 32px;
}

.divaider{
    display: inline-block;
    width: 100%;
    border-top: 1px solid #EAEAEA;
    margin: 0;
    margin-bottom: 13px;
    margin-top: 15px;
}
    




.divddivboxfull{
    display: inline-block;
    width: 100%;
}
.divddivbox{
    display: inline-block;
    width: 50%;
    float: left;
}
















/* media queries */
@media (max-width: 3500px){
    .slide-nav-toggle .fixed-sidebar-left {
        width: 225px;
    }
}
@media (max-width: 1200px){
	
}
@media (max-width: 1199px){	
	
}
@media (max-width: 991px){
	
}
@media (max-width: 767px){

}
@media (max-width: 479px){
	
}
@media (max-width: 360px){
	
}
@media (max-width: 320px){
	
}
/* media queries */











