
*{text-decoration:none !important; outline:0 !important; list-style:none !important;}

body {color:#2b2a2a; background:#ffffff; font-family:'robotoregular';}

a,a:hover {transition:0.6s all !important;}

.form-control:focus {box-shadow:0px 0px 5px #fed307 !important; border-color:#fed307;}


@font-face {
    font-family: 'avenir-next-lt-pro-regular';
    src: url('../fonts/avenir-next-lt-pro-regular.otf'),
         url('../fonts/avenir-next-lt-pro-regular.otf');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'avenir-next-lt-pro-medium';
    src: url('../fonts/avenir-next-lt-pro-medium.otf'),
         url('../fonts/avenir-next-lt-pro-medium.otf');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'avenir-next-lt-pro-bold';
    src: url('../fonts/avenir-next-lt-pro-bold.otf'),
         url('../fonts/avenir-next-lt-pro-bold.otf');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'avenir-next-lt-pro-demi';
    src: url('../fonts/avenir-next-lt-pro-demi.otf'),
         url('../fonts/avenir-next-lt-pro-demi.otf');
        font-weight: normal;
        font-style: normal;
}


.login_historyinnerbox ::-webkit-scrollbar {
  width: 4px;
}
.login_historyinnerbox ::-webkit-scrollbar-track {
  background: transparent;
}
.login_historyinnerbox ::-webkit-scrollbar-thumb {
  background: rgb(196, 196, 198);
}









.profiledetiils_boxpart{
    display: inline-block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 8px;
}
.profiledetiils_boxpart p{
    color: #b5b5b5;
    font-size: 16px;
    font-family: 'avenir-next-lt-pro-demi';
}

.profiledetiils_boxpart ul {
    display: inline-block;
    width: 100%;
    padding-left: 0px;
}

.profiledetiils_boxpart ul li {
    position: relative;
    display: inline-block;
    width: 100%;
}
.profiledetiils_boxpart ul li input[type=radio] {
    position: absolute;
    visibility: hidden;
}

.profiledetiils_boxpart input[type=radio]:checked ~ label {
    color: #231f20;
    font-family: 'avenir-next-lt-pro-medium';
}
.profiledetiils_boxpart ul li label {
    color: #acadad;
    color: #acadad;
    font-family: 'avenir-next-lt-pro-medium';
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.35em;
    padding: 0px 20px 0px 38px;
    margin: 10px auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    display: inline-block;
    height: auto;
    padding-bottom: 0px;
}
.profiledetiils_boxpart label {
    font-size: 22px;
    font-family: 'avenir-next-lt-pro-demi';
    display: block;
    margin: 0;
    float: left;
    padding-right: 16px;
}
.profiledetiils_boxpart ul li .check {
    display: block;
    position: absolute;
    border-radius: 100%;
    height: 28px;
    width: 28px;
    top: 9px;
    left: 0px;
    z-index: 5;
    /* background: #acadad; */
    border: 2px solid #acadad;
}

.profiledetiils_boxpart input[type=radio]:checked ~ .check::before {
    background: url(../images/right-icon.png) no-repeat;
    background-size: 100%;
}
.profiledetiils_boxpart ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 15px;
    width: 17px;
    top: 7px;
    left: 6px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

.profiledetiils_boxpart input[type=radio]:checked ~ .check {
    border: 0 !important;
    background: rgba(26,171,171,1);
    background: -moz-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(26,171,171,1)), color-stop(100%, rgba(16,87,135,1)));
    background: -webkit-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -o-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -ms-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: linear-gradient(to right, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1aabab', endColorstr='#105787', GradientType=1 );
}
.profiledetiils_boxpart ul li .check {
    display: block;
    position: absolute;
    border-radius: 100%;
    height: 28px;
    width: 28px;
    top: 9px;
    left: 0px;
    z-index: 5;
    /* background: #acadad; */
    border: 2px solid #acadad;
}

.firstinputetop_boxpart{
    display: inline-block;
    width: 100%;
}
.emailinpute_topboxpart{
    display: inline-block;
    width: 100%;
}

.newsletter_subscribed{
    display: inline-block;
    width: 100%;
    padding-top: 33px;
}
.newsletter_subscribed p{
    color: #b5b5b5;
    font-size: 16px;
    padding-bottom: 14px;
    font-family: 'avenir-next-lt-pro-demi';
}
.newsletter_subscribed .newcheckbox {
    display: block;
    position: relative;
    padding-left: 46px;
    padding-top: 2px;
    color: #444344;
    font-family: 'avenir-next-lt-pro-medium';
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 19px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.newsletter_subscribed .newcheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.newsletter_subscribed .newcheckbox input:checked ~ .checkmark {
    background: rgba(26,171,171,1);
    background: -moz-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(26,171,171,1)), color-stop(100%, rgba(16,87,135,1)));
    background: -webkit-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -o-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -ms-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: linear-gradient(to right, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1aabab', endColorstr='#105787', GradientType=1 );
    border-radius: 4px;
}
.newsletter_subscribed .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border: 1px solid #acadad;
    background-color: #fff;
    border-radius: 4px !important;
}

.newsletter_subscribed .newcheckbox input:checked ~ .checkmark:after {
    display: block;
}
.newsletter_subscribed .newcheckbox .checkmark:after {
    left: 10px;
    top: 5px;
    width: 8px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.newsletter_subscribed .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.dateofbirth_boxpart{
    display: inline-block;
    width: 100%;
    padding-top: 30px;
}
.dateofbirth_leftbox{
    display: inline-block;
    width: 50%;
    float: left;
    padding-right: 25px;
}
.dateofbirth_leftbox input{
    width: 100%;
    border: 0px;
    font-size: 18px;
    font-family: 'avenir-next-lt-pro-medium';
    border-bottom: 1px solid #bbbdc0;
    background: transparent;
}
.dateofbirth_leftbox p{
    color: #b5b5b5;
    font-size: 16px;
    margin: 0px;    
    padding-bottom: 14px;
    font-family: 'avenir-next-lt-pro-demi';
}
.gender_boxpart{
    display: inline-block;
    width: 50%;
    float: left;
    padding-left: 25px;
}
.gender_boxpart p{
    color: #b5b5b5;
    font-size: 16px;
    margin:0px;
    padding-bottom: 14px;
    font-family: 'avenir-next-lt-pro-demi';
}
.gender_boxpart ul li {
    position: relative;
    display: inline-block;
    width: 30%;
    float: left;
}
.gender_boxpart .profiledetiils_boxpart {
    display: inline-block;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0px;
}

.accounttemporary_btnbox{
    display: inline-block;
    width: 100%;
}

.registered_boxpart{
    display: inline-block;
    width: 24%;
    padding-top: 10px;
    border-bottom: 1px solid #bbbdc0;
}
.registered_boxpart p{
    margin: 0px;
    color: #b5b5b5;
    font-size: 16px;
    padding-bottom: 15px;
    font-family: 'avenir-next-lt-pro-demi';
}
.registered_boxpart h3{
    margin: 0px;
    color: #494949;
    font-family: 'avenir-next-lt-pro-medium';
    font-size: 18px;
    padding-bottom: 8px;
}

.login_historyman_boxpart{
    display: inline-block;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0px;
    border: 1px solid #bbbdc0;
    border-radius: 10px;
    margin-top: 50px;
}

.login_historyinnerbox{
    display: inline-block;
    width: 100%;
    padding-top: 10px;
}
.login_historyinnerbox ul{
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    padding-bottom: 40px;
} 
.login_historyinnerbox ul li{
    display: inline-block;
    width: 33.33%;
    float: left;
    text-align: center;
} 

.login_historyinnerbox p{
    margin: 0px;
    color: #b5b5b5;    
    text-align: left;
    padding-bottom: 15px;
    font-family: 'avenir-next-lt-pro-demi';
}
.login_historyinnerbox h3{
    margin: 0px;
    color: #494949;
    font-size: 20px;    
    text-align: left;
    font-family: 'avenir-next-lt-pro-medium';
}

.profilecompleted_boxpart{
    display: inline-block;
    width: 100%;
    padding-top: 13px;
}
.profilecompleted_boxpart p{
    margin: 0px;
    color: #494949;
    font-size: 20px;        
    font-family: 'avenir-next-lt-pro-medium';
}

.profile_completeddetalboxpart{
    display: inline-block;
    width: 100%;
    display: inline-block;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0px;
    border: 1px solid #bbbdc0;
    border-radius: 10px;
    margin-top: 29px;
    padding-top: 40px;
}

.personal_detailsboxpart{
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #bbbdc0;
    padding-bottom: 13px;
    margin-bottom: 50px;
}
.personal_detailsboxpart p{
    margin: 0px;
    color: #b5b5b5;
    font-family: 'avenir-next-lt-pro-demi';
    padding-bottom: 13px;
    font-size: 17px;
    text-transform: uppercase;
}
.completed_boxleft{
    display: inline-block;
    width: 50%;
    float: left;
}
.completed_boxleft h3{
    color: #494949;
    font-family: 'avenir-next-lt-pro-medium';
    margin:0px;
    font-size: 18px;
}
.veified_boxright{
    display: inline-block;
    width: 50%;
    float: left;
}
.veified_boxright h3{
    color: #494949;
    font-family: 'avenir-next-lt-pro-medium';
    margin:0px;
    font-size: 18px;
    text-align: right;
}

.collaps_boxpartman{
    display: inline-block;
    width: 100%;
    margin-top: 29px;
}

.collaps_boxpartman .panel-default>.panel-heading {
    color: #333;
    background-color: #fff;    
    padding-top: 16px;
    padding-bottom: 6px;
    border-radius: 11px;
    padding-left: 30px;
    padding-right: 30px;
}

.collaps_boxpartman .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    display: inline-block;
    width: 100%;    
}
.collaps_boxpartman #accordion a{
    font-family: 'avenir-next-lt-pro-demi'
}
.collaps_boxpartman .panel-heading {
    padding: 10px 15px;
    border-bottom: 0px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;    
}
.collaps_boxpartman .panel-group .panel {
    margin-bottom: 0;
    border-radius: 10px;
    border: 0px;
    margin-bottom: 30px;
}
.bordersetbox{
    border: 2px solid #39b772 !important;    
}


.panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 0px solid #ddd;
}
.newborderset p{
    float: right;
    color: #b5b5b5;
    font-family: 'avenir-next-lt-pro-demi'
}
.bordersetbox1{
    border: 2px solid #ef4656 !important;
}

.bordersetbox2{
    border: 2px solid #bbbdc0 !important;
}

.bodysetboxpart{
    display: inline-block;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
.presonaldetaisa_manboxpart{
    display: inline-block;
    width: 100%;
}
.presonaldetaisa_manboxpart .formnewdesign_set p {
    margin: 0px;
    color: #b5b5b5;
    font-size: 13px;
    font-family: 'avenir-next-lt-pro-demi';
    text-align: left;
    float: left !important;
}
.presonaldetaisa_manboxpart .formnewdesign_set input[type="text"], .formnewdesign_set input[type="password"] {
    width: 100%;
    padding: 4px 0 6px;
    padding-left: 0;
    background: none;
    /* color: white; */
    font-size: 1.2em;
    font-weight: 400;
    border: none;
    border-bottom: 2px solid #dcddde;
    outline: 0;
}
.presonaldetaisa_manboxpart .dateofbirth_leftbox p {
    color: #b5b5b5;
    font-size: 13px;
    margin: 0px;
    padding-bottom: 14px;
    font-family: 'avenir-next-lt-pro-demi';
    float: left !important;
}
.presonaldetaisa_manboxpart .gender_boxpart p {
    color: #b5b5b5;
    font-size: 13px;
    margin: 0px;
    padding-bottom: 14px;
    font-family: 'avenir-next-lt-pro-demi';
    text-align: left;
    float: left !important;
}
.streetaddress_boxpart{
    display: inline-block;
    width: 100%;
}
.verification_dateboxpart{
    display: inline-block;
    width: 100%;
}
.verification_dateboxpart .dateofbirth_leftbox {
    display: inline-block;
    width: 50%;
    float: left;
    padding-right: 45px;
}
.verification_dateboxpart .gender_boxpart {
    display: inline-block;
    width: 50%;
    float: left;
    padding-left: 45px;
}
.inpute_verifiledboxpart{
    display: inline-block;
    width: 100%;
    padding-bottom: 31px;
}
.lastupdated_textbtn{
    display: inline-block;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 16px;
}
.lastupdated_textbtn .chageemail_btnboxpart{
    display: inline-block;
    width: 100%;
    margin-top: 23px;
}

.lastupdated_textbtn p{
    color: #b5b5b5;
    font-family: 'avenir-next-lt-pro-demi';
    float: left;
    font-size: 16px;
}
.verify_btnboxpart{
    display: inline-block;
    width: 100%;
}
.driverlicence_manbox{
    display: inline-block;
    width: 100%;
    margin-bottom: 34px;
}
.forntside_boxpart{
    display: inline-block;
    width: 59%;
    float: left;
}
.forntside_text p{
    color: #b5b5b5;
    font-family: 'avenir-next-lt-pro-demi';
    font-size: 16px;
    float: left !important;
    padding-bottom: 11px;   
}
.upload_textboxpart{
    display: inline-block;
    width: 30%;
    float: left;
    padding-top: 81px;
    margin-left: 39px;
}
.border_boxpart{
    display: inline-block;
    border: 2px solid #bbbdc0;
    width: 100%;
    height: 230px;
    border-style: dashed;
    border-radius: 5px;
}
.upload_textboxpart p{
    float: left;
    width: 100%;
    color: #ef4656;
    font-size: 18px;
    font-family: 'avenir-next-lt-pro-bold';
}
.expieydate_boxpart{
    display: inline-block;
    width: 100%;
}
.expieydate_boxpart .formnewdesign_set p {
    margin: 0px;
    color: #b5b5b5;
    font-size: 13px;
    font-family: 'avenir-next-lt-pro-demi';
    float: left !important;
}
.expieydate_boxpart .formnewdesign_set input[type="text"], .formnewdesign_set input[type="password"] {
    width: 100%;
    padding: 4px 0 6px;
    padding-left: 0;
    background: none;
    /* color: white; */
    font-size: 1.2em;
    font-weight: 400;
    border: none;
    border-bottom: 2px solid #dcddde;
    outline: 0;
}

.practicepermitid_manbox{
    display: inline-block;
    width: 100%;
}
.practicepermitid_manbox .formnewdesign_set input[type="text"], .formnewdesign_set input[type="password"] {
    width: 100%;
    padding: 4px 0 6px;
    padding-left: 0;
    background: none;
    /* color: white; */
    font-size: 1.2em;
    font-weight: 400;
    border: none;
    border-bottom: 2px solid #dcddde;
    outline: 0;
}
.verify_btnboxpart a{
    color: #fff;
    background: #39b772;
    border: 1px solid #bcbec0;
    font-family: 'avenir-next-lt-pro-bold';
    font-size: 17px;
    border-radius: 8px;
    padding: 9px 19px 7px;
    display: inline-block;
    float: left;
}
.workexperience_manboxpart{
    display: inline-block;
    width: 100%;
}
.totalexperience_boxpart{
    display: inline-block;
    width: 100%;
    padding-bottom: 19px;
}
.totalexperience_boxpart p{
    margin: 0px;
    font-family: 'avenir-next-lt-pro-demi';
    font-size: 16px;
    color: #b5b5b5;
}
.custom_selectboxpart{
    display: inline-block;
    width: 30%;
    float: left;
}
.custom_selectboxpart p{
    display: inline-block;
    color: #494949;
    font-family: 'avenir-next-lt-pro-medium';
    font-size: 22px;
    padding-right: 12px;
}
.custom_selectboxpart select{
    border: 0px;
    border-bottom: 1px solid #bbbdc0;
    font-family: 'avenir-next-lt-pro-medium';
    font-size: 17px;
    width: 140px;
    -webkit-appearance: none;
}
.custom_selectboxpart1{
    display: inline-block;
    width: 30%;
    float: left;
}
.custom_selectboxpart1 select{
    border: 0px;
    border-bottom: 1px solid #bbbdc0;
    font-family: 'avenir-next-lt-pro-medium';
    font-size: 17px;
    width: 140px;
    -webkit-appearance: none;
}
.custom_selectboxpart1 p{
    display: inline-block;
    color: #494949;
    font-family: 'avenir-next-lt-pro-medium';
    font-size: 22px;
    padding-right: 12px;
}
.nameofclinic_boxpart{
    display: inline-block;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 33px;
}
.nameofclinic_boxpart .formnewdesign_set input[type="text"], .formnewdesign_set input[type="password"] {
    width: 100%;
    padding: 4px 0 6px;
    padding-left: 0;
    background: none;
    /* color: white; */
    font-size: 1.2em;
    font-weight: 400;
    border: none;
    border-bottom: 2px solid #dcddde;
    outline: 0;
}
.cerificates_boxpart{
    display: inline-block;
    width: 100%;
}
.cerificates_boxpart .newsletter_subscribed {
    display: inline-block;
    width: 100%;
    padding-top: 8px;
}
.cerificates_boxpart .newsletter_subscribed .newcheckbox {
    display: block;
    position: relative;
    padding-left: 46px;
    padding-top: 2px;
    color: #444344;
    font-family: 'avenir-next-lt-pro-medium';
    margin-bottom: 27px;
    cursor: pointer;
    font-size: 19px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.resume_textboxpart{
    display: inline-block;
    width: 100%;
}
.resume_textboxpart p{
    font-size: 13px;
    color: #b5b5b5;
    font-family: 'avenir-next-lt-pro-demi';
}

.resume_textboxpart .file-upload {
    display: block;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
.resume_textboxpart .file-upload .file-select {
    display: block;
    /* border: 2px solid #dce4ec; */
    color: #34495e;
    cursor: pointer;
    height: auto;
    line-height: 40px;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
}
.resume_textboxpart .file-upload .file-select .file-select-button {
    background: transparent;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    color: #00afc0;
    font-family: 'avenir-next-lt-pro-demi';
    font-size: 20px;
    padding-right: 0%;
}

.resume_textboxpart .file-select-button {
    float: right;
}
.resume_textboxpart .file-upload .file-select .file-select-name {
    line-height: 45px;
    display: inline-block;
    padding: 0 0px;
    width: 73%;
    border: 0px solid #d1d3d4;
    height: 45px;
    border-radius: 10px;
    color: #555;    
    font-size: 18px;
    font-family: 'avenir-next-lt-pro-medium';
}
.resume_textboxpart .file-upload .file-select input[type=file] {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    border: 1px solid #d1d3d4;
}
.resume_pdfboxpart{
    display: inline-block;
    width: 70%;
    float: left;
}
.resume_pdfboxpart p{
    color: #494949;
    font-size: 17px;
    font-family: 'avenir-next-lt-pro-medium';
}
.resume_viewright{
    display: inline-block;
    width: 30%;
    float: left;
}
.resume_viewright p{
    color: #188c9e;
    font-family: 'avenir-next-lt-pro-bold';
    font-size: 17px;
    display: inline-block;
}
.resume_viewright span{
    color: #ef4656;
    font-family: 'avenir-next-lt-pro-bold';
    font-size: 17px;
    padding-left: 15px;
}








/* 21-2-2019 */
/* END 21-2-2019 */



















































/* media queries */
@media (max-width: 1200px){
	
}
@media (max-width: 1199px){	
	
}
@media (max-width: 991px){
	
}
@media (max-width: 767px){

}
@media (max-width: 479px){
	
}
@media (max-width: 360px){
	
}
@media (max-width: 320px){
	
}
/* media queries */











