
*{text-decoration:none !important; outline:0 !important; list-style:none !important;}

body {color:#2b2a2a; background:#F7F9FB; font-family:'robotoregular';}

a,a:hover {transition:0.6s all !important;}

.form-control:focus {box-shadow:0px 0px 5px #fed307 !important; border-color:#fed307;}


@font-face {
    font-family: 'avenir-next-lt-pro-regular';
    src: url('../fonts/avenir-next-lt-pro-regular.otf'),
         url('../fonts/avenir-next-lt-pro-regular.otf');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'avenir-next-lt-pro-medium';
    src: url('../fonts/avenir-next-lt-pro-medium.otf'),
         url('../fonts/avenir-next-lt-pro-medium.otf');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'avenir-next-lt-pro-bold';
    src: url('../fonts/avenir-next-lt-pro-bold.otf'),
         url('../fonts/avenir-next-lt-pro-bold.otf');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'avenir-next-lt-pro-demi';
    src: url('../fonts/avenir-next-lt-pro-demi.otf'),
         url('../fonts/avenir-next-lt-pro-demi.otf');
        font-weight: normal;
        font-style: normal;
}





/* media queries */
@media (max-width: 1200px){
	
}
@media (max-width: 1199px){	
	
}
@media (max-width: 991px){
	
}
@media (max-width: 767px){

}
@media (max-width: 479px){
	
}
@media (max-width: 360px){
	
}
@media (max-width: 320px){
	
}
/* media queries */











