
*{text-decoration:none !important; outline:0 !important; list-style:none !important;}

body {color:#2b2a2a; background:#ffffff; font-family:'robotoregular';}

a,a:hover {transition:0.6s all !important;}

.form-control:focus {box-shadow:0px 0px 5px #fed307 !important; border-color:#fed307;}


@font-face {
    font-family: 'avenir-next-lt-pro-regular';
    src: url('../fonts/avenir-next-lt-pro-regular.otf'),
         url('../fonts/avenir-next-lt-pro-regular.otf');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'avenir-next-lt-pro-medium';
    src: url('../fonts/avenir-next-lt-pro-medium.otf'),
         url('../fonts/avenir-next-lt-pro-medium.otf');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'avenir-next-lt-pro-bold';
    src: url('../fonts/avenir-next-lt-pro-bold.otf'),
         url('../fonts/avenir-next-lt-pro-bold.otf');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'avenir-next-lt-pro-demi';
    src: url('../fonts/avenir-next-lt-pro-demi.otf'),
         url('../fonts/avenir-next-lt-pro-demi.otf');
        font-weight: normal;
        font-style: normal;
}

.shiftdetails_topbox{
    display: inline-block;
    width: 100%;
    padding-top: 50px;
}
.shiftdetails_boxpart{
    display: inline-block;
    width: 50%;
    float: left;
}
.shiftdetails_boxpart h3{
    margin: 0px;
    font-family: 'avenir-next-lt-pro-bold';
    color: #494949;
    font-size: 29px;
}

.delete_btnboxpart{
    display: inline-block;
    width: 50%;
    float: right;
    text-align: right;
}
/*.delete_btnboxpart a {
    color: #4a494a;
    border: 1px solid #bcbec0;
    font-family: 'avenir-next-lt-pro-bold';
    font-size: 15px;
    border-radius: 8px;
    padding: 9px 19px 7px;
    margin-left: 11px;
    display: inline-block;    
}*/
.delete_btnboxpart button{
    background: #ef4656;
    border: 0px;
    color: #fff;
    padding: 5px 15px 5px 15px;
    font-family: 'avenir-next-lt-pro-bold';
    font-size: 19px;
    border-radius: 4px;
    border: 1px solid #bcbec0;
    float: right;
    margin-left: 28px;
}

.employe_deletetex{
    display: inline-block;
    width: 100%;
    border: 2px solid #ef4656;
    border-radius: 7px;
    margin-top: 35px;
    margin-bottom: 40px;
}
.employe_deletetex p{
    margin: 0px;
    color: #231f20;
    font-family: 'avenir-next-lt-pro-medium';
    font-size: 19px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.shiftdetails_editsavebox{
    display: inline-block;
    width: 65%;
    float: left;
    margin-right: 54px;
    border: 1px solid #bbbdc0;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 30px;   
    padding-bottom: 45px;
    border-radius: 5px;
   
}
.shiftdetails_righttext{
    display: inline-block;
    width: 50%;
    float: left;
}
.shiftdetails_righttext h3{
    color: #178d9f;
    font-family: 'avenir-next-lt-pro-demi';
    display: inline-block;
    font-size: 24px;
    margin: 0px;
}
.editsave_textboxpart{
    display: inline-block;
    width: 50%;
    float: left;
}
.editsave_textboxpart a{
    display: inline-block;
    text-align: right;
    font-family: 'avenir-next-lt-pro-bold';
    color: #3ab772;
    padding-left: 17px;
    font-size: 20px;
    float: right;
}
.editsave_textboxpart button{
    display: inline-block;
    text-align: right;
    font-family: 'avenir-next-lt-pro-bold';
    color: #3ab772;
    padding-left: 17px;
    font-size: 20px;
    float: right;
    background: inherit;
    border:0;
}
.input_editboxpart{
    display: inline-block;
    width: 100%;
}
.input_editboxpart .formnewdesign_set input[type="text"], .formnewdesign_set input[type="password"] {
    width: 100%;
    padding: 4px 6px;
    padding-left: 0;
    background: none;
    /* color: white; */
    font-size: 1.2em;
    font-weight: 400;
    border: none;
    border-bottom: 0px solid #bbbdc0;
    outline: 0;
}
.input_editboxpart p {
    margin: 0px;
    color: #b5b5b5;
    font-size: 13px;
    font-family: 'avenir-next-lt-pro-medium';
}
.certificates_moduleboxpart{
    display: inline-block;
    width: 100%;
    padding-bottom: 29px;
}
.certificates_moduleboxpart p{
    margin: 0px;
    color: #b5b5b5;
    font-size: 13px;
    padding-bottom: 16px;
    font-family: 'avenir-next-lt-pro-medium';
}
.certificates_moduleboxpart h3{
    margin: 0px;
    color: #494949;
    font-size: 18px;   
    padding-bottom: 11px;
    font-family: 'avenir-next-lt-pro-medium';
}
.additonalnote_textbox{
    display: inline-block;
    width: 100%;    
}
.additonalnote_textbox h4{
    margin: 0px;
    color: #b5b5b5;
    font-size: 18px;   
    padding-bottom: 24px;
    text-transform: uppercase;
    font-family: 'avenir-next-lt-pro-medium';
}
.additonalnote_textbox p{
    margin: 0px;
    color: #494949;
    font-size: 20px;    
    line-height: 27px;
    font-family: 'avenir-next-lt-pro-medium';
}

.clinicdetails_manboxpart{
    display: inline-block;
    width: 30%;
    float: left;
    border: 1px solid #bbbdc0;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 30px;
    padding-bottom: 33px;
    border-radius: 5px;
}
.clinicdetails_textboxpart{
    display: inline-block;
    width: 100%;    
}
.clinicdetails_textboxpart h3{
    color: #178d9f;
    font-family: 'avenir-next-lt-pro-demi';
    display: inline-block;
    font-size: 24px;
    margin: 0px;
}
.inputeclinic_detailsrighiobx{
    display: inline-block;
    width: 100%;
}
.inputeclinic_detailsrighiobx .formnewdesign_set input[type="text"], .formnewdesign_set input[type="password"] {
    width: 100%;
    padding: 4px 6px;
    padding-left: 0;
    background: none;
    /* color: white; */
    font-size: 1.2em;
    font-weight: 400;
    border: none;
    border-bottom: 2px solid #bbbdc0;
    outline: 0;
}
.viewprofile_btn{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 41px;
}
.viewprofile_btn button{
    border: 0px;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    font-family: 'avenir-next-lt-pro-bold';
    padding: 10px 21px 8px 21px;
    background: rgba(26,171,171,1);
    background: -moz-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(26,171,171,1)), color-stop(100%, rgba(16,87,135,1)));
    background: -webkit-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -o-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -ms-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: linear-gradient(to right, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1aabab', endColorstr='#105787', GradientType=1 );
}
.shiftstatus_boxapart{
    display: inherit;
    width: 30%;
    margin-top: 32px;
    float: left;
    border: 1px solid #bbbdc0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 23px;
    border-radius: 5px;
}
.shiftstatus_boxapart h3{
    color: #178d9f;
    font-family: 'avenir-next-lt-pro-demi';
    display: inline-block;
    font-size: 24px;
    margin: 0px;
    width: 100%;
    padding-bottom: 30px;
}
.shiftstatus_boxapart button{
    background: #b5b5b5;
    color: #fff;
    padding: 8px 13px 8px 13px;
    border: 0px;
    border-radius: 4px;    
    font-family: 'avenir-next-lt-pro-medium';

}
.publish_btntbox{
    display: inline-block;
    width: 30%;
    float: right;
    text-align: center;
    margin-top: 30px;
}
.publish_btntbox button{
    border: 0px;
    color: #fff;
     font-size: 23px;
    border-radius: 5px;
    font-family: 'avenir-next-lt-pro-bold';
    padding: 10px 122px 8px 122px;
    background: rgba(26,171,171,1);
    background: -moz-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(26,171,171,1)), color-stop(100%, rgba(16,87,135,1)));
    background: -webkit-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -o-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -ms-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: linear-gradient(to right, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1aabab', endColorstr='#105787', GradientType=1 );
}


/***shifi-detalis-2.css***/

.application_formbox{
    display: inline-block;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 24px;
    padding-bottom: 40px;
}
.application_formbox p{
    margin: 0px;
    color: #b5b5b5;
    font-size: 18px;    
    text-transform: uppercase;
    font-family: 'avenir-next-lt-pro-medium';
}

.application_formbox .btn-primary {
    color: #59AEAB;
    background-color: #FFF;
    border-color: #fff;
    font-family: 'avenir-next-lt-pro-medium';
    font-size: 17px;
    padding: 0;
    padding-top: 17px;
}
.application_formbox .btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
     color: #59AEAB;
    background-color: #FFF;
    border-color: #fff;
}
.application_formbox .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
    color: #59AEAB;
    background-color: #FFF;
    border-color: #fff;
}
.application_formbox img{
    width: 15px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    font-family: 'avenir-next-lt-pro-medium' !important;
    left: 0;
    z-index: 1000;
    display: none;
    width: 267px;
    float: left;
    min-width: 214px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    font-family: 'avenir-next-lt-pro-medium';
    font-weight: normal;
}



.application_manboxpartone{
    display: inline-block;
    width: 100%;
    border: 1px solid #bbbdc0;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 30px;
    padding-bottom: 45px;
    border-radius: 5px;
    margin-bottom: 50px;
}
.profile_imgboxleftpart{
    display: inline-block;
    width: 50%;
    float: left;
}
.right_textboxpart{
    display: inline-block;
    width: 50%;
    float: left;
}
.profile_manimgleft{
    display: inline-block;
    width: 70px;
    height: 70px;
    float: left;
    /*background: #EF4756;*/
    border-radius: 100%;
    margin-right: 20px;
}
.profile_imgboxleftpart h4{
    margin: 0px;
    color: #494949;
    font-size: 20px;
    padding-bottom: 5px;
    padding-top: 13px;    
    font-family: 'avenir-next-lt-pro-medium';
}
.profile_imgboxleftpart p{
    margin: 0px;
    color: #b5b5b5;
    font-size: 15px;
    font-family: 'avenir-next-lt-pro-medium';
}
.right_textboxpart h3{
    display: inline-block;
    text-align: right;
    font-family: 'avenir-next-lt-pro-bold';
    color: #3ab772;
    padding-left: 17px;
    font-size: 26px;
    float: right;
}

.experience_manboxpart{
    display: inline-block;
    width: 100%;
    border-top: 1px solid #bbbdc0;
    border-bottom: 1px solid #bbbdc0;
    padding-top: 27px;
    padding-bottom: 27px;    
    margin-top: 45px;
    margin-bottom: 40px;
}
.experience_manboxpart ul{
    padding: 0px;
    margin: 0px;
    display: inline-block;
    width: 100%;
}
.experience_manboxpart ul li{
    display: inline-block;
    width: 25%;
    float: left;
    text-align: center;
}
.experience_manboxpart ul li h3{
    margin: 0px;
    color: #494949;
    font-size: 23px;
    padding-bottom: 6px;
    font-family: 'avenir-next-lt-pro-medium';
}
.experience_manboxpart p{
    margin: 0px;
    color: #b5b5b5;
    font-size: 18px;
    font-family: 'avenir-next-lt-pro-medium';
}
.modulescompleted_manbox{
    display: inline-block;
    width: 100%;
}
.localmodules_box{
    display: inline-block;
    width: 50%;
    float: left;
}
.localmodules_box h3{
    margin: 0px;
    color: #494949;
    font-size: 23px;
    padding-bottom: 29px;
    font-family: 'avenir-next-lt-pro-medium';
}
.localmodules_box p{
    margin: 0px;
    color: #b5b5b5;
    font-size: 18px;
    padding-bottom: 17px;
    font-family: 'avenir-next-lt-pro-medium';
}
.localmodules_box img{
    width: 13px;
    margin-right: 8px;
}
.viewresume_rightbox{
    display: inline-block;
    width: 50%;
    float: left;    
    padding-top: 77px;
}
.viewresume_rightbox button{
    border: 0px;
    float: right;
    margin-left: 32px;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    font-family: 'avenir-next-lt-pro-bold';
    padding: 10px 21px 8px 21px;
    background: rgba(26,171,171,1);
    background: -moz-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(26,171,171,1)), color-stop(100%, rgba(16,87,135,1)));
    background: -webkit-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -o-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -ms-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: linear-gradient(to right, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1aabab', endColorstr='#105787', GradientType=1 );
}
.setbutton button{
    padding: 10px 110px 8px 110px !important;
   background: #3ab772;
    border: 0px;
    color: #fff;
    font-size: 23px;
    border-radius: 5px;
    font-family: 'avenir-next-lt-pro-bold';
    padding: 10px 122px 8px 122px;    
}
/***shifi-detalis-2.css***/

/***shifi-detalis-3.css***/

.requestedemoployer_manboxpart{
    display: inline-block;
    width: 100%;
    border: 1px solid #bbbdc0;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
    border-radius: 5px;
}
.erquested_boxpartleft{
    display: inline-block;
    width: 50%;
    float: left;
}
.erquested_boxpartleft h3{
    color: #178d9f;
    font-family: 'avenir-next-lt-pro-demi';
    display: inline-block;
    font-size: 24px;
    margin: 0px;
    width: 100%;
    padding-bottom: 40px;
}
.erquested_boxpartleft p{
    margin: 0px;
    color: #b5b5b5;
    font-size: 13px;
    font-family: 'avenir-next-lt-pro-medium';
    padding-bottom: 17px;
}


.requestedemoployer_topmanboxpart{
    display: inline-block;
    width: 100%;
    padding-bottom: 40px;
}

.requestedemoployer_topmanboxpart .drop-down{
    width: 100%;
}
.requestedemoployer_topmanboxpart .drop-down .selected a{
  background:#fff no-repeat scroll right center;
  display:block; 
  padding-right:20px; 
  border-bottom: 2px solid #bbbdc0; 
  width:100%;
  border-radius:2px;
  font-family: 'avenir-next-lt-pro-medium';
  color: #494949;
  font-size: 17px;
}

.requestedemoployer_topmanboxpart .drop-down .selected a span{
  cursor:pointer; 
  display:block; 
  padding:5px;
  padding-bottom: 17px;
}

.requestedemoployer_topmanboxpart .drop-down .option{
  position:relative; 
}

.requestedemoployer_topmanboxpart .drop-down .options ul{
  background:#fff none repeat scroll 0 0;
  display:none;
  list-style:none; 
  padding:0px 0px; 
  position:absolute; 
  left:0px; 
  top:32px; 
  width:100%; 
  min-width:170px;
  border:1px solid #d7d7d7;
}

.requestedemoployer_topmanboxpart .drop-down .selected span.value, .drop-down .options span.value{
  display: none;
}

.requestedemoployer_topmanboxpart .drop-down .options ul li a{
  padding:5px; 
  display:block;
  font-family: 'avenir-next-lt-pro-medium';
  color: #494949;
  font-size: 17px;
}

.requestedemoployer_topmanboxpart .drop-down .options ul li a:hover{
  background:#3179ac;
  color:#fff;
  transition:0.2s ease;
}








.selected_boxpartright{
    display: inline-block;
    width: 50%;
    float: left;
}

.selected_boxpartright h3 {
    color: #178d9f;
    font-family: 'avenir-next-lt-pro-demi';
    display: inline-block;
    font-size: 24px;
    margin: 0px;
    width: 100%;
    padding-bottom: 40px;
}
.selected_boxpartright p {
    margin: 0px;
    color: #b5b5b5;
    font-size: 13px;
    font-family: 'avenir-next-lt-pro-medium';
    padding-bottom: 17px;
}
.paddingset_rightclass{
    padding-left: 25px;
}
.paddingsetclass{
    padding-right: 25px;
}
.preferred_ratemanboxpart{
    display: inline-block;
    width: 50%;
    float: left;
}
.preferred_ratemanboxright{
    display: inline-block;
    width: 50%;
    float: left;
}

.preferred_ratemanboxright .formnewdesign_set input[type="text"], .formnewdesign_set input[type="password"] {
    width: 100%;
    padding: 4px 6px;
    padding-left: 0;
    background: none;
    /* color: white; */
    font-size: 1.2em;
    font-weight: 400;
    border: none;
    border-bottom: 2px solid #bbbdc0;
    outline: 0;
}
.preferred_ratemanboxpart .formnewdesign_set input[type="text"], .formnewdesign_set input[type="password"] {
    width: 100%;
    padding: 4px 6px;
    padding-left: 0;
    background: none;
    /* color: white; */
    font-size: 1.2em;
    font-weight: 400;
    border: none;
    border-bottom: 2px solid #bbbdc0;
    outline: 0;
}

.module_topboxpart{
    display: inline-block;
    width: 100%;
    padding-top: 40px;
}
.module_boxpartleft{
    display: inline-block;
    width: 50%;
    float: left;
}

.module_boxpartleft p {
    margin: 0px;
    color: #b5b5b5;
    font-size: 13px;
    padding-bottom: 16px;
    font-family: 'avenir-next-lt-pro-medium';
}
.module_boxpartleft h3 {
    margin: 0px;
    color: #494949;
    font-size: 18px;
    padding-bottom: 11px;
    font-family: 'avenir-next-lt-pro-medium';
}

.modules_boxrightbox{
    display: inline-block;
    width: 50%;
    float: left;
}

.modules_boxrightbox .formnewdesign_set input[type="text"], .formnewdesign_set input[type="password"] {
    width: 100%;
    padding: 4px 6px;
    padding-left: 0;
    background: none;
    /* color: white; */
    font-size: 1.2em;
    font-weight: 400;
    border: none;
    border-bottom: 0px solid #bbbdc0;
    outline: 0;
}

.modules_boxrightbox .formnewdesign_set {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    margin-top: 0;
}

.shiftdade_manboxprt{
    display: inline-block;
    width: 100%;
    border: 1px solid #bbbdc0;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 30px;
    padding-bottom: 40px;
    border-radius: 5px;
    margin-top: 45px;
}

.hire_leftbox{
    display: inline-block;
    width: 30%;
    float: left;
}
.hire_leftbox p {
    margin: 0px;
    color: #b5b5b5;
    font-size: 13px;
    padding-bottom: 16px;
    font-family: 'avenir-next-lt-pro-medium';
}
.hire_leftbox h3 {
    margin: 0px;
    color: #494949;
    font-size: 18px;
    padding-bottom: 11px;
    font-family: 'avenir-next-lt-pro-medium';
}

.shiftdatetime_boxright{
    display: inline-block;
    width: 70%;
    float: left;
}

.shiftdatetime_boxright .formnewdesign_set input[type="text"], .formnewdesign_set input[type="password"] {
    width: 100%;
    padding: 4px 6px;
    padding-left: 0;
    background: none;
    /* color: white; */
    font-size: 1.2em;
    font-weight: 400;
    border: none;
    border-bottom: 0px solid #bbbdc0;
    outline: 0;
}
.shifiduration_box{
    display: inline-block;
    width: 200px;
    float: left;
}
.shifiduration_boxright{
    display: inline-block;
    width: 200px;
    float: left;
}

.payment_boxpart{
    display: inline-block;
    width: 100%;
    border-top: 1px solid #bbbdc0;
    padding-top: 38px;
}
.payment_boxpart ul{
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.payment_boxpart ul li{
    display: inline-block;
    width: 157px;
    float: left;
}
.payment_boxpart p{
    margin: 0px;
    color: #b5b5b5;
    font-size: 13px;
    padding-bottom: 16px;
    font-family: 'avenir-next-lt-pro-medium';
}
.payment_boxpart h3{
    margin: 0px;
    color: #494949;
    font-size: 21px;
    padding-bottom: 0px;
    font-family: 'avenir-next-lt-pro-medium';
}
.payment_boxpart span{
    display: inline-block;
    text-align: right;
    font-family: 'avenir-next-lt-pro-bold';
    color: #3ab772;    
    font-size: 20px;
    
}

.confirmhire_btn{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 65px;
}
.confirmhire_btn button{
    padding: 10px 70px 8px 70px !important;
    background: #3ab772;
    border: 0px;
    color: #fff;
    font-size: 23px;
    border-radius: 5px;
    font-family: 'avenir-next-lt-pro-bold';
}

/***shifi-detalis-3.css***/

/***shifi-detalis-4.css***/

.setnameinfobox{
    display: inline-block;
    width: 100%;
    margin-top: 65px;
}
.setnameinfobox{
    margin-bottom: 0px;
}















/***shifi-detalis-4.css***/






































/* media queries */
@media (max-width: 1200px){
	
}
@media (max-width: 1199px){	
	
}
@media (max-width: 991px){
	
}
@media (max-width: 767px){

}
@media (max-width: 479px){
	
}
@media (max-width: 360px){
	
}
@media (max-width: 320px){
	
}
/* media queries */











