
*{text-decoration:none !important; outline:0 !important; list-style:none !important;}

body {color:#2b2a2a; background:#F7F9FB; font-family:'robotoregular';}

a,a:hover {transition:0.6s all !important;}

.form-control:focus {box-shadow:0px 0px 5px #fed307 !important; border-color:#fed307;}


@font-face {
    font-family: 'avenir-next-lt-pro-regular';
    src: url('../fonts/avenir-next-lt-pro-regular.otf'),
         url('../fonts/avenir-next-lt-pro-regular.otf');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'avenir-next-lt-pro-medium';
    src: url('../fonts/avenir-next-lt-pro-medium.otf'),
         url('../fonts/avenir-next-lt-pro-medium.otf');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'avenir-next-lt-pro-bold';
    src: url('../fonts/avenir-next-lt-pro-bold.otf'),
         url('../fonts/avenir-next-lt-pro-bold.otf');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'avenir-next-lt-pro-demi';
    src: url('../fonts/avenir-next-lt-pro-demi.otf'),
         url('../fonts/avenir-next-lt-pro-demi.otf');
        font-weight: normal;
        font-style: normal;
}





header{
    display: inline-block;
    width: 100%;
    background: rgba(26,171,171,1);
    background: -moz-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(26,171,171,1)), color-stop(100%, rgba(16,87,135,1)));
    background: -webkit-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -o-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -ms-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: linear-gradient(to right, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1aabab', endColorstr='#105787', GradientType=1 );
    height: 90px;
    float: left;
    position: relative;
}

.toplogohedpartset{
    display: inline-block;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 11px;
    float: left;
}
.toplogohedpartset_left{
    display: inline-block;
    float: left;
    padding-top: 28px;
    padding-left: 35px;
}
.toplogohedpartset_left a{
    display: inline-block;
}
.toplogohedpartset_left a img{
    width: 264px;
    /*width: 302px;*/
}
.dshbrd{
    width: 31% !important;
    padding-left: 0px;
    margin-left: 21px;
}
.dsbrdSec{
    width: 100% !important;
}

.toplogohedpartset_right{
    display: inline-block;
    float: right;
    padding-top: 18px;
}
.logoadmin_styleset{

}
.toplogohedpartset_left.logoadmin_styleset a img{
    width: 209px;
}


/* Important styles */
#toggle {
  display: block;
  width: 28px;
  height: 30px;
  margin: 30px auto 10px;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
#toggle span:after{
  top: 9px;
}
#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #888;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on + #menu {
  opacity: 1;
  visibility: visible;
}

/* menu appearance*/
#menu {
  position: relative;
  color: #999;
  width: 200px;
  padding: 10px;
  margin: auto;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  text-align: center;
  border-radius: 4px;
  background: white;
  box-shadow: 0 1px 8px rgba(0,0,0,0.05);
  /* just for this demo */
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s;
}
#menu:after {
  position: absolute;
  top: -15px;
  left: 95px;
  content: "";
  display: block;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
}

.toplogohedpartset_right{
    position: relative;
}


.table_center{
  display:inline-block;
  vertical-align: middle;
}
.drop-down{
    display: inline-block;
    position: relative;
}


.dpboxsetiner{
    display: inline-block;
    width: 48px;
    height: 48px;
    float: left;
}
.dpboxsetiner img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.drop-down__name p{
    float: right;
    color: #fff;
    font-size: 18px;
    font-family: 'avenir-next-lt-pro-demi';
    margin: 0;
    padding-top: 4px;
    padding-left: 20px;
}
.drop-down__name p span{
    display: inline-block;
    float: left;
}
.drop-down__name p img{
    width: 16px;
    float: right;
    margin-top: 18px;
    margin-left: 15px;
}




.drop-down__button{
    display: inline-block;
    line-height: 40px;
    padding: 0 18px;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    width: 220px;
    padding: 0;
    margin-right: 20px;
    margin-right: 36px;
    text-align: right;
}

.drop-down__name {
    /*font-size: 9px;*/
    /*text-transform: uppercase;*/
    /*color: #fff;
    font-weight: 800;
    letter-spacing: 2px;*/
    display: inline-block;
    width: 100%;
    float: left;
}

.drop-down__icon {
    width: 18px;
    vertical-align: middle;
    margin-left: 14px;
    height: 18px;
    border-radius: 50%;
    transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  
}



.drop-down__menu-box {
    position: absolute;
    width: 100%;
    right: 15px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    visibility: hidden;
    opacity: 0;
    margin-top: 5px;
    z-index: 9;
}

.drop-down__menu {
    margin: 0;
    padding: 0 13px;
    list-style: none;
  
}
.drop-down__menu-box:before{
  content:'';
  background-color: transparent;
  border-right: 8px solid transparent;
  position: absolute;
  border-left: 8px solid transparent;
  border-bottom: 8px solid #fff;
  border-top: 8px solid transparent;
  top: -15px;
  right: 18px;

}

.drop-down__menu-box:after{
  content:'';
  background-color: transparent;
}

.drop-down__item {
    font-family: 'avenir-next-lt-pro-regular';
    color: #585858;
    font-size: 13px;
    padding: 13px 0;
    text-align: left;
    font-weight: 500;
    color: #909dc2;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #e0e2e9;
}

.drop-down__item-icon {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 0px;
    fill: #8995b6;
  
}

.drop-down__item:hover .drop-down__item-icon{
  fill: #3d6def;
}

.drop-down__item:hover{
  color: #178D9F;
}



.drop-down__item:last-of-type{
  border-bottom: 0;
}


.drop-down--active .drop-down__menu-box{
    visibility: visible;
    opacity: 1;
    margin-top: 0;
}

.drop-down__item:before{
  content:'';
  position: absolute;
width: 3px;
height: 28px;
background-color: #3d6def;
left: -13px;
top: 50%;
transform: translateY(-50%);
  display:none;
}

.drop-down__item:hover:before{
  display:block;
}






.twopart_coverdiv{
    display: inline-block;
    width: 100%;
}
.leftsidebar_menupart{
    display: inline-block;
    float: left;
    width: 20%;
}
.right_detailspart{
    display: inline-block;
    width: 80%;
    float: right;
    padding-bottom: 50px;
}
.newsetboxpart{
    display: inline-block !important;
    width: 100% !important;
}
.menuinerpartboxs{
    display: inline-block;
    width: 100%;
    background: #fff;
    border-right: 1px solid #e7e7e7;
}
.menuinerpartboxs ul{
    display: inline-block;
    width: 100%;
    padding-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.menuinerpartboxs ul li.active::after{
    content: '';
    background: rgba(26,171,171,1);
    background: -moz-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(26,171,171,1)), color-stop(100%, rgba(16,87,135,1)));
    background: -webkit-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -o-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -ms-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: linear-gradient(to right, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1aabab', endColorstr='#105787', GradientType=1 );
    position: absolute;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: 0;
}
.menuinerpartboxs ul li{
    display: inline-block;
    width: 100%;
    position: relative;
    padding: 20px 22px;
}
.menuinerpartboxs ul li a{
    display: inline-block;
    width: 100%;
    color: #B5B5B6;
    font-family: 'avenir-next-lt-pro-demi';
    font-size: 15px;
}
.menuinerpartboxs ul li.active a{
    color: #000
}
.menuinerpartboxs ul li a span{
    float: left;
    display: inline-block;
    padding-top: 5px;
    padding-left: 22px;
}
.menuinerpartboxs ul li a img{
    width: 42px;
    float: left;

}




.alldetailspartin_boxdesign{
    display: inline-block;
    width: 100%;
    padding-left: 50px;
    padding-top: 30px;
    padding-right: 55px;
}

.creditcard_notebox{
    display: inline-block;
    width: 100%;
    background: rgba(248,156,81,1);
    background: -moz-linear-gradient(left, rgba(248,156,81,1) 0%, rgba(242,107,67,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(248,156,81,1)), color-stop(100%, rgba(242,107,67,1)));
    background: -webkit-linear-gradient(left, rgba(248,156,81,1) 0%, rgba(242,107,67,1) 100%);
    background: -o-linear-gradient(left, rgba(248,156,81,1) 0%, rgba(242,107,67,1) 100%);
    background: -ms-linear-gradient(left, rgba(248,156,81,1) 0%, rgba(242,107,67,1) 100%);
    background: linear-gradient(to right, rgba(248,156,81,1) 0%, rgba(242,107,67,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f89c51', endColorstr='#f26b43', GradientType=1 );
    border-radius: 8px;
    padding: 15px 30px;
    float: left;
}
.creditcard_notebox p{
    color: #fff;
    font-family: 'avenir-next-lt-pro-medium';
    font-size: 18px;
    margin-bottom: 0px;
}


.tblchat_timetablepart{
    display: inline-block;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    border: 1px solid #e7e7e7;
    margin-top: 35px;
    margin-bottom: 35px;
    float: left;
}
.tblchat_timetablepart h3{
    color: #178D9F;
    font-family: 'avenir-next-lt-pro-demi';
    margin: 0;
    font-size: 18px;
    padding: 18px 30px 16px;
    margin-bottom: 0;
}


.inertblpart_todaytbl_threebox{
    display: inline-block;
    width: 100%;
    padding: 15px 30px;
}
.inertblpart_todaytbl_threebox p{
    font-family: 'avenir-next-lt-pro-demi';
    font-size: 16px;
}

.inertblpart_todaytbl_box1{
    display: inline-block;
    width: 280px;
    float: left;
    position: relative;
}
.inertblpart_todaytbl_box2{
    display: inline-block;
    width: 40%;
    float: left;
    padding-left: 5%;
}
.inertblpart_todaytbl_box3{
    display: inline-block;
    width: 22%;
    float: right;
    /*text-align: right;*/
}
.setbutten_box1{
    padding-top: 9px;
}
.setbutten_box1 button{
    font-family: 'avenir-next-lt-pro-demi';
}
/*.inertblpart_todaytbl_box3.detboxnew{
    background: #B5B5B6;
    color: #fff;
    font-family: 'avenir-next-lt-pro-demi';
    font-size: 16px;
    padding: 8px 14px;
    border-radius: 4px;
    float: left;
    display: inline-block;
    text-align: center;
}*/
.inertblpart_todaytbl_box1::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 40px;
    background: #e7e7e7;
    right: 0;
}
.inertblpart_todaytbl_box1 img{
    width: 32px;
    float: left;
}
.inertblpart_todaytbl_box1 p{
    color: #585858;
    font-family: 'avenir-next-lt-pro-medium';
    display: inline-block;
    float: left;
    margin: 0px;
    font-size: 18px;
    padding-top: 6px;
    padding-left: 15px;
}



.inertblpart_todaytbl_box2 img{
    width: 32px;
    float: left;
}
.inertblpart_todaytbl_box2 p{
   color: #4A494A;
    font-family: 'avenir-next-lt-pro-medium';
    display: inline-block;
    float: left;
    margin: 0px;
    font-size: 18px;
    padding-top: 6px;
    padding-left: 15px;
}
.redcolor p{
    color: #EF4756;
    font-family: 'avenir-next-lt-pro-medium';
}


.inertblpart_todaytbl_box3 .btnsd.scheduled_btnset{
    background: #B5B5B6;
    color: #fff;
    font-family: 'avenir-next-lt-pro-demi';
    font-size: 14px;
    padding: 8px 14px;
    border-radius: 4px;
    float: right;
    display: inline-block;
    text-align: center;
}

.inertblpart_todaytbl_box3 a.morebtnset{
    display: inline-block;
    margin-left: 22px;
}
.inertblpart_todaytbl_box3 a.morebtnset img{
    width: 38px;
}



.inertblpart_todaytbl_box3 a.checkedin_btnset{
    background: #3DB873;
    color: #fff;
    font-family: 'avenir-next-lt-pro-demi';
    font-size: 16px;
    padding: 8px 14px;
    border-radius: 4px;
    float: left;
    display: inline-block;
}





.tblchat_timetablepart hr{
    margin-top: 0;
    margin-bottom: 8px;
    border: 0;
    border-top: 1px solid #e7e7e7;
}


.checkin_checkout_workedhr{
    display: inline-block;
    width: 100%;
    padding-top: 45px;
    padding-bottom: 40px;
}

.checkin_checkout_workedhr_boiner{
    display: inline-block;
    float: left;
    width: 33.33%;
    text-align: center;
    border-right: 1px solid #e7e7e7;
}
.checkin_checkout_workedhr_boiner h4{
    color: #B5B5B6;
    font-family: 'avenir-next-lt-pro-demi';
    display: inline-block;
    width: 100%;
    margin: 0px;
    font-size: 22px;
    padding-bottom: 14px;
}
.checkin_checkout_workedhr_boiner p{
    color: #4A494A;
    font-family: 'avenir-next-lt-pro-bold';
    display: inline-block;
    width: 100%;
    margin: 0px;
    font-size: 32px;
}



.scheduled_complet_paymentboxsetiner{
    display: inline-block;
    width: 100%;
}
.scheduled_complet_paymentboxsetiner_left{
    display: inline-block;
    width: 70%;
    float: left;
}

.scheduled_complet_paymentboxsetiner_right{
    display: inline-block;
    width: 30%;
    float: left;
    padding-left: 30px;
}

.scheduledshifts_completedshiftsboxset{
    display: inline-block;
    width: 100%;
    margin-bottom: 25px;
}

.scheduledshifts_completedshiftsboxset1{
    display: inline-block;
    width: 48%;
    float: left;
    border: 1px solid #e7e7e7;
    border-radius: 9px;
    background: #fff;
    /*overflow: hidden;*/
    text-align: center;
    /*margin: -1px !important;*/
}
.scheduledshifts_completedshiftsboxset1 h5{
    color: #178D9F;
    font-family: 'avenir-next-lt-pro-demi';
    display: inline-block;
    width: 100%;
    text-align: left;
    margin: 0;
    font-size: 18px;
    padding-left: 20px;
    padding-top: 20px;
}
.scheduledshifts_completedshiftsboxset1 p{
    color: #4A494A;
    font-family: 'avenir-next-lt-pro-bold';
    display: inline-block;
    width: 100%;
    font-size: 44px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
}
.scheduledshifts_completedshiftsboxset1 a{
    font-family: 'avenir-next-lt-pro-demi';
    color: #fff;
    display: inline-block;
    width: 100%;

    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    border-radius: 0px 0px 8px 8px;
    background: rgba(26,171,171,1);
    background: -moz-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(26,171,171,1)), color-stop(100%, rgba(16,87,135,1)));
    background: -webkit-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -o-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -ms-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: linear-gradient(to right, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1aabab', endColorstr='#105787', GradientType=1 );
}


.openshift_applictboxset{
    display: inline-block;
    width: 100%;
    background: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 9px;
}
.openshift_applictboxset hr{
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid #e7e7e7;
    display: inline-block;
    width: 100%;
    float: left;
}


.openshift_applict_title_leftright{
    display: inline-block;
    width: 100%;
    float: left;
    padding-bottom: 16px;
}

.openshift_applict_title_leftiner{
    display: inline-block;
    width: 50%;
    float: left;
    padding-left: 28px;
    padding-top: 16px;
    padding-right: 28px;
}


.openshift_applict_title_leftiner p{
    color: #178D9F;
    font-family: 'avenir-next-lt-pro-demi';
    font-size: 18px;
    display: inline-block;
    width: 100%;
    margin: 0;
}




.openshift_applict_details_leftright{
    display: inline-block;
    width: 100%;
    float: left;
    padding-left: 28px;
    padding-top: 28px;
    padding-right: 28px;
    padding-bottom: 28px;

}
.scroll_boxinar{
    display: inline-block;
    width: 100%;    
    overflow: auto;
    max-height: 450px;
}
.scroll_boxinar a{
    display: inline-block;
    width: 100%;
}
.setwidth_boxclass{
    width: 35% !important;
}
.setname_class{
    padding-top: 9px;
}
.openshift_applict_details_left{
    display: inline-block;
    float: left;
    width: 80%;
}
.openshift_applict_details_right{
    display: inline-block;
    float: left;
    width: 20%;
    text-align: right;
    padding-top: 10px;
}
.openshift_applict_details_right p{
    color: #EF4756;
    font-family: 'avenir-next-lt-pro-bold';
    font-size: 30px;
    margin: 0;
}


.left_timeanddetail{
    display: inline-block;
    width: 56px;
    height: 56px;
    text-align: center;
    border-radius: 7px;
    background: rgba(26,171,171,1);
    background: -moz-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(26,171,171,1)), color-stop(100%, rgba(16,87,135,1)));
    background: -webkit-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -o-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -ms-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: linear-gradient(to right, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1aabab', endColorstr='#105787', GradientType=1 );
    float: left;
    padding-top: 7px;
}
.left_timeanddetail p{
    font-family: 'avenir-next-lt-pro-demi';
    color: #fff;
    font-size: 17px;
    margin: 0;
}
.left_timeanddetail span{
    font-family: 'avenir-next-lt-pro-demi';
    color: #fff;
    font-size: 12px;
}


.right_timeanddetail{
    display: inline-block;
    float: left;
    padding-top: 14px;
    padding-left: 20px;
}
.right_timeanddetail p{
    color: #4A494A;
    font-family: 'avenir-next-lt-pro-medium';
    font-size: 18px;
    margin: 0;
    display: inline-block;
    float: left;
}

.payments_detailspartinbox{
    display: inline-block;
    width: 100%;
    float: left;
    border: 1px solid #e7e7e7;
    border-radius: 9px;
    background: #fff;
}
.payments_detailspartinbox h3{
    color: #178D9F;
    font-family: 'avenir-next-lt-pro-demi';
    font-size: 18px;
    padding-left: 20px;
    padding-top: 20px;
    display: inline-block;
    width: 100%;
    margin: 0;
}

.cad_textset{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 42px;
    padding-bottom: 50px;
    border-bottom: 1px solid #DCDDDE;
}

.cad_textset h5{
    font-family: 'avenir-next-lt-pro-bold';
    color: #4A494A;
    font-size: 32px;
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding-bottom: 28px;
}
.cad_textset h5 span{
    font-family: 'avenir-next-lt-pro-bold';
    position: absolute;
    font-size: 16px;
    top: -14px;
}

.cad_textset p{
    display: inline-block;
    width: 100%;
    color: #4A494A;
    font-family: 'avenir-next-lt-pro-medium';
    margin: 0;
    font-size: 18px;
}


.recenrt_paymentsboxset{
    display: inline-block;
    width: 100%;
    padding-left: 20px;
    /*padding-top: 20px;*/
    padding-bottom: 20px;

}
.recenrt_paymentsboxset h3{
    padding: 0px;
    padding-top: 20px;
}
.recenrt_paymentsboxset h6{
    color: #4A494A;
    font-family: 'avenir-next-lt-pro-bold';
    margin: 0;
    font-size: 25px;
    padding-top: 22px;
    padding-bottom: 14px;
}
.recenrt_paymentsboxset p{
    color: #4A494A;
    font-family: 'avenir-next-lt-pro-medium';
    margin: 0;
    font-size: 16px;
}

.payments_detailspartinbox hr{
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid #DCDDDE;
    display: inline-block;
    width: 100%;
    float: left;
}

.paymentfhestory_btnbox{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.paymentfhestory_btnbox a{
    font-family: 'avenir-next-lt-pro-demi';
    color: #fff;
    display: inline-block;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    border-radius: 0px 0px 8px 8px;
    background: rgba(26,171,171,1);
    background: -moz-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(26,171,171,1)), color-stop(100%, rgba(16,87,135,1)));
    background: -webkit-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -o-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -ms-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: linear-gradient(to right, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1aabab', endColorstr='#105787', GradientType=1 );
}

/*calendar.css*/
.calendar_boxpart{
    display: inline-block;
    width: 100%;
    padding-left: 49px;
    padding-top: 63px;
}


.calendar_boxpart .table-condensed>tbody>tr>td{
    /*padding-right: 70px;
    padding-bottom: 15px;
    padding-left: 15px;*/
}
.calendar_boxpart .table-condensed>thead>tr>th{
   /* padding-left: 12px;*/
} 
.calendar_boxpart .table-condensed{
    text-align: center;
}
.calendar_boxpart .next{
    display: none;
}
.calendar_boxpart .prev{
    display: none;
}
.calendar_boxpart .dow{
    color: #b5b5b5;
}
.calendar_boxpart .datepicker-switch{
    font-family: 'avenir-next-lt-pro-medium';
    font-size: 16px;
}
.calendar_boxpart .day{
    font-family: 'avenir-next-lt-pro-demi';
    width: 105px;
    height: 40px;
}
.calendar_boxpart .dow{
    font-family: 'avenir-next-lt-pro-demi';
    text-align: center;
}
.calendar_boxpart .day.old{
    color: #dddfe0;     
}
.calendar_borderboxpart{
    display: inline-block;
    width: auto;
    border: 1px solid #d1d2d4;
    border-radius: 8px;
    padding: 10px;
    background: #fff;
}

.newboxinrpart{
    display: inline-block;
    width: 100%;
    padding-top: 44px;
}
.newboxinrpart .inertblpart_todaytbl_threebox {
    display: inline-block;
    width: 70%;
    padding: 0 0px;
    padding: 15px;
    border: 1px solid #d1d2d4;
    border-radius: 8px;
    background: #fff;
}
.newboxinrpart .inertblpart_todaytbl_box2 {
    display: inline-block;
    width: 30%;
    float: left;
    padding-left: 5%;
}
.newboxinrpart .inertblpart_todaytbl_box3 {
    display: inline-block;
    width: 28%;
    float: right;
}
.newboxinrpart .inertblpart_todaytbl_threebox h3{
    margin: 0px;
    font-family: 'avenir-next-lt-pro-demi';
    font-size: 18px;
    color: #494949;
    padding-bottom: 43px;
}
.calendar_boxpart .day.today{
    width: 39px;
    height: 38px;
    display: inline-block;
    padding-top: 9px;
    border-radius: 8px;
    color: #fff;
    background: rgba(26,171,171,1);
    background: -moz-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(26,171,171,1)), color-stop(100%, rgba(16,87,135,1)));
    background: -webkit-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -o-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -ms-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: linear-gradient(to right, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1aabab', endColorstr='#105787', GradientType=1 );
}

.calendar_boxpart .inertblpart_todaytbl_box1 img {
    width: 30px;
    float: left;
}
.calendar_boxpart .inertblpart_todaytbl_box1 p {
    color: #4A494A;
    font-family: 'avenir-next-lt-pro-medium';
    display: inline-block;
    float: left;
    margin: 0px;
    font-size: 17px;
    padding-top: 6px;
    padding-left: 15px;
}
.calendar_boxpart .inertblpart_todaytbl_box2 img {
    width: 31px;
    float: left;
}
.calendar_boxpart .inertblpart_todaytbl_box2 p {
    color: #4A494A;
    font-family: 'avenir-next-lt-pro-medium';
    display: inline-block;
    float: left;
    margin: 0px;
    font-size: 17px;
    padding-top: 6px;
    padding-left: 15px;
}
a.scheduled_btnset.detboxnew {
    background: #B5B5B6;
    color: #fff;
    font-family: 'avenir-next-lt-pro-demi';
    font-size: 16px;
    padding: 8px 14px;
    border-radius: 4px;
    float: left;
    display: inline-block;
    text-align: center;
}
.calendar_boxpart .inertblpart_todaytbl_box3 a.scheduled_btnset {
    background: #B5B5B6;
    color: #fff;
    font-family: 'avenir-next-lt-pro-demi';
    font-size: 13px;
    padding: 8px 14px;
    border-radius: 8px;
    float: left;
    display: inline-block;
}
.redcolor p{
    color: #EF4756 !important;
    font-family: 'avenir-next-lt-pro-medium';
}

/*calendar.css*/


.new_toolipmenusitbox{
    display: inline-block;
    width: 100%;
    float: left;
}
.new_toolipmenusitbox .c-ios-icon {
  border-radius: 15px;
  width: 100px;
  height: 100px;
  position: relative;
}
.new_toolipmenusitbox .c-ios-icon__state {
  position: absolute;
  visibility: hidden;
}
.new_toolipmenusitbox .c-ios-icon__view {
  border-radius: 15px;
  max-width: 52px;
  max-height: 43px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  display: block;
  overflow: hidden;
}
.new_toolipmenusitbox .c-ios-icon__view:hover {
  cursor: pointer;
}
.new_toolipmenusitbox .c-ios-icon__view img {
    width: 50px;
    height: 63px;
}
.new_toolipmenusitbox .c-ios-icon__tooltip {
     border-radius: 15px;
    position: absolute;
    bottom: 93px;
    right: -38px;
    /* visibility: hidden; */
    /* -webkit-transform-origin: bottom right; */
    /* transform-origin: bottom right; */
    /* z-index: -1; */
    /* background-color: rgba(255, 255, 255, 0.5); */
    background: #fff;
}
.new_toolipmenusitbox .c-ios-icon__state--boot:checked ~ .c-ios-icon__view--off, .c-ios-icon__state--on:checked ~ .c-ios-icon__view--off, .c-ios-icon__state--off:checked ~ .c-ios-icon__view--on {
  display: none;
}
.new_toolipmenusitbox .c-ios-icon__state--off:checked ~ .c-ios-icon__view {
  -webkit-animation: makeBorders ease .4s;
          animation: makeBorders ease .4s;
}
.new_toolipmenusitbox .c-ios-icon__state--off:checked ~ .c-ios-icon__tooltip {
  -webkit-animation: openTooltip .2s ease .3s;
          animation: openTooltip .2s ease .3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.new_toolipmenusitbox .c-ios-icon__state--on:checked ~ .c-ios-icon__tooltip {
  -webkit-animation: closeTooltip ease .4s;
          animation: closeTooltip ease .4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes makeBorders {
  90% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.5);
  }
}
@keyframes makeBorders {
  90% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.5);
  }
}
@-webkit-keyframes openTooltip {
  from {
    bottom: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    visibility: visible;
  }
}
@keyframes openTooltip {
  from {
    bottom: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    visibility: visible;
  }
}
@-webkit-keyframes closeTooltip {
  from {
    visibility: visible;
  }
  to {
    bottom: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes closeTooltip {
  from {
    visibility: visible;
  }
  to {
    bottom: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
    visibility: hidden;
    opacity: 0;
  }
}
.new_toolipmenusitbox .c-ios-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.new_toolipmenusitbox .c-ios-menu__item:not(:last-child) {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}
.new_toolipmenusitbox .c-ios-menu__item a {
  display: block;
  padding: 15px;
  color: #222222;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-decoration: none;
  white-space: nowrap;
}
.new_toolipmenusitbox .c-ios-menu__item a i {
  margin-right: 10px;
}

/*
  CodePen Style
*/


*, *:before, *:after {
  box-sizing: border-box;
}

.u-hcenter {
  margin: 0 auto;
}

.u-vcenter {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.u-display-t {
  display: table;
}

.btnboxpartnew{
    display: inline-block;
    width: 100%;
    margin-bottom: 35px;
    margin-top: 25px;
}
.btnboxpartnew a{
    display: inline-block;
    letter-spacing: 0.5px;
    text-align: right;
    float: right;
    border: 1px solid;
    padding: 10px 14px 10px 14px;
    margin-left: 18px;
    color: #fff;
    font-size: 13px;   
    border-radius: 6px;
    font-family: 'avenir-next-lt-pro-medium';
    background: rgba(26,171,171,1);
    background: -moz-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(26,171,171,1)), color-stop(100%, rgba(16,87,135,1)));
    background: -webkit-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -o-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -ms-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: linear-gradient(to right, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1aabab', endColorstr='#105787', GradientType=1 );    
}

a.batsetbox{
    background: #3DB873;
}

.shifts_boxpartnew .scheduled_complet_paymentboxsetiner_left {
    display: inline-block;
    width: 100%;
    float: left;
}
.shifts_boxpartnew .openshift_applict_title_leftiner p {
    color: #B5B5B6;
    font-family: 'avenir-next-lt-pro-demi';
    font-size: 18px;
    display: inline-block;
    width: 100%;
    margin: 0;
}

.shifts_timeboxpart .openshift_applict_details_left {
    display: inline-block;
    float: left;
    width: 35%;
    position: relative;
}

.shifts_timeboxpart .inertblpart_todaytbl_box2 {
    display: inline-block;
    width: 40%;
    float: left;
    padding-left: 5%;
    padding-top: 11px;
}
.shifts_timeboxpart .openshift_applict_details_left::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 42px;
    background: #BCBEC0;
    right: 0;
    top: 13px;
}
.shifts_timeboxpart .inertblpart_todaytbl_box3 {
    display: inline-block;
    width: 15%;
    float: right;
    padding-top: 9px;
}
.shifts_timeboxpart .tblchat_timetablepart h3 {
    color: #B5B5B6;
    font-family: 'avenir-next-lt-pro-demi';
    margin: 0;
    font-size: 18px;
    padding: 16px 30px 16px;
    margin-bottom: 0px;
}

.deleteshift_boxpart{
    display: inline-block;
    widows: 100%;
    float: right;
}
.deleteshift_boxpart a{
    display: inline-block;
    border: 1px solid;
    letter-spacing: 0.5px;
    padding: 10px 14px 10px 14px;    
    color: #fff;
    font-size: 13px;   
    border-radius: 6px;
    background: #ed4855;
    font-family: 'avenir-next-lt-pro-medium';
}
.newboxpart{
    display: inline-block;
    width: 100%;
    padding-top: 20px;
}
.newboxpart p{
    color: #ccc;
    font-family: 'avenir-next-lt-pro-medium';
    font-size: 21px;
}
.shifts2_newboxset{
    display: inline-block;
    width: 100%;
    margin-bottom: 27px;
    float: left;

}
.shifts2_newboxset .tblchat_timetablepart hr {
    margin-top: 0;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #e7e7e7;
    display: inline-block;
    width: 100%;
    float: left;
}
.shifts_newboxset .inertblpart_todaytbl_box1 {
    display: inline-block;
    width: 380px;
    float: left;
    position: relative;
}

.shifts_newboxset .inertblpart_todaytbl_box2 {
    display: inline-block;
    width: 58%;
    float: left;
    padding-left: 5%;
}
.newtime_datebox .checkin_checkout_workedhr_boiner {
    display: inline-block;
    float: left;
    width: 33.33%;
    text-align: left; 
    border-right: 1px solid #BCBEC0;
    padding-left: 45px;
}
.newtime_datebox .checkin_checkout_workedhr_boiner p {
    color: #4A494A;
    font-family: 'avenir-next-lt-pro-medium';
    display: inline-block;
    width: 100%;
    margin: 0px;
    font-size: 20px;
}

.newtime_datebox .checkin_checkout_workedhr {
    display: inline-block;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 19px;
    margin-bottom: 9px;
    float: left;
}
.newtime_datebox{
    display: inline-block;
    width: 100%;
}
.newtime_datebox .checkin_checkout_workedhr_boiner h4 {
    color: #B5B5B6;
    font-family: 'avenir-next-lt-pro-regular';
    display: inline-block;
    width: 100%;
    margin: 0px;
    font-size: 22px;
    padding-bottom: 3px;
    padding-top: 2px;
}

.applications_boxpart{
    display: inline-block;
    width: 50%;
    float: left;
}
.applications_boxpart p{
    margin: 0px;    
    font-family: 'avenir-next-lt-pro-medium';
    font-size: 19px;
    color: #B5B5B6;
    padding-top: 5px;
}
.boximgman_part{
    display: inline-block;
    width: 100%;
    float: left;
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
}
.modules_boxpart{
    display: inline-block;
    width: 100%;
    background: #fff;
    margin-top: 18px;
    border-radius: 9px;
    border: 1px solid #e7e7e7;
    padding-left: 42px;
    padding-right: 42px;
    padding-bottom: 33px;
    margin-bottom: 35px;
}
.sortby_rightbox{
    display: inline-block;
    width: 50%;
    float: left;
}
.sortby_rightbox p{
    margin: 0px;
    text-align: right;
    font-family: 'avenir-next-lt-pro-medium';
    font-size: 19px;
    color: #55c8cb;
}
.sortby_rightbox p img{
    width: 19px;
    margin-left: 14px;
}
.profileimg_box{
    display: inline-block;
    width: 50%;
    float: left;
}
.profileroud_boximg{
    display: inline-block;
    border: 1px solid #fff;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    background: #f04755;
    float: left;
}
.profile_texright{
    display: inline-block;
    width: 50%;
    float: left;
    padding-top: 13px;
}
.profile_texright p{
    font-family: 'avenir-next-lt-pro-medium';
    float: right;
    text-align: right;
    font-size: 23px;
    margin: 0px;
    color: #3DB873;
}    
.profilerinar_textpart{
    display: inline-block;
    float: left;
    padding-top: 8px;
    padding-left: 21px;
}

.profilerinar_textpart p{
    margin: 0px;
    font-family: 'avenir-next-lt-pro-medium';
    font-size: 21px;
    color: #585858;
}
.profilerinar_textpart h5{
    margin: 0px;
    font-family: 'avenir-next-lt-pro-medium';
    color: #B5B5B6;
    font-size: 17px;
    padding-top: 5px;
}
 hr.line_partnew{
    display: inline-block;
    width: 100%;
}
.experience_boxinar{
    display: inline-block;
    width: 100%;
}
.experience_boxinar ul{
    padding: 0px;
    margin: 0px;
    display: inline-block;
    width: 100%;
    padding-bottom: 11px;
}
.experience_boxinar ul li{
    display: inline-block;
    width: 25%;
    float: left;
    text-align: center;
}
.experience_boxinar p{
    margin: 0px;
    font-family: 'avenir-next-lt-pro-medium';
    font-size: 21px;
    color: #585858;
}
.experience_boxinar h5{
     margin: 0px;
    font-family: 'avenir-next-lt-pro-medium';
    color: #B5B5B6;
    font-size: 17px;
    padding-top: 5px;
}

.completed_boxpart{
    display: inline-block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
.completed_boxpart p{
    margin: 0px;
    font-family: 'avenir-next-lt-pro-medium';
    font-size: 21px;
    color: #585858;
}
.completed_boxpart h6{
    margin: 0px;
    font-family: 'avenir-next-lt-pro-medium';
    color: #B5B5B6;
    font-size: 17px;
    padding-top: 19px;
}
.hire_boxbtn{
    display: inline-block;
    width: 100%;
    float: right;
}
.hire_boxbtn a{
    display: inline-block;
    border: 1px solid;
    padding: 9px 20px 9px 20px;
    color: #fff;
    float: right;
    font-size: 13px;
    border-radius: 6px;
    background: #3DB873;
    font-family: 'avenir-next-lt-pro-medium';
}

.shifts_boxpartnew .openshift_applictboxset{
    display: inline-block;
    width: 100%;
    background: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 9px;    
}

.shifts_timeboxpart .tblchat_timetablepart {
    display: inline-block;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    border: 1px solid #e7e7e7;
    margin-top: 35px;
    margin-bottom: 35px;
    float: left;    
}

.shftdetails_boxpart{
    display: inline-block;
    width: 100%;
    padding-bottom: 17px;
}
.shftdetails_leftpart{
    display: inline-block;
    width: 70%;
    float: left;
}
.shftdetails_leftpart h3{    
    margin: 0px;
    font-family: 'avenir-next-lt-pro-bold';
    padding-bottom: 11px;
    color: #585858;
}

.shftdetails_leftpart p{
    margin: 0px;
    color: #ccc;
    font-family: 'avenir-next-lt-pro-medium';
    font-size: 20px;
}
.shftdetails_btnbox{
    display: inline-block;
    width: 30%;
    float: left;
}
.shftdetails_btnbox a{
    display: inline-block;
    border: 1px solid;
    padding: 9px 20px 9px 20px;
    color: #fff;
    float: right;
    font-size: 16px;
    border-radius: 6px;
    background: #3DB873;
    font-family: 'avenir-next-lt-pro-medium';
}
.saveboxpart_boxpart{
    display: inline-block;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    border: 1px solid #e7e7e7;
    margin-bottom: 70px;
    padding-top: 0px;
}
.saveboxpart_boxpart .checkin_checkout_workedhr_boiner {
    display: inline-block;
    float: left;
    width: 33.33%;
    text-align: left;
    border-right: 0px solid #BCBEC0; 
}
.saveboxpart_boxpart .checkin_checkout_workedhr_boiner p {
    color: #d4901b;
    display: inline-block;
    margin: 0px;
    font-size: 16px;
    padding-left: 12px;
    width: auto;
    float: right;
    padding-top: 10px;
    font-family: 'avenir-next-lt-pro-medium';
    
}
.saveboxpart_boxpart .checkin_checkout_workedhr_boiner h4 {
    color: #B5B5B6;    
    display: inline-block;
    margin: 0px;
    font-family: 'avenir-next-lt-pro-medium';
    font-size: 19px;
    padding-bottom: 0;
    width: auto;
    padding-right: 11px;
    padding-top: 9px;
}
.saveboxpart_boxpart .checkin_checkout_workedhr {
    display: inline-block;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 45px;
    border-bottom: 1px solid #e7e7e7;
    padding-right: 45px;
    float: left;
}
.saveboxpart_boxpart .inertblpart_todaytbl_box3 {
    display: inline-block;
    width: 100%;
    float: right;
}

.sortby_rightbox .dropdown-submenu {
    position: relative;
    
}
.sortby_rightbox .dropdown, .dropup{
    float: right;
}
.sortby_rightbox .btn-default {
    color: #55c8cb;
    background-color: #F7F9FB;
    border-color: #F7F9FB;
    font-family: 'avenir-next-lt-pro-medium';
    font-size: 19px;
    color: #55c8cb;
    padding: 0px;
}
.sortby_rightbox .btn.active, .btn:active {
    background-image: none;
    outline: 0;
    /* -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125); */
    /* box-shadow: inset 0 3px 5px rgba(0,0,0,.125); */
}
.sortby_rightbox .btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    color: #55c8cb;
    background-color: #F7F9FB;
    border-color: #F7F9FB;
}

.sortby_rightbox .btn.active, .btn:active {
    /* background-image: none; */
    /* outline: 0; */
    -webkit-box-shadow: none;
    box-shadow: none;
}

.sortby_rightbox .btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    color: #55c8cb;
    background-color: #F7F9FB;
    border-color: #F7F9FB;
}
.sortby_rightbox .btn-default:hover {
    color: #55c8cb;
    background-color: #F7F9FB;
    border-color: #F7F9FB;
}

 .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {    color: #333;
    background-color: #F7F9FB;
    border-color: #F7F9FB;
    color: #55c8cb
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 267px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.sortby_rightbox  .dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #55c8cb;
    font-size: 16px;
    white-space: nowrap;
    font-family: 'avenir-next-lt-pro-medium';

}

.saveboxpart_boxpart .inertblpart_todaytbl_box3 a.scheduled_btnset {
    background: #B5B5B6;
    color: #fff;
    font-family: 'avenir-next-lt-pro-demi';
    font-size: 16px;
    padding: 8px 14px;
    border-radius: 8px;
    float: right;
    display: inline-block;
}

.experience_boxpart{
    display: inline-block;
    width: 100%;
    background: #fff;
    margin-top: 0px;
    border-radius: 9px;
    border: 1px solid #BDBDC0;
}

.experience_boxpart .checkin_checkout_workedhr_boiner p {
    color: #4A494A;
    font-family: 'avenir-next-lt-pro-bold';
    display: inline-block;
    width: 100%;
    margin: 0px;
    font-size: 17px;
}
.imgboxpart .checkin_checkout_workedhr_boiner ul{
    display: inline-block;
    padding: 0px;
    margin: 0px;
    float: right;
}
.imgboxpart .checkin_checkout_workedhr_boiner ul li{
    display: inline-block;
    padding-left: 5px;
}
.imgboxpart .checkin_checkout_workedhr_boiner ul li i{
    font-size: 17px;
    color: #B5B5B6;
    font-size: 25px;
}

.experience_boxpart .checkin_checkout_workedhr_boiner {
    display: inline-block;
    float: left;
    width: 33.33%;
    text-align: left;
    border-right: 0px solid #BCBEC0;
}
.experience_boxpart .checkin_checkout_workedhr_boiner h4 {
    color: #B5B5B6;    
    display: inline-block;
    width: 100%;
    margin: 0px;
    font-size: 19px;
    padding-bottom: 14px;
    font-family: 'avenir-next-lt-pro-medium';
}
.experience_boxpart .checkin_checkout_workedhr {
    display: inline-block;
    width: 100%;
    padding-top: 28px;
    padding-bottom: 8px;
    padding-left: 45px;
    padding-right: 45px;
}
.rateyourexperience_textbox{
    display: inline-block;
    width: 100%;
    margin-bottom: 7px;
}

.approve_textboxpart{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 46px;
}
.approve_textboxpart h3{
    margin: 0px;
    font-family: 'avenir-next-lt-pro-bold';
    color: #585858;
    font-size: 29px;
    padding-bottom: 45px;
}
.approve_textboxpart a{
    display: inline-block;
    padding: 15px 25px 15px 25px;
    border: 1px solid #fff;
    border-radius: 5px;
    background: #aeaeae;
    color: #fff;
    font-family: 'avenir-next-lt-pro-medium';
    font-size: 19px;
}

.modal_headerbox{
    display: inline-block;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    background: rgba(26,171,171,1);
    background: -moz-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(26,171,171,1)), color-stop(100%, rgba(16,87,135,1)));
    background: -webkit-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -o-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -ms-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: linear-gradient(to right, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1aabab', endColorstr='#105787', GradientType=1 );
}
.modal_headerbox .profileroud_boximg {
    display: inline-block;
    border: 2px solid #fff;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    background: #f04755;
    float: none;
    margin-left: 0px;
}
.textboxpart{
    display: inline-block;
    width: 100%;
}
.textboxpart p{
    margin: 0px;
    color: #fff;
    font-size: 16px;
    padding-top: 10px;
    font-family: 'avenir-next-lt-pro-medium';
}
.modal.in .modal-dialog{
    width: 349px;
    margin: 0 auto;
    margin-top: 44px;
}
.modal.fade .modal-dialog{
    width: 349px;
    margin: 0 auto;
    margin-top: 44px;
}
.modal_headerbox .modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 29px;
    padding-top: 30px;
}
.modal_headerbox .modal-header .close {
    margin-top: -22px;
    color: #fff;
}
.modal_bodytextbox .modal-body h3{
    margin: 0px;
    font-family: 'avenir-next-lt-pro-bold';
    text-align: center;
    padding-bottom: 35px;
    color: #585858;
}
.modal_bodytextbox .modal-body h5{
    margin: 0px;
    font-family: 'avenir-next-lt-pro-medium';
    text-align: center;
    padding-bottom: 35px;
    font-size: 15px;
    color: #585858;
}
.modal_bodytextbox .modal-body p{
    margin: 0px;
    font-family: 'avenir-next-lt-pro-medium';
    text-align: center;
    padding-bottom: 15px;
    color: #B5B5B6;
    text-align: left;
    padding-left: 32px;
    font-size: 15px;
}

.modal_bodytextbox .modal-body a{    
    display: inline-block;
    border: 0px solid;
    padding: 9px 20px 9px 20px;
    color: #fff;
    float: none;
    font-size: 16px;
    border-radius: 6px;
    background: #3DB873;
    font-family: 'avenir-next-lt-pro-medium';
    text-align: center;
    margin: 0 auto;
    margin-top: 32px;
}
.modal_bodytextbox{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-bottom: 21px;
    padding-top: 23px;
}
.modal-header .close {
    margin-top: -2px;
    color: #fff;
}

.modal_boxpart .modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 0px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.textboxpart h5{
    margin: 0px;
    font-family: 'avenir-next-lt-pro-medium';
    color: #B5B5B6;
    padding-top: 10px;
}

.modal_bodytextbox2 .modal-body{
    display: inline-block;
    width: 100%;
    /*border-bottom: 1px solid #ccc;*/
}
.modal_bodytextbox2{
    display: inline-block;
    width: 100%;
    padding-top: 13px;
    /*padding-left: 12px;*/
}
.modal_bodytextbox2 .modal-body p{
    margin: 0px;
    font-family: 'avenir-next-lt-pro-medium';
    font-size: 16px;
    padding-bottom: 17px;
    color: #585858;
}
hr.modalboxpart2_hrinar{
    margin-top: 0;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
.modal_text2inar{
    display: inline-block;
    width: 100%;
    padding-left: 29px;
    padding-bottom: 17px;
}
.modal_text2inar p{
    margin: 0px;
    font-family: 'avenir-next-lt-pro-medium' !important;
    padding-bottom: 10px !important;
    font-size: 16px !important;
    color: #B5B5B6 !important;
}
.modal_text2inar h4{
    margin: 0px;
    font-family: 'avenir-next-lt-pro-medium';
    padding-bottom: 22px;
    color: #585858;
}
.modal_bodytextbox2 .modal-body {
    position: relative;
    padding: 15px;
    padding-left: 26px;
}

.sortby_rightbox .caret {
    display: inline-block;
    width: 0;
    height: 38px;
    margin-left: 0px;
    margin-right: 18px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 0px solid transparent;
    border-left: 0px solid transparent;
}
.deleteshift_boxpart img{
    width: 17px;
    float: left;
    margin-right: 5px;
}
.shifts2_newboxset .inertblpart_todaytbl_box1::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 40px;
    background: #BCBEC0;
    right: 0;
}
.btnboxpartnew img{
    width: 17px;
    float: left;
    margin-right: 5px;
}
.shifts2_newboxset .tblchat_timetablepart {
    display: inline-block;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    border: 1px solid #e7e7e7;
    margin-top: 13px;
    margin-bottom: 35px;
    float: left;
}
.newshifts2_newboxset .tblchat_timetablepart {
    display: inline-block;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    border: 1px solid #e7e7e7;
    margin-top: 13px;
    margin-bottom: 35px;
    float: left;
}
.newshifts2_newboxset{
    display: inline-block;
    width: 100%;
}
.newshifts2_newboxset hr{    
    margin: 0px !important;
}
.shifts2_newboxset hr{    
    margin: 0px !important;
}
.newshifts2_newboxset .inertblpart_todaytbl_threebox {
    display: inline-block;
    width: 100%;
    padding: 15px 30px;
    float: left;
}
.manbox_experienceboxpart{
    display: inline-block;
    width: 100%;
    border-radius: 9px;
    border: 1px solid #e7e7e7;
    /*overflow: hidden;*/
    background: #fff;
}
.manbox_experienceboxpart .experience_boxpart{
    border-radius: 0px;
    border: 0px solid #BDBDC0;
    background: transparent;
    float: left;
}
.manbox_experienceboxpart hr{
    display: inline-block;
    width: 100%;
    margin: 0;
    border-top: 1px solid #e7e7e7;
}











/**** new style ****/


.logoadmin_styleset{

}
.toplogohedpartset_left.logoadmin_styleset a img{
    width: 209px;
}

.registered_boxpart{
    display: inline-block;
    width: 100%;
}
.registeredtextboxpart{
    display: inline-block;
    width: 30%;
    float: left;
    margin-right: 40px;
    border: 1px solid #bbbdc0;
    border-radius: 8px;
    padding-left: 22px;
    padding-top: 22px;
    padding-bottom: 30px;
}
.registeredtextboxpart2{
    display: inline-block;
    width: 30%;
    float: left;
    margin-right: 40px;
    border: 1px solid #bbbdc0;
    border-radius: 8px;
    padding-left: 22px;
    padding-top: 22px;
    padding-bottom: 30px;
}
.registeredtextboxpart3{
    display: inline-block;
    width: 12%;
    border-radius: 8px;
    height: 125px;
    text-align: center;
    background: rgba(26,171,171,1);
    background: -moz-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(26,171,171,1)), color-stop(100%, rgba(16,87,135,1)));
    background: -webkit-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -o-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -ms-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: linear-gradient(to right, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1aabab', endColorstr='#105787', GradientType=1 );
}
.registeredtextboxpart3 img{
    text-align: center;
    margin: 0 auto;
    padding-top: 37px;
    width: 51px;
}
.registeredtextboxpart h3{
    margin: 0px;
    color: #178c9e;
    font-size: 18px;
    padding-bottom: 16px;
    font-family: 'avenir-next-lt-pro-demi';
}
.registeredtextboxpart p{
    margin: 0px;
    font-family: 'avenir-next-lt-pro-bold';    
    font-size: 30px;
    color: #494949;
}
.registeredtextboxpart2 h3{
    margin: 0px;
    color: #178c9e;
    font-size: 18px;
    padding-bottom: 16px;
    font-family: 'avenir-next-lt-pro-demi';
}
.registeredtextboxpart2 p{
    margin: 0px;
    font-family: 'avenir-next-lt-pro-bold';    
    font-size: 30px;
    color: #494949;
}
.haven_textboxpart{
    display: inline-block;
    width: 100%;
}
.haven_textboxpart p{
    margin: 0px;
    color: #B5B5B6;
    font-family: 'avenir-next-lt-pro-demi';
    border-bottom: 1px solid #bbbdbf;
    font-size: 19px;
    padding-top: 35px;
    padding-bottom: 10px;
}
.haven_textboxpart span{
    color: #178c9e;
    font-family: 'avenir-next-lt-pro-demi';
}
.haven_textboxpart{
    text-decoration: none;
}
.haven_textboxpart{
    padding-top: 30px;
}


/**** new style ****/

/* custom style for add button
.pull-right a .custom_css_add_button{
    border-radius: 30px;
    background-color: #E74430;
}

 */



/*7-12-2018*/




















/*7-12-2018*/



/*21-2-2019*/
.headertopman_divbox{
    display: inline-block;
    width: 100%;
    float: left;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #DDDDDD;
}

.header_logodivbox{
    display: inline-block;
    width: 30%;
    float: left;
}

.header_logodivbox img{
    width: 200px;

}
.right_logoutext{
    display: inline-block;
    width: 70%;
    float: left;
}

.right_logoutext p{
    margin: 0px;
    color: #E22349;
    font-size: 15px;
    text-align: right;
    font-family: 'Rubik-Medium';
    padding-top: 7px;
    display: inline-block;
    float: right;
}
.admindetlis_topdivboxpart{
    display: inline-block;
    width: 100%;
}
.adminleft_textdiv{
    display: inline-block;
    width: 20%;
    float: left;
}
.leftinnertext_divbox{
    display: inline-block;
    width: 100%;
    border-right: 1px solid #ddd;
}
.leftinnertext_divbox ul{
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.leftinnertext_divbox ul li{
    display: inline-block;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    border-bottom: 1px solid #ddd;
}
.leftinnertext_divbox ul li p{
    margin: 0px;
    font-size: 19px;
    color: #000;    
    font-family: 'Rubik-Regular';
    padding-left: 70px;
}
.active{
    background: rgba(36,168,224,1);
    background: -moz-linear-gradient(left, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(36,168,224,1)), color-stop(100%, rgba(102,49,145,1)));
    background: -webkit-linear-gradient(left, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    background: -o-linear-gradient(left, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    background: -ms-linear-gradient(left, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    background: linear-gradient(to right, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24a8e0', endColorstr='#663191', GradientType=1 );
}
.active p{
    color: #fff !important;
}
.adminright_detlisdivbox{
    display: inline-block;
    width: 80%;
    float: left;
}
.users_detateblebox{
    display: inline-block;
    width: 100%;
    padding-left: 40px;
    padding-top: 50px;
    padding-right: 45px;
}

.users_detateblebox table.dataTable tbody th, table.dataTable tbody td {
    border-right: 0;
    border-bottom: 0;
}
.users_detateblebox table.dataTable thead th {
    border-bottom: 0px solid #A7A9AB;  
    font-family: 'Rubik-Medium';   
    font-weight: 100;
    border-right: 0px;
}
.users_detateblebox .table.dataTable.no-footer {
    border-bottom: 1px solid #ddd;
    border-left: 0;
}
.users_detateblebox .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fff;
}
.users_detateblebox td {
    color: #494949;
    font-size: 14px;
    font-family: 'Rubik-Regular';
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}
.users_detateblebox .dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    border: 1px solid #ddd;
}



/****Settings.Css****/

.setting_detlisdivbox{
    display: inline-block;
    width: 100%;
    padding-left: 40px;
    padding-top: 50px;
    padding-right: 45px;
}
.vehicles_topdivbox{
    display: inline-block;
    width: 100%;
}
.vehicles_topdivbox ul{
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.vehicles_topdivbox ul li{
    display: inline-block;
    width: 25%;
    float: left;
}
.vehicles_innertextbox{
    display: inline-block;
    border: 1px solid #ddd;
    padding-top: 13px;
    padding-left: 13px;
    padding-right: 20px;
    padding-bottom: 13px;
    width: 215px; 
}
.vehicles_innertextbox h4{
    margin: 0px;
    color: #000;
    font-family: 'Rubik-Medium';
    font-size: 18px;
    padding-bottom: 30px;
    display: inline-block;
}
.vehicles_innertextbox p{
    margin: 0px;
    font-family: 'Rubik-Regular';
    font-size: 16px;
    color: #000;
}

.vehicles_innertextbox img{
    width: 21px;
    text-align: right;
    float: right;
}
.ridechimpfees_mandetlisdiv{
    display: inline-block;
    width: 100%;
    margin-top: 30px;
}
.ridechimpfees_detlisbox{
    display: inline-block;
    width: 47%;
    border: 1px solid #ddd;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 22px;
    padding-bottom: 35px;
}
.feesinput_lefttext{
    padding: 10px 16px 10px 16px;
    display: inline-block;
    float: left;
    background: rgba(36,168,224,1);
    background: -moz-linear-gradient(left, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(36,168,224,1)), color-stop(100%, rgba(102,49,145,1)));
    background: -webkit-linear-gradient(left, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    background: -o-linear-gradient(left, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    background: -ms-linear-gradient(left, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    background: linear-gradient(to right, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24a8e0', endColorstr='#663191', GradientType=1 );
}
.feesinput_lefttext img{
    width: 20px;
}

.ridechimpfeesinput_text{
    display: inline-block;
    width: 40%;
    float: left;
}
.ridechimpfeesinput_text input{
    display: inline-block;
    width: 100%;
    border: 1px solid #DDDDDD;
    height: 40px;
    padding-left: 13px;
    padding-right: 13px;
    font-family: 'Rubik-Regular';
}
.ridechimpfees_detlisbox p{
    margin: 0px;
    font-size: 17px;
    color: #000;
    font-family: 'Rubik-Medium';
    padding-bottom: 21px;
}

.ridechimpfeessave_butten{
    display: inline-block;
    width: 47%;
    float: left;
}
.ridechimpfeessave_butten a{
    display: inline-block;
    padding: 10px 35px 10px 35px;
    float: right;
    color: #fff;
    font-family: 'Rubik-Regular';
    background: rgba(36,168,224,1);
    background: -moz-linear-gradient(left, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(36,168,224,1)), color-stop(100%, rgba(102,49,145,1)));
    background: -webkit-linear-gradient(left, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    background: -o-linear-gradient(left, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    background: -ms-linear-gradient(left, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    background: linear-gradient(to right, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24a8e0', endColorstr='#663191', GradientType=1 );
}
.maintanacradio_button{
    display: inline-block;
    width: 100%;
}
.maintanacradio_button p{
    margin: 0px;
    color: #494949;
    font-size: 14px;
    font-family: 'Rubik-Regular';
    padding-bottom: 13px;
}

/*****Radio-btn*****/

.maintanacradio_button .switch-field {
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  padding: 0px;
  overflow: hidden;
}

.maintanacradio_button .switch-title {
  margin-bottom: 6px;
}

.maintanacradio_button .switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.maintanacradio_button .switch-field label {
  float: left;
}

.maintanacradio_button .switch-field label {
  display: inline-block;
  width: 85px;  
  color: #000;
  height: 33px;
  font-size: 14px;
  font-family: 'Rubik-Regular';
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid #ddd;  
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.maintanacradio_button .switch-field label:hover {
    cursor: pointer;
}

.maintanacradio_button .switch-field input:checked + label {    
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    border: 0px;
    font-size: 15px;
    height: 33px;    
    background: rgba(36,168,224,1);
    font-family: 'Rubik-Regular';
    background: -moz-linear-gradient(left, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(36,168,224,1)), color-stop(100%, rgba(102,49,145,1)));
    background: -webkit-linear-gradient(left, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    background: -o-linear-gradient(left, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    background: -ms-linear-gradient(left, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    background: linear-gradient(to right, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24a8e0', endColorstr='#663191', GradientType=1 );
}

.maintanacradio_button .switch-field label:first-of-type {
  border-radius: 0;
}

.maintanacradio_button .switch-field label:last-of-type {
  border-radius: 0;
  margin-left: 17px;
}

/*****Radio-btn*****/

.appversion_detlisdiv{
    display: inline-block;
    width: 100%;
    padding-top: 30px;
}
.appversion_detlisdiv p{
    margin: 0px;
    color: #494949;
    font-size: 14px;
    font-family: 'Rubik-Regular';
    padding-bottom: 13px;
}
.appversion_detlisdiv input{
    display: inline-block;
    width: 45%;
    border: 1px solid #ddd;
    font-family: 'Rubik-Regular';
    height: 40px;
    padding-left: 11px;
    padding-right: 11px;
    color: #000;
}
.bottomsave_btn{
    display: inline-block;
    width: 100%;
    padding-top: 35px;
}
.bottomsave_btn a{
    display: inline-block;
    padding: 10px 35px 10px 35px;    
    color: #fff;
    font-size: 15px;
    font-family: 'Rubik-Regular';
    background: rgba(36,168,224,1);
    background: -moz-linear-gradient(left, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(36,168,224,1)), color-stop(100%, rgba(102,49,145,1)));
    background: -webkit-linear-gradient(left, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    background: -o-linear-gradient(left, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    background: -ms-linear-gradient(left, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    background: linear-gradient(to right, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24a8e0', endColorstr='#663191', GradientType=1 );
}

.ordersbooked_detlis{
    display: inline-block;
    width: 100%;
}
.ordersbooked_detlis h4{
    margin: 0px;
    font-size: 15px;
    color: #000;
    padding-bottom: 6px;
    font-family: 'Rubik-Medium';
}
.ordersbooked_detlis p{
    margin: 0px;
    font-size: 14px;
    color: #000;
    font-family: 'Rubik-Regular';
}
.ordersbooked_detlis span{
    color: #0DA26C;
}
.bookingdetlis_text{
    display: inline-block;
    width: 55%;
    border: 1px solid #ddd;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}
.bookingdetlis_text h4{
    margin: 0px;
    font-size: 17px;
    color: #000;
    padding-bottom: 22px;
    font-family: 'Rubik-Medium';
}
.bookingdetlis_text p{
    margin: 0px;
    font-size: 14px;
    color: #494949;
    padding-bottom: 7px;
    font-family: 'Rubik-Regular';
}

.bookingdetlis_text span{
    color: #48207F;
    font-family: 'Rubik-Medium';
}
.Tripdetlis_mandivtextbox{
    display: inline-block;
    width: 55%;
    margin-top: 23px;
    border: 1px solid #ddd;    
}
.Tripdetlis_textbox{
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-left: 13px;
    padding-top: 16px;
}

.Tripdetlis_textbox h4{
    margin: 0px;
    font-size: 17px;
    color: #000;
    padding-bottom: 22px;
    font-family: 'Rubik-Medium';    
}
.Tripdetlis_textbox p{
    margin: 0px;
    font-size: 14px;
    color: #494949;
    padding-bottom: 7px;
    font-family: 'Rubik-Regular';    
}
.mandivsteetleft_textbox{
    display: inline-block;
    width: 100%;
    padding-left: 13px;
    padding-top: 16px;
    padding-bottom: 18px;
    border-bottom: 1px solid #ddd;
}
.steetleft_textbox{
    display: inline-block;
    width: 30%;
    float: left;
}
.steetleft_textbox h4{
    color: #494949;
    margin: 0px;
    font-size: 14px;
    padding-bottom: 13px;
    font-family: 'Rubik-Regular'; 
}
.steetleft_textbox h3{
    color: #494949;
    margin: 0px;
    font-size: 14px;
    padding-bottom: 6px;
    font-family: 'Rubik-Medium'; 
}
.steetleft_textbox p{
    color: #494949;
    margin: 0px;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Rubik-Regular';
}
.distancearrow_div{
    display: inline-block;
    width: 14%;
    float: left;
    padding-top: 31px;
}
.distancearrow_div img{
    width: 23px;
}
.pickuploction_detlis{
    display: inline-block;
    width: 100%;
}
.pickuploction_detlis p{
    margin: 0px;
    font-size: 14px;
    padding-bottom: 6px;
    color: #494949;    
    font-family: 'Rubik-Regular';
}
.pickuploction_detlis h4{
    color: #494949;
    margin: 0px;
    font-size: 14px;
    padding-bottom: 6px;
    font-family: 'Rubik-Medium';
}
.pickuploction_detlis span{
    color: #48217F;    
}




/****Settings.Css****/



/*21-2-2019*/




















/* media queries */
@media (max-width: 1200px){
	
}
@media (max-width: 1199px){	
	
}
@media (max-width: 991px){
	
}
@media (max-width: 767px){

}
@media (max-width: 479px){
	
}
@media (max-width: 360px){
	
}
@media (max-width: 320px){
	
}
/* media queries */











