
*{text-decoration:none !important; outline:0 !important; list-style:none !important;}

body {color:#2b2a2a; background:#F7F9FB; font-family:'robotoregular';}

a,a:hover {transition:0.6s all !important;}

.form-control:focus {box-shadow:0px 0px 5px #fed307 !important; border-color:#fed307;}


@font-face {
    font-family: 'avenir-next-lt-pro-regular';
    src: url('../fonts/avenir-next-lt-pro-regular.otf'),
         url('../fonts/avenir-next-lt-pro-regular.otf');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'avenir-next-lt-pro-medium';
    src: url('../fonts/avenir-next-lt-pro-medium.otf'),
         url('../fonts/avenir-next-lt-pro-medium.otf');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'avenir-next-lt-pro-bold';
    src: url('../fonts/avenir-next-lt-pro-bold.otf'),
         url('../fonts/avenir-next-lt-pro-bold.otf');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'avenir-next-lt-pro-demi';
    src: url('../fonts/avenir-next-lt-pro-demi.otf'),
         url('../fonts/avenir-next-lt-pro-demi.otf');
        font-weight: normal;
        font-style: normal;
}




.newcreateashift_boxsetinalldesign{
    display: inline-block;
    width: 100%;
}
.createshift_titleset {
    display: inline-block;
    width: 100%;
    border-bottom:2px solid #bbbdc0;
    padding-top: 10px;
    padding-bottom: 20px;
}
.createshift_titleset h3{
    color: #231f20;
    font-family: 'avenir-next-lt-pro-bold';
    font-size: 26px;
    display: inline-block;
    float: left;
    margin: 0;
    text-transform: uppercase;
}
.createshift_titleset a{
    display: inline-block;
    float: right;
    color: #ef4756;
    font-family: 'avenir-next-lt-pro-bold';
    font-size: 18px;
    padding-top: 2px;    
}


.lookingforboxseincheck{
    display: inline-block;
    width: 100%;
}
.lookingforboxseincheck h4{
    display: inline-block;
    width: 100%;
    font-family: 'avenir-next-lt-pro-demi';
    color: #231f20;
    font-size: 20px;
    padding-top: 22px;
    padding-bottom: 8px;
}
.lookingforboxseincheck ul{
    display: inline-block;
    width: 100%;
    padding-left: 0px;
}
.lookingforboxseincheck ul li{
    position: relative;
    display: inline-block;
    width: 100%;
}
.lookingforboxseincheck ul li input[type=radio] {
    position: absolute;
    visibility: hidden;
}
.lookingforboxseincheck input[type=radio]:checked ~ .check {
    border: 0 !important;
    background: rgba(26,171,171,1);
    background: -moz-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(26,171,171,1)), color-stop(100%, rgba(16,87,135,1)));
    background: -webkit-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -o-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: -ms-linear-gradient(left, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    background: linear-gradient(to right, rgba(26,171,171,1) 0%, rgba(16,87,135,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1aabab', endColorstr='#105787', GradientType=1 );
}
.lookingforboxseincheck input[type=radio]:checked ~ label {
    color: #231f20;
    font-family: 'avenir-next-lt-pro-medium';
}
.lookingforboxseincheck ul li label {
    color: #acadad;
    color: #acadad;
    font-family: 'avenir-next-lt-pro-medium';
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.35em;
    padding: 0px 20px 0px 38px;
    margin: 10px auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    display: inline-block;
    height: auto;
    padding-bottom: 0px;
}
.lookingforboxseincheck label {
    display: block;
    margin: 0;
    float: left;
}
.lookingforboxseincheck ul li .check {
    display: block;
    position: absolute;
    border-radius: 100%;
    height: 28px;
    width: 28px;
    top: 9px;
    left: 0px;
    z-index: 5;
    /*transition: border .25s linear;
    -webkit-transition: border .25s linear;*/
    /* background: #acadad; */
    border: 2px solid #acadad;
}
.lookingforboxseincheck ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 15px;
    width: 17px;
    top: 7px;
    left: 6px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}
.lookingforboxseincheck input[type=radio]:checked ~ .check::before {
    background: url(../images/right-icon.png) no-repeat;
    background-size: 100%;
}

.dateboxdesignset_new{
    display: inline-block;
    width: 100%;
}
.dateboxdesignset_new{
    display: inline-block;
    float: left;
    color: #000;
    font-family: 'avenir-next-lt-pro-demi';
    font-size: 18px;
}



/* media queries */
@media (max-width: 1200px){
	
}
@media (max-width: 1199px){	
	
}
@media (max-width: 991px){
	
}
@media (max-width: 767px){

}
@media (max-width: 479px){
	
}
@media (max-width: 360px){
	
}
@media (max-width: 320px){
	
}
/* media queries */











