

*{text-decoration:none !important; outline:0 !important; list-style:none !important;}



body {color:#2b2a2a; background:#fdfdfd; font-family:'robotoregular';}



a,a:hover {transition:0.6s all !important;}



.form-control:focus {box-shadow:0px 0px 5px #fed307 !important; border-color:#fed307;}





@font-face {

    font-family: 'Roboto-Regular';

    src: url('../fonts/Roboto-Regular.ttf'),

         url('../fonts/Roboto-Regular.ttf');

        font-weight: normal;

        font-style: normal;

}

@font-face {

    font-family: 'Roboto-Medium';

    src: url('../fonts/Roboto-Medium.ttf'),

         url('../fonts/Roboto-Medium.ttf');

        font-weight: normal;

        font-style: normal;

}

@font-face {

    font-family: 'Roboto-Bold';

    src: url('../fonts/Roboto-Bold.ttf'),

         url('../fonts/Roboto-Bold.ttf');

        font-weight: normal;

        font-style: normal;

}





label.error{
    color: #FF4500 !important;
    font-size: 12px !important;
}

.mainhedpartcover{

    display: inline-block;

    width: 100%;

    border-bottom: 1px solid #DCDBDB;

    float: left;

}





.mainhedpartcover .navbar-default {

    background-color: #fff;

    border-color: inherit;

    border: 0;

    margin-bottom: 0;

    margin-top: 0;

}

.mainhedpartcover .navbar-brand{

    padding: 0;

    border-right: 1px solid #DCDBDB;

    height: 65px;

    padding-top: 14px;

    padding-right: 24px;

}

.mainhedpartcover .navbar-brand img{

    width: 150px;

}

.mainhedpartcover .navbar-nav{



}

.mainhedpartcover .navbar-nav.navbar-left{

    margin-top: 10px;

}

.mainhedpartcover .navbar-nav li{

    position: relative;

    padding-bottom: 5px;

}

.mainhedpartcover .navbar-nav li a{

   font-family: 'Roboto-Medium';

    color: #000000;

    font-size: 15px;
    text-transform: uppercase;

}

.mainhedpartcover .navbar-nav li.activemen:after{

    content: '';

    background: #2163b2;

    height: 3px;

    width: 100%;

    position: absolute;

    bottom: 0;

    display: inline-block;

    left: 0;

}

.mainhedpartcover .navbar-nav li.activemen a.mainmenu{
    color: #2163b2;
}
.mainhedpartcover .navbar-nav li.activemen a.mainmenu{
    color: #2163b2;
}
.dowloadapp{

    display: inline-block;

    margin-top: 20px;

}

.dowloadapp h3{

    margin: 0;

    font-size: 15px;

    color: #C7C7C7;

    font-family: 'Roboto-Regular';

    float: left;

    padding-top: 8px;

}

.dowloadapp a{

    display: inline-block;

    width: auto;

    float: left;

    padding: 0 !important;

    margin-left: 12px;

}

.dowloadapp a img{

    width: 20px;

}





.finditercitybox{

    display: inline-block;

    width: 100%;

    /*background: url(../images/bg-img.png) top center no-repeat;*/

    background-size: cover;

    height: 760px;

    position: relative;

}

.finditercitybox:after{

    content: '';

    background: url(../images/subtraction-img.png) top center no-repeat;

    position: absolute;

    left: -1px;

    top: 10%;

    height: 149px;

    width: 85px;

    background-size: 100%;

}



.intercityFindtextvox{

    display: inline-block;

    width: 100%;

    padding-top: 186px;
    padding-bottom: 93px;
    position: relative;

    z-index: 9;

    padding-left: 102px;
}

.intercityFindtextvox h3{

    color: #1A1818;

    font-family: 'Roboto-Medium';

    font-size: 35px;

    display: inline-block;

    width: 100%;

}

.intercityFindtextvox p{

    color: #1A1818;

    font-family: 'Roboto-Medium';

    font-size: 18px;

    margin-top: 6px;

    margin-bottom: 18px;

}

.intercityFindtextvox ul{

    display: inline-block;

    width: 100%;

    padding-left: 0;

}

.intercityFindtextvox ul li{

    display: inline-block;

    width: auto;

    float: left;

}

.intercityFindtextvox ul li a{

    display: inline-block;

    color: #fff;

    font-family: 'Roboto-Medium';

    font-size: 15px;

    background: #000000;

    padding: 10px 18px 10px;

    border-radius: 6px;

    margin-right: 25px;

}

.intercityFindtextvox ul li a img{

    width: 18px;

    float: left;

}

.intercityFindtextvox ul li a span{

    float: left;

    padding-top: 3px;

    padding-left: 10px;

}



.rideimageboxpart{

    display: inline-block;

    /*width: auto;*/
    width: 100%;

    position: absolute;

    right: 0;

    top: 0;

    height: auto;

    text-align: right;

}

.rideimageboxpart img{

    width: 60%;

}





.respoimgboxsetr{

    display: none;

}





.appdetail_textimg{

    display: inline-block;

    width: 100%;

    text-align: center;

}

.imgtextcoverpart{

    display: inline-block;

    width: 90%;

    margin: 0 auto;

    margin-bottom: 53px;

    margin-top: 35px;

}

.appdetailleft{

    display: inline-block;

    width: 50%;

    float: left;

    text-align: right;

    padding-right: 10px;

}

.appdetailright{

    display: inline-block;

    width: 50%;

    float: left;

    text-align: left;

    padding-top: 104px;

    padding-left: 60px;

}

.appdetailleft img{

    width: 100%;

}



/* .appdetailright img{


}
 */
.logozoom_one{

}
.imganimpulse{
  display: inline-block;
  width: 100%;
  height: 135px;
  position: relative;
}
.imganimpulse img{
    width: 70px;
    left: 31px;
    top: 31px;
    position: absolute;
}


.rowonesetincol svg{
     position: absolute;
     width:100%;
     height:100%;
     top: 0px;
     left: 0px;
     display:block;
     transform-origin: center;
}
.rowonesetincol circle {
     fill: none;
     vector-effect:non-scaling-stroke;
     stroke-location: inside;
    /*stroke: #fff; */
     /* stroke: #CDDEEF; */
     stroke: #b4d4f5;
     stroke-width: 13px;
     transform-origin: center;
     transform: scale(0.2);
}
.pulse {
    position: absolute;
    width: 132px;
    height: 132px;
}
/* Pulse Animation */
@keyframes pulse {
     0% {
         opacity: 1;
         transform: scale(0.2);
    }
     100% {
         opacity: 0;
         transform: scale(1);

    }
}
/* Pulse Application */
circle {
  animation: pulse 4s infinite;
  animation-timing-function: linear;
}
circle.still{
  animation: none;
}
circle:nth-child(2){
  animation-delay: 1s;
}
circle:nth-child(3){
  animation-delay: 2s;
}
 circle:nth-child(4){
  animation-delay: 3s;
}
circle:nth-child(5){
   animation-delay: 4s;
}
.logozoom_one .pulse {
    position: absolute;
    right: -29px;
    top: 150px;
}
svg:not(:root) {
    overflow: hidden;
}
circle.still {
    animation: none;
}
/* .imganimpulse .pulse-container{
  position: absolute;
  left: 0;
  top: 0;
} */







.appdetailright p{

    display: inline-block;

    width: 100%;

    font-family: 'Roboto-Medium';

    color: #000000;

    font-size: 40px;

    margin-top: 0;

}

.alditalext{

    display: inline-block;

    width: 100%;

}

.ditboxpart1{



}

.ditboxpart2{



}

.ditboxpart3{



}

.ditboxpart4{

    margin-bottom: 98px;

}





.ditboxpart2 .appdetailright , .ditboxpart4 .appdetailright{

  padding-left: 40px;
  padding-right: 0;
}



.ditboxpart2 .appdetailleft , .ditboxpart4 .appdetailleft{

    padding-right: 0px;

    padding-left: 0px;

}









footer{

    border-top: 1px solid #D8D8D8;

    padding-top: 6px;

    padding-bottom: 7px;

}

.menuleftprt{

    display: inline-block;

    width: 40%;

    float: left;

}

.menuleftprt ul{

    display: inline-block;

    width: 100%;

    padding-left: 0;

    margin: 0;

}

.menuleftprt ul li{

    display: inline-block;

    width: auto;

    padding-right: 21px;

}

.menuleftprt ul li a{

    display: inline-block;

    color: #000000;

    font-family: 'Roboto-Bold';

    padding-top: 12px;

    padding-bottom: 8px;

    font-size: 14px;

}

.cpyrigmidprt{

    display: inline-block;

    width: 20%;

    float: left;



}

.cpyrigmidprt p{

    margin: 0;

    font-family: 'Roboto-Medium';

    color: #CCCCCC;

    font-size: 16px;

    padding-top: 10px;

}

.instyoutrightprt{

    display: inline-block;

    width: 40%;

    float: right;

    padding-top: 6px;

    text-align: right;

}

.instyoutrightprt a{

    display: inline-block;

}

.instyoutrightprt a img{

    width: 30px;

    margin-left: 10px;

}





.plappstorbtn{

    display: none;

    float: right;

    margin-top: 14px;

    margin-right: 11px;



}



.plappstorbtn a{

   display: inline-block;

   color: #fff;

   font-family: 'Roboto-Medium';

   font-size: 12px;

   background: #2163b2;

   padding: 8px 11px 8px;

   border-radius: 6px;

   margin-right: 0;

}

.plappstorbtn a img{

    width: 16px;

    float: left;

}

.plappstorbtn a span{

    float: left;

    padding-top: 3px;

    padding-left: 0px;

}







.privacypolicy_mandiv{

    display: inline-block;

    width: 100%;

    margin-bottom: 25px;

    margin-top: 15px;

}



.privacypolicy_mandiv h3{

    font-family: 'Roboto-Medium';

    font-size: 21px;

}



.privacypolicy_mandiv p{

    font-family: 'Roboto-Regular';

    font-size: 14px;

}





.surrentlyavbl{

    display: inline-block;

    width: 100%;

    text-align: center;

    padding-top: 46px;

}

.surrentlyavbl h3{

    font-family: 'Roboto-Medium';

    font-size: 28px;
    color: #1A1818;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;

}

.surrentlyavbl p{

    font-family: 'Roboto-Medium';
    font-size: 18px;
    color: #1A1818;
    display: inline-block;
    width: 100%;

}



.mentallactbox{

    display: inline-block;

    width: 100%;

    text-align: center;

}

.availablecurrlist{

    display: inline-block;

    width: 86%;

    padding-top: 95px;

    margin: 0 auto;

    text-align: left;

    padding-bottom: 100px;

}



.avaiblecurlst_left{

    display: inline-block;

    width: 60%;

    float: left;

}

.avaiblecurlst_right{

    display: inline-block;

    width: 40%;

    float: left;

    padding-top: 7px;

}



.avaiblecurlst_left ul{

    display: inline-block;

    width: 50%;

    float: left;

    padding-left: 0;

}

.avaiblecurlst_left ul li{

    display: inline-block;

    width: 100%;

    margin-bottom: 7px;

}

.avaiblecurlst_left ul li h4{

    margin: 0;

    font-family: 'Roboto-Bold';

    color: #000000;

    font-size: 20px;

    margin-bottom: 18px;

}

.avaiblecurlst_left ul li a{

    display: inline-block;

    font-family: 'Roboto-Medium';

    font-size: 16px;

    color: #064DA2;

}





.avaiblecurlst_right a{

    display: inline-block;

    background: #000000;

    color: #fff;

    font-family: 'Roboto-Medium';

    font-size: 13px;

    padding: 9px 20px 8px;

    border-radius: 32px;

    margin-top: 25px;

}



.custom-select {

    position: relative;

    width: 255px;

}

.custom-select select {

  display: none;

}

.select-selected {

  background-color: DodgerBlue;

}

.select-selected:after {

  position: absolute;

  content: "";

  top: 17px;

  right: 11px;

  width: 0;

  height: 0;

  border: 5px solid transparent;

  border-color: #000000 transparent transparent transparent;

}

.select-selected.select-arrow-active:after {

  border-color: transparent transparent #000000 transparent;

  top: 11px;

}

.select-items div,.select-selected {

    color: #ffffff;

    padding: 8px 16px;

    border: 1px solid transparent;

    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;

    cursor: pointer;

    user-select: none;

}

.avaiblecurlst_right .select-selected{

    border: 1px solid #E9E9E9;

    background: #fff;

    color: #1A1818;

    font-family: 'Roboto-Medium';

    font-weight: normal;

}

.select-items {

    position: absolute;

    background-color: #fff;

    top: 100%;

    left: 0;

    right: 0;

    z-index: 99;

    border-left: 1px solid #E9E9E9;

    border-right: 1px solid #E9E9E9;



}

.select-items div{

    font-family: 'Roboto-Regular';

    color: #1A1818;

    border-bottom: 1px solid #E9E9E9;

    font-weight: normal;

}

.select-hide {

  display: none;

}

.select-items div:hover, .same-as-selected {

  background-color: rgba(0, 0, 0, 0.1);

}



.gettstadrived{

    display: inline-block;

    width: 100%;

    margin-bottom: 30px;

}



.drivestartedtitle{

    display: inline-block;

    width: 100%;

    padding-top: 46px

}

.drivestartedtitle h3{

    display: inline-block;

    width: 100%;

    color: #1A1818;

    font-family: 'Roboto-Medium';

    font-size: 30px;

    margin-bottom: 5px;

}

.drivestartedtitle h6{

    display: inline-block;

    width: 100%;

    font-family: 'Roboto-Medium';

    font-size: 16px;

    color: #1A1818;

    margin-bottom: 15px;

}

.drivestartedtitle p{

    display: inline-block;

    width: 100%;

    font-family: 'Roboto-Regular';

    color: #96999C;

    font-size: 18px;

    margin-top: 12px;

    margin-bottom: 15px;

}



.drivestarticontextset{

    display: inline-block;

    width: 100%;

    margin-bottom: 24px;

    margin-top: 22px;

}

.driartintextset_left{

    width: 150px;

    float: left;

}

.driartintextset_right{

    width: 43%;

    float: left;

    padding-top: 6px;

    padding-left: 31px;

}





.driartintextset_left img{

    width: 135px;

}

.driartintextset_right h3{

    display: inline-block;

    width: 100%;

    font-family: 'Roboto-Medium';

    color: #1A1818;

    margin: 0px;

    margin-bottom: 20px;

}

.driartintextset_right p{

    display: inline-block;

    width: 100%;

    font-family: 'Roboto-Regular';

    color: #96999C;

    font-size: 16px;

    margin-bottom: 22px;

}

.driartintextset_right a{

    color: #294D9B;

    font-family: 'Roboto-Medium';

    font-size: 16px;

}

.information_detlisboxpart h1{

    font-family: 'Roboto-Medium';

}

.information_detlisboxpart h2{

    font-family: 'Roboto-Medium';

}

.information_detlisboxpart h3{

    font-family: 'Roboto-Medium';

}

.information_detlisboxpart h4{

    font-family: 'Roboto-Medium';

}

.information_detlisboxpart p{

    font-family: 'Roboto-Regular';

}

.becmdriv_pagetitle{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 46px;
    margin-bottom: 45px;
}

.becmdriv_pagetitle h3{
    font-family: 'Roboto-Medium';
    font-size: 28px;
    color: #1A1818;
    margin-bottom: 16px;
    display: inline-block;
     width: 100%;
}
.becmdriv_pagetitle p{
    font-family: 'Roboto-Medium';
    font-size: 18px;
    color: #1A1818;
    display: inline-block;
    width: 100%;
}

.becdriformcove{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.inerformpart{
    display: inline-block;
    width: 60%;
    text-align: left;
    -webkit-box-shadow: 0px 0px 10px -1px rgba(184,184,184,1);
    -moz-box-shadow: 0px 0px 10px -1px rgba(184,184,184,1);
    box-shadow: 0px 0px 10px -1px rgba(184,184,184,1);
    border-radius: 10px;    
    margin-bottom: 80px;
}
.formboxingrp1{
    display: inline-block;
    width: 100%;
    
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.formgroupinput{
    display: inline-block;
    width: 50%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 115px;
}
.formgroupinput label{
    display: inline-block;
    width: 100%;
    margin: 0;
    color: #1A1818;
        font-weight: normal;
    font-family: 'Roboto-Medium';
    font-size: 16px;
    margin-bottom: 6px;
}
.formgroupinput .form-control{
    border: 1px solid #e0e0e0;
    color: #1A1818;
    font-family: 'Roboto-Regular';
    background-color: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    height: 48px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    box-shadow: inherit;
    font-size: 16px;
}
.form-group{
    margin-bottom: 0;
}
.phonenumberset .form-group{
    position: relative;
}
.phonenumberset span{
    position: absolute;
    left: 1px;
    top: 29px;
    background: #f9f8f8;
    color: #ababab;
    width: 45px;
    text-align: center;
    height: 46px;
    font-family: 'Roboto-Bold';
    padding-top: 16px;
    border-radius: 6px 0px 0px 6px;
}
.phonenumberset .form-control{
    padding-left: 54px;
}
.formgroupinput input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b8b8b8;
}
.formgroupinput input::-moz-placeholder { /* Firefox 19+ */
  color: #b8b8b8;
}
.formgroupinput input:-ms-input-placeholder { /* IE 10+ */
  color: #b8b8b8;
}
.formgroupinput input:-moz-placeholder { /* Firefox 18- */
  color: #b8b8b8;
}


.formgroupinput .form-control:focus {
    box-shadow: inherit !important;
    border-color: #D9D9D9;
}


.selectboxcovedis{
    display: inline-block;
    width: 50%;
    float: left;
    min-height: 115px;
    padding-left: 20px;
    padding-right: 20px;
}
.selectboxcovedis label{
    display: inline-block;
    width: 100%;
    margin: 0;
    color: #1A1818;
    font-weight: normal;
    font-family: 'Roboto-Medium';
    font-size: 16px;
    margin-bottom: 6px;
}
.select2-container--default .select2-selection--single{
    border: 1px solid #D9D9D9 !important;
    border-radius: 6px !important;
    height: 48px !important;
    width: 100% !important;
}
.select2-container .select2-selection--single{

}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 48px !important;
    color: #1A1818 !important;
    font-family: 'Roboto-Regular' !important;
    font-size: 16px  !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 48px !important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
    
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{

}
.select2-container--default .select2-results__option[aria-selected=true]{

}
.select2-results__option{
    color: #1A1818 !important;
    font-family: 'Roboto-Regular' !important;
    font-size: 16px !important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background-color: #ddd !important;
}
.select2-container--default .select2-results__option--highlighted{
    background-color: #fff !important;
}
.select2.select2-container{
    width: 100% !important;
}
.custom-select.select2-hidden-accessible{
    width: 0 !important;
    height: 0 !important;
    opacity: 0 !important;
}


.formboxingrp2{
    display: inline-block;
    width: 100%;
    padding-top: 38px;
    padding-left: 40px;
    padding-right: 40px;
    border-top: 1px solid #dfdada;
    margin-top: 10px;
}
.rediobtnbox1{
    display: inline-block;
    width: 100%;
    margin-bottom: 34px;
}

.rediobtnbox1 h4{
    display: inline-block;
    width: 100%;
    margin: 0;
    color: #1A1818;
    font-weight: normal;
    font-family: 'Roboto-Medium';
    font-size: 16px;
    margin-bottom: 18px;
}
.radiocust {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.radiocust input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.radiocust .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #d8d8d8;
}
.radiocust:hover input ~ .checkmark {
  background-color: #2163b2;
}
.radiocust input:checked ~ .checkmark {
    background-color: #fff;
    border: 1px solid #2163b2;
}
.radiocust .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.radiocust input:checked ~ .checkmark:after {
  display: block;
}
.radiocust .checkmark:after {
    top: 3px;
    left: 3px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #2163b2;
}

.rdbtnwidthset{
    display: inline-block;
    width: 50%;
    float: left;
}
.radiocust{
    color: #c0c0c0;
    font-family: 'Roboto-Medium';
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 18px;
    padding-top: 3px;
}



.checkoxsustom {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

      color: #c0c0c0;
    font-family: 'Roboto-Medium';
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 18px;
    padding-top: 3px;
}
.checkoxsustom input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.checkoxsustom:hover input ~ .checkmark {
  background-color: #2163b2;
}
.checkoxsustom input:checked ~ .checkmark {
  background-color: #2163b2;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkoxsustom input:checked ~ .checkmark:after {
  display: block;
}
.checkoxsustom .checkmark:after {
    left: 9px;
    top: 5px;
    width: 7px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}




.rediobtnbox2{
    display: inline-block;
    width: 100%;
    margin-bottom: 26px;
}

.rediobtnbox2 h4{
    display: inline-block;
    width: 100%;
    margin: 0;
    color: #1A1818;
    font-weight: normal;
    font-family: 'Roboto-Medium';
    font-size: 16px;
    margin-bottom: 18px;
}

.rediobtnbox2 ul{
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    padding-left: 0;
}
.rediobtnbox2 ul li{
    display: inline-block;
    float: left;
    margin-right: 28px;
}
.rediobtnbox2 ul li .radiocust{
    margin-bottom: 0;
}

.rediobtnbox3{
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    min-height: 122px;
}

.rediobtnbox3 h4{
    display: inline-block;
    width: 100%;
    margin: 0;
    color: #1A1818;
    font-weight: normal;
    font-family: 'Roboto-Medium';
    font-size: 16px;
    margin-bottom: 18px;
}
.rediobtnbox3 label{
    display: inline-block;
    width: 100%;
    margin: 0;
    color: #1A1818;
    font-weight: normal;
    font-family: 'Roboto-Medium';
    font-size: 16px;
    margin-bottom: 12px;
}
.rediobtnbox3 .form-control {
    border: 1px solid #e0e0e0;
    color: #1A1818;
    font-family: 'Roboto-Regular';
    background-color: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    height: 48px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    box-shadow: inherit;
    font-size: 16px;
}

.rediobtnbox4{
    display: inline-block;
    width: 100%;
    margin-top: 22px;
    margin-bottom: 35px;
}
.rediobtnbox4 button{
    display: inline-block;
    background: rgba(12,137,205,1);
    background: -moz-linear-gradient(left, rgba(12,137,205,1) 0%, rgba(71,33,129,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(12,137,205,1)), color-stop(100%, rgba(71,33,129,1)));
    background: -webkit-linear-gradient(left, rgba(12,137,205,1) 0%, rgba(71,33,129,1) 100%);
    background: -o-linear-gradient(left, rgba(12,137,205,1) 0%, rgba(71,33,129,1) 100%);
    background: -ms-linear-gradient(left, rgba(12,137,205,1) 0%, rgba(71,33,129,1) 100%);
    background: linear-gradient(to right, rgba(12,137,205,1) 0%, rgba(71,33,129,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c89cd', endColorstr='#472181', GradientType=1 );
    color: #fff;
    font-size: 18px;
    border: 0;
    font-family: 'Roboto-Bold';
    padding: 12px 53px 10px;
    border-radius: 6px;
}

.mainhedpartcover .navbar-nav li a{
    background: #fff;
}

.dropbtn {
  background-color: #2163b2;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    background-color: #fff;
    color: #000000;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
     background-color: #fff;
    color: #2163b2;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 99;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #fff;color: #2163b2;}


.mainhedpartcover .dropdown-menu{
    background: #2163b2;
    color: #fff;
    padding: 0;
    border-radius: 0;
    border: 0;
    padding: 17px;
}
.mainhedpartcover .dropdown-menu li{
    position: relative;
    padding-bottom: 0px;
    display: inline-block;
    width: 100%;

}
.mainhedpartcover .dropdown-menu li a{
    background: transparent;
    color: #dadada;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: 'Roboto-Regular';
    padding-left: 10px; 
}
.mainhedpartcover .dropdown-menu li a:hover{
       background: #2c8cff;
    color: #fff;
}

/*.mainhedpartcover .nav.navbar-nav:hover .mainmenu{
    opacity: 0.5;
}
.mainmenu:hover{
    opacity: 1 !important;
}
*/
.rsponsve_showwnu{
    display: none !important;
}

.formgroupinput .error{
    font-family: 'Roboto-Regular';
    margin-bottom: 0;
    font-weight: normal;
}
.selectboxcovedis .error{
    font-family: 'Roboto-Regular';
    margin-bottom: 0;
    font-weight: normal;
}
.rediobtnbox1 .error{
    font-family: 'Roboto-Regular';
    margin-bottom: 0;
    font-weight: normal;
}
.rediobtnbox2 .error{
    font-family: 'Roboto-Regular';
    font-weight: normal;
}
.rediobtnbox3 .error{
    font-family: 'Roboto-Regular';
    font-weight: normal;
}
























/* media queries */

@media (max-width: 1200px){

	.imgtextcoverpart{

        width: 94%;

    }

    .appdetailright{

        padding-top: 94px;

    }

}

@media (max-width: 1199px){

    .menuleftprt ul li a{

        font-size: 12px;

    }

    .cpyrigmidprt p{

        font-size: 13px;

    }

    .instyoutrightprt a img{

        width: 25px;

    }



}

@media (max-width: 992px){
    .inerformpart{
        width: 100%;
    }
    .appdetailleft img{
         width: 90%;
    }
    .appdetailright img {

        /*width: 89px;*/

    }

    .appdetailright p{

        font-size: 29px;

    }

    .appdetail_textimg .container{

        width: 100%;

    }

    .cpyrigmidprt{

        width: 25%;

    }

    .instyoutrightprt{

        width: 35%;

    }

    .intercityFindtextvox{

        padding-bottom: 70px;

    }

    .intercityFindtextvox{

        padding-top: 25px;

    }

    .finditercitybox:after{

        content: '';

        left: 0;

        top: 0;

        height: 0;

        width: 0;

        background-size: 0;

    }

    .rideimageboxpart{

        display: none;

    }

    .respoimgboxsetr{

        display: inline-block;

        position: absolute;

        right: 0;

        top: 278px;

    }

    .respoimgboxsetr img{

        width: 100%;

    }

    .appdetailright{

        padding-top: 87px;

    }

	.imgtextcoverpart {

        width: 100%;

        padding-left: 20px;

        padding-right: 20px;

    }



}

@media (max-width: 768px){
    .rsponsve_showwnu{
        display: inline-block !important;
        width: 100%;  
    }
    .dropdown-menu.dropdown-content{
        display: none !important;
    }
    .mainhedpartcover .navbar-nav li.activemen:after{
        content: '';
        height: 0;
        width: 0;
    }
    .formgroupinput{
        width: 100%;
    }
    .selectboxcovedis{
        width: 100%;
    }
    .pulse{
        position: relative;
        margin: 0 auto;
    }/*
    .imganimpulse img{
        position: relative;
    }*/
    .imganimpulse{
        text-align: center;
    }
    .driartintextset_right{

        width: 60%;

    }

    .custom-select{

        width: 100%;

    }

    .plappstorbtn a{

        font-size: 11px;

    }

    .plappstorbtn a img{

        width: 14px;

    }

    .appdetailright img{
        width: 70px;
        left: 0;
        top: 31px;
        position: absolute;
        right: 0;
        margin: 0 auto;
        /*width: 93px;*/

    }

    .plappstorbtn{

        display: inline-block;

    }

    .mainhedpartcover .nav.navbar-nav.navbar-right{

        display: none;

    }

    .menuleftprt ul li{

        width: 49%;

    }

    .instyoutrightprt a img{

        width: 33px;

    }

    .instyoutrightprt {

        width: 30%;

        padding-right: 40px;

    }

    .menuleftprt{

        width: 70%;

        padding-left: 40px;

        padding-bottom: 13px;

    }

    footer .container{

        padding-left: 0;

        padding-right: 0;

    }

    .cpyrigmidprt{

        width: 100%;

        text-align: center;

        border-top: 1px solid #E8E8E8;

        padding-top: 5px;

        padding-bottom: 6px;

    }

    .mainhedpartcover .navbar-toggle{

        background: transparent;

        border: 0;

        padding: 0;

        margin-top: 19px;

    }

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{

        background-color: #fff;

    }

    .mainhedpartcover .navbar-toggle.collapsed .hamburger{

        display: inline-block;

    }

    .mainhedpartcover .navbar-toggle.collapsed .hamburger_close{

        display: none;

    }

    .mainhedpartcover .navbar-toggle .hamburger{

        display: none;

    }

    .mainhedpartcover .navbar-toggle .hamburger_close{

        display: inline-block;

    }



    .mainhedpartcover .navbar-toggle img{

        width: 30px;

    }

    .mainhedpartcover .navbar-nav li a{

        padding-left: 23px;

    }

    .mainhedpartcover .navbar-header{

        background: #fff;

        z-index: 99;

        position: relative;

    }

    .mainhedpartcover .navbar-collapse{

        position: absolute;

        background-color: #fff;

        width: 100%;

        z-index: 9;

        -webkit-box-shadow: 0px 1px 8px -1px rgba(202, 202, 202, 0.79);

        -moz-box-shadow: 0px 1px 8px -1px rgba(202, 202, 202, 0.79);

        box-shadow: 0px 1px 8px -1px rgba(202, 202, 202, 0.79);

    }

    .mainhedpartcover .container{

        padding-left: 0;

        padding-right: 0;

    }

    .mainhedpartcover .navbar-brand{

        border-right: 0;

        padding-left: 20px;

        padding-right: 0;

    }

    .finditercitybox{

        margin-bottom: 80px;

        height: auto;

    }

    .finditercitybox .container{

        padding-left: 0px;

        padding-right: 0px;

    }

    .intercityFindtextvox{

        padding-left: 20px;

        padding-right: 20px;

        z-index: 1;

    }

    .respoimgboxsetr{

        display: inline-block;

        position: relative;

        right: 0;

        top: 0;

        float: right;

    }

    .appdetailleft img {

        width: 350px;

    }

    .appdetailleft{

        width: 100%;

        padding-right: 0;

        text-align: center;

    }

    .appdetailright{

        text-align: center;

        width: 100%;

        padding-left: 0 !important;

        padding-right: 0 !important;

        padding-top: 35px;

    }

    .imgtextcoverpart {

        width: 100%;

        margin-bottom: 0;

        margin-top: 0;

    }

    .appdetailright br{

        display: none;

    }

    .alditalext p{

        width: 248px;

        font-size: 25px;

        margin-top: 0px;

    }

    .appdetailleft{

        display: none;

    }

    .ditboxpart1 .appdetailleft{

        display: inline-block !important;

        margin-bottom: 28px;

    }

    .appdetail_textimg{

        margin-bottom: 50px;

    }

}

@media (max-width: 600px){
    .rediobtnbox2 ul li{
        margin-bottom: 10px;
    }
    .rediobtnbox4{
        margin-top: 0px;
    }
    .rdbtnwidthset{
        width: 100%;
        padding-right: 18px;
    }
    .formboxingrp1{
        padding-left: 0px;
        padding-right: 0px;
    }
    .formboxingrp2{
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 0px;
        padding-top: 28px;
        
    }
    .rediobtnbox1 {
        margin-bottom: 20px;
    }
    .rediobtnbox2{
        margin-bottom: 22px; 
    }
    .driartintextset_right {

        width: 72%;

    }

    .driartintextset_left{

        width: 104px;

    }

    .driartintextset_left img {

        width: 100px;

    }

    .driartintextset_right a{

        font-size: 12px;

    }

    .driartintextset_right p{

        font-size: 13px;

        margin-bottom: 10px;

    }

    .driartintextset_right h3{

        font-size: 20px;

        margin-bottom: 11px;

    }

    .drivestartedtitle p{

        font-size: 15px;

    }

    .drivestartedtitle h6{

        font-size: 13px;

    }

    .drivestartedtitle h3{

        font-size: 25px;

    }

    .drivestartedtitle{

        padding-top: 25px;

    }

    .custom-select {

        width: 220px;

    }

    .avaiblecurlst_right{

        padding-top: 29px;

        width: 100%;

    }

    .availablecurrlist{

        padding-top: 48px;

        padding-bottom: 55px;

    }

    .surrentlyavbl{

        padding-top: 25px;

    }

    .avaiblecurlst_left{

        width: 100%;

    }

    .appdetailright{

        padding-top: 40px;

    }

    .intercityFindtextvox h3{

        font-size: 28px;

    }

    .intercityFindtextvox p{

        font-size: 16px;

    }

    .intercityFindtextvox ul li a{

        font-size: 12px;

    }

    .intercityFindtextvox ul li a img{

        width: 16px;

    }

    .intercityFindtextvox{

        padding-bottom: 51px;

    }

    .respoimgboxsetr img {

        width: 86%;

        float: right;

    }

    .appdetailright p{

        font-size: 25px;

    }

    .drivestartedtitle p br{

        display: none;

    }

}

@media (max-width: 479px){

    .drivestartedtitle{

        margin-bottom: 15px;

    }

    .driartintextset_right p{

        font-size: 12px;

        margin-bottom: 8px;

    }

    .driartintextset_right a {

        font-size: 11px;

    }

    .driartintextset_right h3{

        font-size: 18px;

        margin-bottom: 9px;

    }

    .drivestarticontextset{

        margin-bottom: 8px;

    }

    .driartintextset_right {

        width: 100%;

        padding-left: 0;

        text-align: center;

    }

    .driartintextset_left{

        width: 100%;

        text-align: center;

    }

    .drivestartedtitle p{

        margin-bottom: 0;

    }

    .avaiblecurlst_left ul li a{

        font-size: 14px;

    }

    .avaiblecurlst_left ul li h4{

        font-size: 16px;

    }

    .surrentlyavbl p{

        font-size: 13px;

    }

    .surrentlyavbl h3{

        font-size: 18px;

        margin-bottom: 7px;

    }

    .mainhedpartcover .navbar-brand{

        padding-left: 13px;

    }

    .mainhedpartcover .navbar-brand img{

        width: 136px;

    }

    .respoimgboxsetr img{

        width: 92%;

    }

    .appdetailleft img {

        width: 269px;

    }

   .menuleftprt{

        padding-left: 20px;

   }

   .instyoutrightprt{

        padding-right: 20px;

   }

   .menuleftprt ul li{

        padding-right: 0;

   }

   .instyoutrightprt a img {

        width: 28px;

        margin-left: 7px;

    }

}

@media (max-width: 360px){

	.drivestartedtitle{

        padding-top: 13px;

    }

}

@media (max-width: 320px){



}

/* media queries */























