 *{
    text-decoration:none !important;
     outline:0 !important;
     list-style:none !important;
}
 body {
    color:#2b2a2a;
     background:#fdfdfd;
     font-family:'robotoregular';
     margin: 0;
      padding: 0;
      height: 100%;
}
 a,a:hover {
    transition:0.6s all !important;
}
 .form-control:focus {
    box-shadow: inherit !important;
     border-color:#fed307;
}
 @font-face {
     font-family: 'Roboto-Regular';
     src: url('../fonts/Roboto-Regular.ttf'), url('../fonts/Roboto-Regular.ttf');
     font-weight: normal;
     font-style: normal;
}
 @font-face {
     font-family: 'Roboto-Medium';
     src: url('../fonts/Roboto-Medium.ttf'), url('../fonts/Roboto-Medium.ttf');
     font-weight: normal;
     font-style: normal;
}
 @font-face {
     font-family: 'Roboto-Bold';
     src: url('../fonts/Roboto-Bold.ttf'), url('../fonts/Roboto-Bold.ttf');
     font-weight: normal;
     font-style: normal;
}
 label.error{
     color: #FF4500 !important;
     font-size: 12px !important;
}
 .mainhedpartcover{
     display: inline-block;
     width: 100%;
     border-bottom: 1px solid #DCDBDB;
     float: left;
}
 .mainhedpartcover .navbar-default {
     background-color: #fff;
     border-color: inherit;
     border: 0;
     margin-bottom: 0;
     margin-top: 0;
}
 .mainhedpartcover .navbar-brand{
     padding: 0;
     border-right: 1px solid #DCDBDB;
     height: 65px;
     padding-top: 14px;
     padding-right: 24px;
}
 .mainhedpartcover .navbar-brand img{
     width: 150px;
}
 .mainhedpartcover .navbar-nav{
}
 .mainhedpartcover .navbar-nav.navbar-left{
     margin-top: 10px;
}
 .mainhedpartcover .navbar-nav li{
     position: relative;
     padding-bottom: 5px;
}
 .mainhedpartcover .navbar-nav li a{
     font-family: 'Roboto-Medium';
     color: #000000;
     font-size: 15px;
     text-transform: uppercase;
}
 .mainhedpartcover .navbar-nav li.activemen:after{
     content: '';
     background: #2163b2;
     height: 3px;
     width: 100%;
     position: absolute;
     bottom: 0;
     display: inline-block;
     left: 0;
}
 .mainhedpartcover .navbar-nav li.activemen a.mainmenu{
     color: #2163b2;
}
 .mainhedpartcover .navbar-nav li.activemen a.mainmenu{
     color: #2163b2;
}
 .dowloadapp{
     display: inline-block;
     margin-top: 20px;
}
 .dowloadapp h3{
     margin: 0;
     font-size: 15px;
     color: #C7C7C7;
     font-family: 'Roboto-Regular';
     float: left;
     padding-top: 8px;
}
 .dowloadapp a{
     display: inline-block;
     width: auto;
     float: left;
     padding: 0 !important;
     margin-left: 12px;
}
 .dowloadapp a img{
     width: 20px;
}
 .finditercitybox{
     display: inline-block;
     width: 100%;
    /*background: url(../images/bg-img.png) top center no-repeat;
    */
     background-size: cover;
     height: auto;
     position: relative;
     text-align: center;
}

.leftrihtboxinercover{
     display: inline-block;
     width: 100%;
     text-align: left;
     margin-top: 40px;
     margin-bottom: 90px;
     padding-left: 0;
}
/*.finditercitybox:after{
     content: '';
     background: url(../images/subtraction-img.png) top center no-repeat;
     position: absolute;
     left: -1px;
     top: 10%;
     height: 149px;
     width: 85px;
     background-size: 100%;
}*/

 .intercityFindtextvox{
     display: inline-block;
     width: 50%;
     float: left;
     padding-top: 200px;
     padding-bottom: 0;
     position: relative;
     z-index: 9;
     padding-left: 0;
     text-align: center;
}
.topmidtextinerpatrset{
  display: inline-block;
  text-align: center;
}

 .intercityFindtextvox h3{
     color: #1a1818;
     font-family: 'Roboto-Bold';
     font-size: 54px;
     display: inline-block;
     width: 100%;
}
 .intercityFindtextvox p{
     color: #1A1818;
     font-family: 'Roboto-Medium';
     font-size: 32px;
     margin-top: 6px;
     margin-bottom: 28px;
}
 .intercityFindtextvox ul{
     display: inline-block;
     width: auto;
     padding-left: 0;
}
 .intercityFindtextvox ul li{
     display: inline-block;
     width: auto;
     float: left;
}
 .intercityFindtextvox ul li a{
     display: inline-block;
     color: #fff;
     font-family: 'Roboto-Medium';
     font-size: 20px;
     background: #000000;
     padding: 10px 18px 10px;
     border-radius: 6px;
     margin-right: 34px;
}
 .intercityFindtextvox ul li a img{
     width: 24px;
     float: left;
}
 .intercityFindtextvox ul li a span{
     float: left;
     padding-top: 3px;
     padding-left: 10px;
}

.rihtimgtobnset{
     display: inline-block;
     width: 50%;
     float: left;
     text-align: right;
}
.rihtimgtobnset img{
     width: 70%;
}



 .rideimageboxpart{
     display: inline-block;
    /*width: auto;
    */
     width: 100%;
     position: absolute;
     right: 0;
     top: 0;
     height: auto;
     text-align: right;
}
 .rideimageboxpart img{
     width: 60%;
}
 .respoimgboxsetr{
     display: none;
}
 .appdetail_textimg{
     display: inline-block;
     width: 100%;
     text-align: center;
}
 .imgtextcoverpart{
     display: inline-block;
     width: 100%;
     margin: 0 auto;
     margin-bottom: 53px;
     margin-top: 35px;
}
 .appdetailleft{
     display: inline-block;
     width: 50%;
     float: left;
     text-align: right;
     padding-right: 10px;
     position: relative;
}
 .appdetailright{
     display: inline-block;
     width: 50%;
     float: left;
     text-align: left;
     padding-top: 146px;
     padding-left: 105px;
}
 .appdetailleft img{
    width: 100%;

}
/******* effect1 *******/
 .animetionefectnone{
     display: inline-block;
     width: 100%;
}
 .animetionefectnone img{
     width: 100%;
}
 .animetionefectactive{
     display: inline-block;
     position: absolute;
    /*width: 100%;
    */
     top: 67px;
     right: 91px;
}
 .animetionefectactive img{
     width: 209px;
     transition: all 0.8s;
     -webkit-transition: all 0.8s;
}
 .ditboxpart1.effect .img-overlay {
     opacity: 0.4;
}
 .section1 .img-overlay{
     width: 242px;
     height: 477px;
     position: absolute;
     top: 24px;
     right: 77px;
     background-color: #000;
     transition: all 2.5s;
     -webkit-transition: all 2.5s;
     opacity: 0;
     border-radius: 16px;
}
 .ditboxpart1.effect .animetionefectactive img{
     opacity: 1;
     transition: all 0.8s ease-in;
     -webkit-transition: all 0.8s ease-in;
}
 .ditboxpart1 .animetionefectactive{
     position: absolute;
     top: 67px;
     right: -10px;
     text-align: center;
     width: 80%;
     transition-timing-function: ease-out;
     transition: all 0.8s;
     -webkit-transition: all 0.8s;
}
 .ditboxpart1.effect .animetionefectactive img{
     -webkit-box-shadow: 1px 25px 26px 1px rgba(125, 125, 125, 0.36);
     -moz-box-shadow: 1px 25px 26px 1px rgba(125, 125, 125, 0.36);
     box-shadow: 1px 25px 26px 1px rgba(125, 125, 125, 0.36);
     width: 76%;
     border-radius: 9px;
}
/******* effect1 *******/


/******* effect2 *******/
 .animetionefectnone2{
     display: inline-block;
     width: 100%;
}
 .animetionefectnone2 img{
     width: 100%;
}
 .animetionefectactive2{
     display: inline-block;
     position: absolute;
    /*width: 100%;
    */
     top: 67px;
     right: 91px;
}
 .animetionefectactive2 img{
     width: 101px;
     transition: all 0.8s;
     -webkit-transition: all 0.8s;
}
 .ditboxpart2.effect2 .img-overlay {
     opacity: 0.4;
}
 .section2 .img-overlay{
     width: 248px;
     height: 496px;
     position: absolute;
     top: 24px;
     left: 71px;
     background-color: #000;
     transition: all 2.5s;
     -webkit-transition: all 2.5s;
     opacity: 0;
     border-radius: 19px;
}
 .ditboxpart2.effect2 .animetionefectactive2 img{
    /*border-radius: 31px;
    */
     opacity: 1;
    /*width: 217px;
    */
     transition: all 0.8s ease-in;
     -webkit-transition: all 0.8s ease-in;
}
 .ditboxpart2 .animetionefectactive2{
     position: absolute;
     top: 292px;
     right: 54px;
     text-align: center;
     width: 80%;
     transition-timing-function: ease-out;
     transition: all 0.8s;
     -webkit-transition: all 0.8s;
}
 .ditboxpart2.effect2 .animetionefectactive2 img{
     -webkit-box-shadow: 1px 25px 26px 1px rgba(125, 125, 125, 0.36);
     -moz-box-shadow: 1px 25px 26px 1px rgba(125, 125, 125, 0.36);
     box-shadow: 1px 25px 26px 1px rgba(125, 125, 125, 0.36);
     width: 44%;
     border-radius: 10px;
    /*border: 2px solid #fff;
    */
     background: #1eb073;
}
/******* effect2 *******/
/******* effect3 *******/
 .animetionefectnone3{
     display: inline-block;
     width: 100%;
}
 .animetionefectnone3 img{
     width: 100%;
}
 .animetionefectactive3{
     display: inline-block;
     position: absolute;
    /*width: 100%;
    */
     top: 67px;
     right: 91px;
}
 .animetionefectactive3 img{
     width: 219px;
     transition: all 0.8s;
     -webkit-transition: all 0.8s;
}
 .ditboxpart3.effect3 .img-overlay {
     opacity: 0.4;
}
 .section3 .img-overlay{
     width: 248px;
     height: 476px;
     position: absolute;
     top: 24px;
     right: 77px;
     background-color: #000;
     transition: all 2.5s;
     -webkit-transition: all 2.5s;
     opacity: 0;
     border-radius: 19px;
}
 .ditboxpart3.effect3 .animetionefectactive3 img{
    /*border-radius: 31px;
    */
     opacity: 1;
    /*width: 217px;
    */
     transition: all 0.8s ease-in;
     -webkit-transition: all 0.8s ease-in;
}
 .ditboxpart3 .animetionefectactive3{
     position: absolute;
     top: 139px;
     right: -8px;
     text-align: center;
     width: 80%;
     transition-timing-function: ease-out;
     transition: all 0.8s;
     -webkit-transition: all 0.8s;
}
 .ditboxpart3.effect3 .animetionefectactive3 img{
     -webkit-box-shadow: 1px 25px 26px 1px rgba(125, 125, 125, 0.36);
     -moz-box-shadow: 1px 25px 26px 1px rgba(125, 125, 125, 0.36);
     box-shadow: 1px 25px 26px 1px rgba(125, 125, 125, 0.36);
     width: 77%;
     border-radius: 9px;
    /* border: 2px solid #fff;
     */
    /* background: #1eb073;
     */
}
/******* effect3 *******/
/******* effect4 *******/
 .animetionefectnone4{
     display: inline-block;
     width: 100%;
}
 .animetionefectnone4 img{
     width: 100%;
}
 .animetionefectactive4{
     display: inline-block;
     position: absolute;
    /*width: 100%;
    */
     top: 67px;
     right: 91px;
}
 .animetionefectactive4 img{
     width: 228px;
     transition: all 0.8s;
     -webkit-transition: all 0.8s;
}
 .ditboxpart4.effect4 .img-overlay {
     opacity: 0.4;
}
 .section4 .img-overlay{
     width: 250px;
     height: 496px;
     position: absolute;
     top: 24px;
     left: 70px;
     background-color: #000;
     transition: all 2.5s;
     -webkit-transition: all 2.5s;
     opacity: 0;
     border-radius: 19px;
}
 .ditboxpart4.effect4 .animetionefectactive4 img{
    /*border-radius: 31px;
    */
     opacity: 1;
    /*width: 217px;
    */
     transition: all 0.8s ease-in;
     -webkit-transition: all 0.8s ease-in;
}
 .ditboxpart4 .animetionefectactive4{
     position: absolute;
     top: 76px;
     left: -10px;
     text-align: center;
     width: 80%;
     transition-timing-function: ease-out;
     transition: all 0.8s;
     -webkit-transition: all 0.8s;
}
 .ditboxpart4.effect4 .animetionefectactive4 img{
     -webkit-box-shadow: 1px 25px 26px 1px rgba(125, 125, 125, 0.36);
     -moz-box-shadow: 1px 25px 26px 1px rgba(125, 125, 125, 0.36);
     box-shadow: 1px 25px 26px 1px rgba(125, 125, 125, 0.36);
     width: 77%;
     border-radius: 9px;
    /* border: 2px solid #fff;
     */
    /* background: #1eb073;
     */
}
/******* effect4 *******/
/* .appdetailright img{
}
 */
 .logozoom_one{
}
 .imganimpulse{
     display: inline-block;
     width: 100%;
     height: 135px;
     position: relative;
}
 .imganimpulse img{
     width: 70px;
     left: 31px;
     top: 31px;
     position: absolute;
}
 .rowonesetincol svg{
     position: absolute;
     width:100%;
     height:100%;
     top: 0px;
     left: 0px;
     display:block;
     transform-origin: center;
}
 .rowonesetincol circle {
     fill: none;
     vector-effect:non-scaling-stroke;
     stroke-location: inside;
    /*stroke: #fff;
     */
    /* stroke: #CDDEEF;
     */
     stroke: #b4d4f5;
     stroke-width: 13px;
     transform-origin: center;
     transform: scale(0.2);
}
 .pulse {
     position: absolute;
     width: 132px;
     height: 132px;
}
/* Pulse Animation */
 @keyframes pulse {
     0% {
         opacity: 1;
         transform: scale(0.2);
    }
     100% {
         opacity: 0;
         transform: scale(1);
    }
}
/* Pulse Application */
 circle {
     animation: pulse 4s infinite;
     animation-timing-function: linear;
}
 circle.still{
     animation: none;
}
 circle:nth-child(2){
     animation-delay: 1s;
}
 circle:nth-child(3){
     animation-delay: 2s;
}
 circle:nth-child(4){
     animation-delay: 3s;
}
 circle:nth-child(5){
     animation-delay: 4s;
}
 .logozoom_one .pulse {
     position: absolute;
     right: -29px;
     top: 150px;
}
 svg:not(:root) {
     overflow: hidden;
}
 circle.still {
     animation: none;
}
/* .imganimpulse .pulse-container{
     position: absolute;
     left: 0;
     top: 0;
}
 */
 .appdetailright p{
     display: inline-block;
     width: 100%;
     font-family: 'Roboto-Medium';
     color: #000000;
     font-size: 40px;
     margin-top: 0;
}
 .alditalext{
     display: inline-block;
     width: 100%;
}
 .ditboxpart1{
}
 .ditboxpart2{
}
 .ditboxpart3{
}
 .ditboxpart4{
     margin-bottom: 98px;
}
 .ditboxpart2 .appdetailright , .ditboxpart4 .appdetailright{
     padding-left: 0px;
     padding-right: 0;
}
 .ditboxpart2 .appdetailleft , .ditboxpart4 .appdetailleft{
     padding-right: 0px;
     padding-left: 0px;
}
 footer{
     border-top: 1px solid #D8D8D8;
     padding-top: 6px;
     padding-bottom: 7px;
}
 .menuleftprt{
     display: inline-block;
     width: 39%;
     float: left;
}
 .menuleftprt ul{
     display: inline-block;
     width: 100%;
     padding-left: 0;
     margin: 0;
}
 .menuleftprt ul li{
     display: inline-block;
     width: auto;
     padding-right: 21px;
}
 .menuleftprt ul li a{
     display: inline-block;
     color: #000000;
     font-family: 'Roboto-Bold';
     padding-top: 12px;
     padding-bottom: 8px;
     font-size: 14px;
}
 .cpyrigmidprt{
     display: inline-block;
     width: 22%;
     float: left;
}
 .cpyrigmidprt p{
     margin: 0;
     font-family: 'Roboto-Medium';
     color: #CCCCCC;
     font-size: 16px;
     padding-top: 10px;
}
 .instyoutrightprt{
     display: inline-block;
     width: 39%;
     float: right;
     padding-top: 6px;
     text-align: right;
}
 .instyoutrightprt a{
     display: inline-block;
}
 .instyoutrightprt a img{
     width: 30px;
     margin-left: 10px;
}
 .plappstorbtn{
     display: none;
     float: right;
     margin-top: 14px;
     margin-right: 11px;
}
 .plappstorbtn a{
     display: inline-block;
     color: #fff;
     font-family: 'Roboto-Medium';
     font-size: 12px;
     background: #2163b2;
     padding: 8px 11px 8px;
     border-radius: 6px;
     margin-right: 0;
}
 .plappstorbtn a img{
     width: 16px;
     float: left;
}
 .plappstorbtn a span{
     float: left;
     padding-top: 3px;
     padding-left: 0px;
}
 .privacypolicy_mandiv{
     display: inline-block;
     width: 100%;
     margin-bottom: 25px;
     margin-top: 15px;
}
 .privacypolicy_mandiv h3{
     font-family: 'Roboto-Medium';
     font-size: 21px;
}
 .privacypolicy_mandiv p{
     font-family: 'Roboto-Regular';
     font-size: 14px;
}
 .surrentlyavbl{
     display: inline-block;
     width: 100%;
     text-align: center;
     padding-top: 46px;
}
 .surrentlyavbl h3{
     font-family: 'Roboto-Bold';
     font-size: 40px;
     color: #1A1818;
     margin-bottom: 20px;
     display: inline-block;
     width: 100%;
}
 .surrentlyavbl p{
     font-family: 'Roboto-Medium';
     font-size: 25px;
     color: #1A1818;
     display: inline-block;
     width: 100%;
}
 .mentallactbox{
     display: inline-block;
     width: 100%;
     text-align: center;
}
 .availablecurrlist{
     display: inline-block;
     width: 86%;
     padding-top: 95px;
     margin: 0 auto;
     text-align: left;
     padding-bottom: 100px;
}
 .avaiblecurlst_left{
     display: inline-block;
     width: 60%;
     float: left;
}
 .avaiblecurlst_right{
     display: inline-block;
     width: 40%;
     float: left;
     padding-top: 7px;
}
 .avaiblecurlst_left ul{
     display: inline-block;
     width: 50%;
     float: left;
     padding-left: 0;
}
 .avaiblecurlst_left ul li{
     display: inline-block;
     width: 100%;
     margin-bottom: 7px;
}
 .avaiblecurlst_left ul li h4{
     margin: 0;
     font-family: 'Roboto-Bold';
     color: #000000;
     font-size: 24px;
     margin-bottom: 18px;
}
 .avaiblecurlst_left ul li a{
     display: inline-block;
     font-family: 'Roboto-Medium';
     font-size: 20px;
     color: #064DA2;
}
 .avaiblecurlst_right a{
     display: inline-block;
     background: #000000;
     color: #fff;
     font-family: 'Roboto-Medium';
     font-size: 17px;
     padding: 13px 29px 11px;
     border-radius: 32px;
     margin-top: 25px;
}
 .custom-select {
     position: relative;
     width: 255px;
}
 .custom-select select {
     display: none;
}
 .select-selected {
     background-color: DodgerBlue;
}
 .select-selected:after {
     position: absolute;
     content: "";
     top: 17px;
     right: 11px;
     width: 0;
     height: 0;
     border: 5px solid transparent;
     border-color: #000000 transparent transparent transparent;
}
 .select-selected.select-arrow-active:after {
     border-color: transparent transparent #000000 transparent;
     top: 11px;
}
 .select-items div,.select-selected {
     color: #ffffff;
     padding: 8px 16px;
     border: 1px solid transparent;
     border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
     cursor: pointer;
     user-select: none;
}
 .avaiblecurlst_right .select-selected{
     border: 1px solid #E9E9E9;
     background: #fff;
     color: #1A1818;
     font-family: 'Roboto-Medium';
     font-weight: normal;
}
 .select-items {
     position: absolute;
     background-color: #fff;
     top: 100%;
     left: 0;
     right: 0;
     z-index: 99;
     border-left: 1px solid #E9E9E9;
     border-right: 1px solid #E9E9E9;
}
 .select-items div{
     font-family: 'Roboto-Regular';
     color: #1A1818;
     border-bottom: 1px solid #E9E9E9;
     font-weight: normal;
}
 .select-hide {
     display: none;
}
 .select-items div:hover, .same-as-selected {
     background-color: rgba(0, 0, 0, 0.1);
}
 .gettstadrived{
     display: inline-block;
     width: 100%;
     margin-bottom: 30px;
}
 .drivestartedtitle{
     display: inline-block;
     width: 100%;
     padding-top: 46px
}
 .drivestartedtitle h3{
     display: inline-block;
     width: 100%;
     color: #1A1818;
     font-family: 'Roboto-Medium';
     font-size: 30px;
     margin-bottom: 5px;
}
 .drivestartedtitle h6{
     display: inline-block;
     width: 100%;
     font-family: 'Roboto-Medium';
     font-size: 16px;
     color: #1A1818;
     margin-bottom: 15px;
}
 .drivestartedtitle p{
     display: inline-block;
     width: 100%;
     font-family: 'Roboto-Regular';
     color: #96999C;
     font-size: 18px;
     margin-top: 12px;
     margin-bottom: 15px;
}
 .drivestarticontextset{
     display: inline-block;
     width: 100%;
     margin-bottom: 24px;
     margin-top: 22px;
}
 .driartintextset_left{
     width: 150px;
     float: left;
}
 .driartintextset_right{
     width: 43%;
     float: left;
     padding-top: 6px;
     padding-left: 31px;
}
 .driartintextset_left img{
     width: 135px;
}
 .driartintextset_right h3{
     display: inline-block;
     width: 100%;
     font-family: 'Roboto-Medium';
     color: #1A1818;
     margin: 0px;
     margin-bottom: 20px;
}
 .driartintextset_right p{
     display: inline-block;
     width: 100%;
     font-family: 'Roboto-Regular';
     color: #96999C;
     font-size: 16px;
     margin-bottom: 22px;
}
 .driartintextset_right a{
     color: #294D9B;
     font-family: 'Roboto-Medium';
     font-size: 16px;
}
 .information_detlisboxpart h1{
     font-family: 'Roboto-Medium';
}
 .information_detlisboxpart h2{
     font-family: 'Roboto-Medium';
}
 .information_detlisboxpart h3{
     font-family: 'Roboto-Medium';
}
 .information_detlisboxpart h4{
     font-family: 'Roboto-Medium';
}
 .information_detlisboxpart p{
     font-family: 'Roboto-Regular';
}
.information_detlisboxpart ul{
  display: inline-block;
  width: 100%;
  padding-left: 24px;
}
.information_detlisboxpart ul li{
  font-family: 'Roboto-Regular';
  font-size: 14px;
}
 .becmdriv_pagetitle{
     display: inline-block;
     width: 100%;
     text-align: center;
     padding-top: 46px;
     margin-bottom: 45px;
}
 .becmdriv_pagetitle h3{
     font-family: 'Roboto-Medium';
     font-size: 28px;
     color: #1A1818;
     margin-bottom: 16px;
     display: inline-block;
     width: 100%;
}
 .becmdriv_pagetitle p{
     font-family: 'Roboto-Medium';
     font-size: 18px;
     color: #1A1818;
     display: inline-block;
     width: 100%;
}
 .becdriformcove{
     display: inline-block;
     width: 100%;
     text-align: center;
}
 .inerformpart{
     display: inline-block;
     width: 60%;
     text-align: left;
     -webkit-box-shadow: 0px 0px 10px -1px rgba(184,184,184,1);
     -moz-box-shadow: 0px 0px 10px -1px rgba(184,184,184,1);
     box-shadow: 0px 0px 10px -1px rgba(184,184,184,1);
     border-radius: 10px;
     margin-bottom: 80px;
}
 .formboxingrp1{
     display: inline-block;
     width: 100%;
     padding-top: 40px;
     padding-left: 20px;
     padding-right: 20px;
}
 .formgroupinput{
     display: inline-block;
     width: 50%;
     float: left;
     padding-left: 20px;
     padding-right: 20px;
     min-height: 115px;
}
 .formgroupinput label{
     display: inline-block;
     width: 100%;
     margin: 0;
     color: #1A1818;
     font-weight: normal;
     font-family: 'Roboto-Medium';
     font-size: 16px;
     margin-bottom: 6px;
}
 .formgroupinput .form-control{
     border: 1px solid #e0e0e0;
     color: #1A1818;
     font-family: 'Roboto-Regular';
     background-color: #fff;
     border: 1px solid #D9D9D9;
     border-radius: 6px;
     height: 48px;
     padding-left: 10px;
     padding-right: 10px;
     width: 100%;
     box-shadow: inherit;
     font-size: 16px;
}
 .form-group{
     margin-bottom: 0;
}
 .phonenumberset .form-group{
     position: relative;
}
 .phonenumberset span{
     position: absolute;
     left: 1px;
     top: 29px;
     background: #f9f8f8;
     color: #ababab;
     width: 45px;
     text-align: center;
     height: 46px;
     font-family: 'Roboto-Bold';
     padding-top: 16px;
     border-radius: 6px 0px 0px 6px;
}
 .phonenumberset .form-control{
     padding-left: 54px;
}
 .formgroupinput input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
     color: #b8b8b8;
}
 .formgroupinput input::-moz-placeholder {
    /* Firefox 19+ */
     color: #b8b8b8;
}
 .formgroupinput input:-ms-input-placeholder {
    /* IE 10+ */
     color: #b8b8b8;
}
 .formgroupinput input:-moz-placeholder {
    /* Firefox 18- */
     color: #b8b8b8;
}
 .formgroupinput .form-control:focus {
     box-shadow: inherit !important;
     border-color: #D9D9D9;
}
 .selectboxcovedis{
     display: inline-block;
     width: 50%;
     float: left;
     min-height: 115px;
     padding-left: 20px;
     padding-right: 20px;
}
 .selectboxcovedis label{
     display: inline-block;
     width: 100%;
     margin: 0;
     color: #1A1818;
     font-weight: normal;
     font-family: 'Roboto-Medium';
     font-size: 16px;
     margin-bottom: 6px;
}
 .select2-container--default .select2-selection--single{
     border: 1px solid #D9D9D9 !important;
     border-radius: 6px !important;
     height: 48px !important;
     width: 100% !important;
}
 .select2-container .select2-selection--single{
}
 .select2-container--default .select2-selection--single .select2-selection__rendered{
     line-height: 48px !important;
     color: #1A1818 !important;
     font-family: 'Roboto-Regular' !important;
     font-size: 16px !important;
}
 .select2-container--default .select2-selection--single .select2-selection__arrow{
     height: 48px !important;
}
 .select2-container--default .select2-results__option--highlighted[aria-selected]{
}
 .select2-container--default .select2-results__option--highlighted[aria-selected]{
}
 .select2-container--default .select2-results__option[aria-selected=true]{
}
 .select2-results__option{
     color: #1A1818 !important;
     font-family: 'Roboto-Regular' !important;
     font-size: 16px !important;
}
 .select2-container--default .select2-results__option--highlighted[aria-selected]{
     background-color: #ddd !important;
}
 .select2-container--default .select2-results__option--highlighted{
     background-color: #fff !important;
}
 .select2.select2-container{
     width: 100% !important;
}
 .custom-select.select2-hidden-accessible{
     width: 0 !important;
     height: 0 !important;
     opacity: 0 !important;
}
 .formboxingrp2{
     display: inline-block;
     width: 100%;
     padding-top: 38px;
     padding-left: 40px;
     padding-right: 40px;
     border-top: 1px solid #dfdada;
     margin-top: 10px;
}
 .rediobtnbox1{
     display: inline-block;
     width: 100%;
     margin-bottom: 34px;
}
 .rediobtnbox1 h4{
     display: inline-block;
     width: 100%;
     margin: 0;
     color: #1A1818;
     font-weight: normal;
     font-family: 'Roboto-Medium';
     font-size: 16px;
     margin-bottom: 18px;
}
 .radiocust {
     display: block;
     position: relative;
     padding-left: 35px;
     margin-bottom: 12px;
     cursor: pointer;
     font-size: 22px;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
}
 .radiocust input {
     position: absolute;
     opacity: 0;
     cursor: pointer;
}
 .radiocust .checkmark {
     position: absolute;
     top: 0;
     left: 0;
     height: 25px;
     width: 25px;
     background-color: #fff;
     border-radius: 50%;
     border: 1px solid #d8d8d8;
}
 .radiocust:hover input ~ .checkmark {
     background-color: #2163b2;
}
 .radiocust input:checked ~ .checkmark {
     background-color: #fff;
     border: 1px solid #2163b2;
}
 .radiocust .checkmark:after {
     content: "";
     position: absolute;
     display: none;
}
 .radiocust input:checked ~ .checkmark:after {
     display: block;
}
 .radiocust .checkmark:after {
     top: 3px;
     left: 3px;
     width: 17px;
     height: 17px;
     border-radius: 50%;
     background: #2163b2;
}
 .rdbtnwidthset{
     display: inline-block;
     width: 50%;
     float: left;
}
 .radiocust{
     color: #c0c0c0;
     font-family: 'Roboto-Medium';
     font-size: 16px;
     font-weight: normal;
     margin-bottom: 18px;
     padding-top: 3px;
}
 .checkoxsustom {
     display: block;
     position: relative;
     padding-left: 35px;
     margin-bottom: 12px;
     cursor: pointer;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     color: #c0c0c0;
     font-family: 'Roboto-Medium';
     font-size: 16px;
     font-weight: normal;
     margin-bottom: 18px;
     padding-top: 3px;
}
 .checkoxsustom input {
     position: absolute;
     opacity: 0;
     cursor: pointer;
     height: 0;
     width: 0;
}
 .checkmark {
     position: absolute;
     top: 0;
     left: 0;
     height: 25px;
     width: 25px;
     background-color: #eee;
}
 .checkoxsustom:hover input ~ .checkmark {
     background-color: #2163b2;
}
 .checkoxsustom input:checked ~ .checkmark {
     background-color: #2163b2;
}
 .checkmark:after {
     content: "";
     position: absolute;
     display: none;
}
 .checkoxsustom input:checked ~ .checkmark:after {
     display: block;
}
 .checkoxsustom .checkmark:after {
     left: 9px;
     top: 5px;
     width: 7px;
     height: 13px;
     border: solid white;
     border-width: 0 3px 3px 0;
     -webkit-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     transform: rotate(45deg);
}
 .rediobtnbox2{
     display: inline-block;
     width: 100%;
     margin-bottom: 26px;
}
 .rediobtnbox2 h4{
     display: inline-block;
     width: 100%;
     margin: 0;
     color: #1A1818;
     font-weight: normal;
     font-family: 'Roboto-Medium';
     font-size: 16px;
     margin-bottom: 18px;
}
 .rediobtnbox2 ul{
     display: inline-block;
     width: 100%;
     margin-bottom: 0;
     padding-left: 0;
}
 .rediobtnbox2 ul li{
     display: inline-block;
     float: left;
     margin-right: 28px;
}
 .rediobtnbox2 ul li .radiocust{
     margin-bottom: 0;
}
 .rediobtnbox3{
     display: inline-block;
     width: 100%;
     margin-bottom: 0;
     min-height: 122px;
}
 .rediobtnbox3 h4{
     display: inline-block;
     width: 100%;
     margin: 0;
     color: #1A1818;
     font-weight: normal;
     font-family: 'Roboto-Medium';
     font-size: 16px;
     margin-bottom: 18px;
}
 .rediobtnbox3 label{
     display: inline-block;
     width: 100%;
     margin: 0;
     color: #1A1818;
     font-weight: normal;
     font-family: 'Roboto-Medium';
     font-size: 16px;
     margin-bottom: 12px;
}
 .rediobtnbox3 .form-control {
     border: 1px solid #e0e0e0;
     color: #1A1818;
     font-family: 'Roboto-Regular';
     background-color: #fff;
     border: 1px solid #D9D9D9;
     border-radius: 6px;
     height: 48px;
     padding-left: 10px;
     padding-right: 10px;
     width: 100%;
     box-shadow: inherit;
     font-size: 16px;
}
 .rediobtnbox4{
     display: inline-block;
     width: 100%;
     margin-top: 22px;
     margin-bottom: 35px;
}
 .rediobtnbox4 button{
     display: inline-block;
     background: rgba(12,137,205,1);
     background: -moz-linear-gradient(left, rgba(12,137,205,1) 0%, rgba(71,33,129,1) 100%);
     background: -webkit-gradient(left top, right top, color-stop(0%, rgba(12,137,205,1)), color-stop(100%, rgba(71,33,129,1)));
     background: -webkit-linear-gradient(left, rgba(12,137,205,1) 0%, rgba(71,33,129,1) 100%);
     background: -o-linear-gradient(left, rgba(12,137,205,1) 0%, rgba(71,33,129,1) 100%);
     background: -ms-linear-gradient(left, rgba(12,137,205,1) 0%, rgba(71,33,129,1) 100%);
     background: linear-gradient(to right, rgba(12,137,205,1) 0%, rgba(71,33,129,1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c89cd', endColorstr='#472181', GradientType=1 );
     color: #fff;
     font-size: 18px;
     border: 0;
     font-family: 'Roboto-Bold';
     padding: 12px 53px 10px;
     border-radius: 6px;
}
 .mainhedpartcover .navbar-nav li a{
     background: #fff;
}
 .dropbtn {
     background-color: #2163b2;
     color: white;
     padding: 16px;
     font-size: 16px;
     border: none;
}
 .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
     background-color: #fff;
     color: #000000;
}
 .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
     background-color: #fff;
     color: #2163b2;
}
 .dropdown {
     position: relative;
     display: inline-block;
}
 .dropdown-content {
     display: none;
     position: absolute;
     background-color: #f1f1f1;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 99;
}
 .dropdown-content a {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
}
 .dropdown-content a:hover {
    background-color: #ddd;
}
 .dropdown:hover .dropdown-content {
    display: block;
}
 .dropdown:hover .dropbtn {
    background-color: #fff;
    color: #2163b2;
}
 .mainhedpartcover .dropdown-menu{
     background: #2163b2;
     color: #fff;
     padding: 0;
     border-radius: 0;
     border: 0;
     padding: 17px;
}
 .mainhedpartcover .dropdown-menu li{
     position: relative;
     padding-bottom: 0px;
     display: inline-block;
     width: 100%;
}
 .mainhedpartcover .dropdown-menu li a{
     background: transparent;
     color: #dadada;
     padding-top: 12px;
     padding-bottom: 12px;
     font-family: 'Roboto-Regular';
     padding-left: 10px;
}
 .mainhedpartcover .dropdown-menu li a:hover{
     background: #2c8cff;
     color: #fff;
}
/*.mainhedpartcover .nav.navbar-nav:hover .mainmenu{
     opacity: 0.5;
}
 .mainmenu:hover{
     opacity: 1 !important;
}
 */
 .rsponsve_showwnu{
     display: none !important;
}
 .formgroupinput .error{
     font-family: 'Roboto-Regular';
     margin-bottom: 0;
     font-weight: normal;
}
 .selectboxcovedis .error{
     font-family: 'Roboto-Regular';
     margin-bottom: 0;
     font-weight: normal;
}
 .rediobtnbox1 .error{
     font-family: 'Roboto-Regular';
     margin-bottom: 0;
     font-weight: normal;
}
 .rediobtnbox2 .error{
     font-family: 'Roboto-Regular';
     font-weight: normal;
}
 .rediobtnbox3 .error{
     font-family: 'Roboto-Regular';
     font-weight: normal;
}



.driverideboxiner{
     display: inline-block;
     width: 100%;
     text-align: center;
}
.drieidboxcenter{
     display: inline-block;
     width: 100%;
     text-align: left;
}


.rightpedinr{
     display: inline-block;
     width: 50%;
     float: left;
     padding-right: 50px;
}
.leftpedinr{
     display: inline-block;
     width: 50%;
     float: left;
     padding-left: 50px;
}
.driridinerbox{
     display: inline-block;
     width: 100%;
     border: 1px solid #cbcbcb;
     border-radius: 12px;
     padding-left: 20px;
     padding-top: 20px;
     padding-bottom: 20px;
     padding-right: 30px;
}
.driridinerbox h3{
     display: inline-block;
     color: #000000;
     font-family: 'Roboto-Bold';
     font-size: 22px;
     margin: 0;
     margin-bottom: 18px;
     position: relative;
     padding-bottom: 6px;
}
.driridinerbox h3:after{
     content: '';
     position: absolute;
     bottom: 0px;
     left: 0;
     height: 4px;
     width: 100%;
     background: #000;
     border-radius: 23px;
}
.driridinerbox p{
     display: inline-block;
     width: 100%;
     color: #646464;
     font-family: 'Roboto-Medium';
     font-size: 18px;
     margin: 0;
     margin-bottom: 28px;
}
.driridinerbox a{
     display: inline-block;
     font-size: 18px;
     color: #2163b2;
     font-family: 'Roboto-Medium';
}

.driridinerbox a img{
     width: 15px;
     margin-left: 5px;
}


.searchridercov{
     display: inline-block;
     width: 100%;
}
.searchridercov a{
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 68px;
  margin-bottom: 70px;
  background: #E9E9E9;
  border-radius: 0px 10px 10px 0px;
  padding-top: 62px;
  padding-bottom: 56px;
  text-align: left;
  padding-right: 98px;
}
.inersearchbox{
     display: inline-block;
     width: 100%;
     background: #ffffff;
     padding-top: 34px;
     padding-bottom: 31px;
     padding-right: 25px;
     border-radius: 0px 10px 10px 0px;
     padding-left: 40px;
}

.lefttextsrc{
  display: inline-block;
  float: left;
  width: 302px;
}
.lefttextsrc h6{
  display: inline-block;
  width: 100%;
  color: #1A1818;
  font-family: 'Roboto-Bold';
  font-size: 32px;
}
.lefttextsrc p{
  display: inline-block;
  width: 100%;
  color: #646464;
  font-family: 'Roboto-Medium';
  font-size: 18px;
}
.searchridercov img{
  float: right;
  width: 60px;
  margin-top: 22px;
  margin-right: 9px;
}






/******* new header css *******/
.newhed_designcl{

}
.newhed_designcl .mainhedpartcover{
    border-bottom: 0px solid #DCDBDB;
}
.leftlogodibo{
     display: inline-block;
     float: left;
     z-index: 9;
     position: relative;
     width: 100%;
     background: #fff;
     padding-top: 20px;
     padding-left: 20px;
     padding-right: 20px;
     padding-bottom: 19px;
     border-bottom: 1px solid #dcdbdb;
}
.leftlogodibo a{
     display: inline-block;
}
.leftlogodibo a img{
     width: 152px;
}
.containerinhedpart{
     display: inline-block;
     width: 100%;
     position: relative;
     /*padding-top: 20px;
     padding-left: 20px;
     padding-right: 20px;
     padding-bottom: 20px;*/
}
nav {
  top: 0;
  right: 0;
  z-index: 99;
  width: 100%;
  position: absolute;

}
nav .menu {
     top: 0;
     left: 0;
     margin: 0;
     z-index: 1;
     width: 100%;
     background: #fff;
     padding: 0;
     position: absolute;
     -webkit-transform: translateY(-100%);
     transform: translateY(-100%);
     transition: -webkit-transform 0.3s cubic-bezier(1, 0.5, 0, 1);
     transition: transform 0.3s cubic-bezier(1, 0.5, 0, 1);
     transition: transform 0.3s cubic-bezier(1, 0.5, 0, 1), -webkit-transform 0.3s cubic-bezier(1, 0.5, 0, 1);
     /*border-top: 1px solid #dcdbdb;*/
}
nav .menu.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}


.menu-toggle {
     top: 25px;
     z-index: 9;
     right: 18px;
     width: auto;
     height: auto;
     padding: 0;
     cursor: pointer;
     position: absolute;
}


.mainhedpartcover .hemiconset.menu-open .hamburger_close{
    display: inline-block;
}
.mainhedpartcover .hemiconset.menu-open .hamburger{
    display: none;
}
.mainhedpartcover .hemiconset .hamburger_close{
    display: none;
}
.mainhedpartcover .hemiconset .hamburger{
    display: inline-block;
}
.hemiconset .hamburger{
     width: 32px;
}
.hemiconset .hamburger_close{
     width: 32px;
}


.menualldetailiner{
     text-align: left;
     padding-top: 78px !important;
}

.leftrightboxcovercl{
     display: inline-block;
     width: 100%;
     float: left;
}
.leftmenudit{
  display: inline-block;
  width: 50%;
  float: left;
  padding-top: 85px;
  padding-left: 60px;
  padding-right: 30px;
}
.rightmeniimg{
     display: inline-block;
     width: 50%;
     float: left;
}

.inerhem_menu1{
     display: inline-block;
     width: 100%;
}
.inerhem_menu1 ul{
     display: inline-block;
     width: 50%;
     padding-left: 0;
     float: left;
}
.inerhem_menu1 ul li{
     display: inline-block;
     width: 100%;
     float: left;
     margin-bottom: 12px;
}
.inerhem_menu1 ul li a{
     display: inline-block;
     width: 100%;
     color: #2163b2;
     font-family: 'Roboto-Medium';
     font-size: 36px;
     padding-right: 10px;
}


.inerhem_menu2{
     display: inline-block;
     width: 100%;
     border-top: 1px solid #000;
     border-bottom: 1px solid #000;
     border-style: dashed;
     border-left: 0;
     border-right: 0;
     margin-bottom: 22px;
}
.inerhem_menu2 ul{
     display: inline-block;
     width: 100%;
     padding-left: 0;
     float: left;
     margin-top: 18px;
     margin-bottom: 18px;
}
.inerhem_menu2 ul li{
     display: inline-block;
     width: 50%;
     float: left;
     margin-bottom: 0px;
}
.inerhem_menu2 ul li a{
     display: inline-block;
     width: 100%;
     color: #2163b2;
     font-family: 'Roboto-Medium';
     font-size: 36px;
}


.Installourapp{
     display: inline-block;
     width: 100%;
     margin-top: 23px;
}
.Installourapp p{
     display: inline-block;
     width: 100%;
     color: #000000;
     font-family: 'Roboto-Medium';
     font-size: 28px;
     margin-bottom: 30px;
}
.Installourapp ul {
    display: inline-block;
    width: 100%;
    padding-left: 0;
}
.Installourapp ul li {
    display: inline-block;
    width: auto;
    float: left;
}
.Installourapp ul li a {
    display: inline-block;
    color: #fff;
    font-family: 'Roboto-Medium';
    font-size: 20px;
    background: #000000;
    padding: 10px 15px 10px;
    border-radius: 6px;
    margin-right: 44px;
}
.Installourapp ul li a img {
    width: 24px;
    float: left;
}
.Installourapp ul li a span {
    float: left;
    padding-top: 3px;
    padding-left: 10px;
}


.rightmeniimg img{
     width: 90%;
     float: right;
}
.rightmeniimg img{
     /* width: 100%; */
     /*display: none !important;*/
}
/*.menu-open .rightmeniimg img{
     display: inline-block !important;
}*/
.scroll_hide{
     padding-right: 17px;
     overflow: hidden;
     display: none !important;
}

/******* new header css *******/




.pagetitletopbox{
     display: inline-block;
     width: 100%;
     margin-top: 60px;
}

.lefttext_title{
     display: inline-block;
     width: 58%;
     float: left;
     padding-top: 160px;
}
.rightimg_title{
     display: inline-block;
     width: 42%;
     float: left;
}

.lefttext_title h3{
     color: #1a1818;
     font-family: 'Roboto-Bold';
     font-size: 45px;
}
.lefttext_title p{
     color: #4d4d4d;
     font-family: 'Roboto-Medium';
     font-size: 26px;
}

.rightimg_title img{
     width: 100%;
}


.calculateafarebox{
     display: inline-block;
     width: 100%;
     -webkit-box-shadow: 0px 0px 7px 0px rgb(210, 210, 210);
     -moz-box-shadow: 0px 0px 7px 0px rgb(210, 210, 210);
     box-shadow: 0px 0px 7px 0px rgb(210, 210, 210);
     text-align: center;
     border-radius: 6px;
     padding-top: 42px;
     margin-top: 50px;
     margin-bottom: 110px;
}
.calculateafarebox h3{
     display: inline-block;
     width: 100%;
     color: #1a1818;
     font-family: 'Roboto-Bold';
     font-size: 45px;
}
.calculateafarebox p{
     display: inline-block;
     width: 100%;
     color: #4d4d4d;
     font-family: 'Roboto-Medium';
     font-size: 26px;
     margin-bottom: 32px;
}
.iputgroupcover{
     display: inline-block;
     width: 100%;
     margin-bottom: 30px;
}
.calculateafarebox .form-group{
     position: relative;
     margin-bottom: 20px;
     margin-top: 24px;
     display: inline-block;
     width: 80%;
}
.calculateafarebox .form-group .form-control{
     border: 1px solid #cbcbcb;
     border-radius: 30px;
     height: 52px;
     box-shadow: inherit;
     padding-left: 45px;
     color: #4d4d4d;
     font-family: 'Roboto-Medium';
     font-size: 18px;
}
.calculateafarebox .form-group img{
     width: 18px;
     position: absolute;
     left: 18px;
     top: 15px;
}

.calculateafarebox .form-group .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #bcbcbc;
}
.calculateafarebox .form-group .form-control::-moz-placeholder { /* Firefox 19+ */
  color: #bcbcbc;
}
.calculateafarebox .form-group .form-control:-ms-input-placeholder { /* IE 10+ */
  color: #bcbcbc;
}
.calculateafarebox .form-group .form-control:-moz-placeholder { /* Firefox 18- */
  color: #bcbcbc;
}
.calculateafarebox button{
     background: #2163b2;
     color: #fff;
     font-family: 'Roboto-Medium';
     font-size: 22px;
     border: 0;
     padding: 8px 25px 8px 22px;
     border-radius: 5px;
}
.calculateafarebox button img{
     width: 20px;
     float: left;
     margin-top: 5px;
     margin-right: 8px;
}

.findoutherebox{
     display: inline-block;
     width: 100%;
     margin-top: 34px;
     margin-bottom: 44px;
}
.findoutherebox h5{
     color: #000000;
     font-family: 'Roboto-Medium';
     font-size: 22px;
     background: #f1f1f1;
     padding: 20px 25px 18px 22px;
     border-radius: 6px;
     width: 80%;
     display: inline-block;
}
.findoutherebox h5 a{
     color: #2163b2;

}

.howtorideboxincover{
  display: inline-block;
  width: 100%;
  margin-top: 58px;
}
.howtorideboxincover h3{
  color: #1A1818;
  font-family: 'Roboto-Bold';
  margin: 0;
  font-size: 45px;
  margin-bottom: 50px;
}

.ridestepinercover{
  display: inline-block;
  width: 100%;
  margin-bottom: 60px;
}
.ridestepinerdit{
  display: inline-block;
  width: 100%;
  padding-left: 30px;
  margin-bottom: 45px;
}

.ridestepinerdit_left{
  display: inline-block;
  float: left;
  width: 108px;
}
.ridestepinerdit_right{
  display: inline-block;
  float: left;
  padding-left: 72px;
  width: 76%;
}

.ridestepinerdit_left img{
  width: 100%;
  margin-top: 7px;
}

.ridestepinerdit_right h6{
  display: inline-block;
  width: 100%;
  color: #AAAAAA;
  font-family: 'Roboto-Medium';
  font-size: 24px;
}
.ridestepinerdit_right p{
  display: inline-block;
  width: 100%;
  color: #000000;
  font-family: 'Roboto-Medium';
  font-size: 24px;
}

.faqpagetitlein{
  display: inline-block;
  width: 100%;
}
.faqpagetitlein h3{
  display: inline-block;
  width: 100%;
  color: #1A1818;
  font-family: 'Roboto-Bold';
  font-size: 45px;
  margin-bottom: 40px;
}


.driversriderstabdit{
  display: inline-block;
  width: 100%;
  margin-bottom: 120px;
}
.driversriderstabdit .nav-tabs {
    border-bottom: 0px solid #ddd;
    margin-bottom: 58px;
}
.driversriderstabdit .nav-tabs li{
  margin-bottom: 0;
  margin-right: 24px;
}
.driversriderstabdit .nav-tabs li a{
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid #D9D9D9;
  border-radius: 0 0 0 0;
  color: #2163B2;
  font-family: 'Roboto-Bold';
  font-size: 16px;
  padding: 8px 10px 8px;
  width: 150px;
  text-align: center;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #FFFFFF;
    cursor: default;
    /* background-color: #fff; */
    border: 1px solid #fff;
    background: rgba(0,158,220,1);
    background: -moz-linear-gradient(left, rgba(0,158,220,1) 0%, rgba(33,98,178,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,158,220,1)), color-stop(100%, rgba(33,98,178,1)));
    background: -webkit-linear-gradient(left, rgba(0,158,220,1) 0%, rgba(33,98,178,1) 100%);
    background: -o-linear-gradient(left, rgba(0,158,220,1) 0%, rgba(33,98,178,1) 100%);
    background: -ms-linear-gradient(left, rgba(0,158,220,1) 0%, rgba(33,98,178,1) 100%);
    background: linear-gradient(to right, rgba(0,158,220,1) 0%, rgba(33,98,178,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009edc', endColorstr='#2162b2', GradientType=1 );
    border-bottom-color: transparent;
}




#accordion .panel-title a i{
 color:#de4d4e;
 position: absolute;
 top: 14px;
 left:25px;
}
#accordion .panel-title a.collapsed:before{
 content:"";
 border: 0px none;
}
#accordion .panel-title a.collapsed:hover{
 color: #6a6060;
}
#accordion .panel-title a:after,
#accordion .panel-title a.collapsed:after{
  content: "\f106";
  font-family: FontAwesome;
  color: #2163B2;
  font-size: 26px;
  line-height: 20px;
  position: absolute;
  top: 10px;
  right: 16px;
}
#accordion .panel-title a.collapsed:after{
  content: "\f107";
  color: #000000;
  top: 12px;
}



#accordion .panel{
 /* border:0px none; */
 box-shadow:none;
}


.allcollspsecover .panel-default{
  border: 1px solid #E2E2E2;
  border-radius: 21px;
  margin-bottom: 22px;
  overflow: hidden;
}
.allcollspsecover .panel-heading{
  background: transparent;
   padding:0;
}
.allcollspsecover .panel-body{
  border: 0px !important;
  padding: 0;
  border: 0;
}
.pagehedpart{
  display: block;
  position: relative;
  background:transparent;
  text-transform:uppercase;
  color: #000000 !important;
  margin-bottom:0px;
  padding: 12px 20px 9px 20px;
  font-family: 'Roboto-Medium';
  font-size: 14px;
  border-radius: 0;
  border: 0px solid #E2E2E2;
  transition:all 0.10s linear 0s;
  font-family: 'Roboto-Medium';
}

.allcollspsecover .panel-title .pagehedpart{
   color: #2163B2 !important;
}
.allcollspsecover .panel-title .pagehedpart.collapsed{
    color: #000000 !important;
}

.acodinbodypart{
  display: inline-block;
  width: 100%;
  border-top: 1px solid #ddd;
  padding: 15px 20px 15px;
}
.acodinbodypart p{
  display: inline-block;
  width: 100%;
  color: #000000;
  font-family: 'Roboto-Medium';
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 0;
}


.contactmaincovercl {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.allcontactdetailcover {
    display: inline-block;
    width: 84%;
    text-align: left;
    margin-bottom: 100px;
}

.pagetoptitle {
    display: inline-block;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 18px;
}
.pagetoptitle h3 {
    display: inline-block;
    width: 100%;
    font-size: 30px;
    font-family: 'Roboto-Bold';
    color: #1A1818;
    margin-top: 0;
}
.pagetoptitle p {
    display: inline-block;
    width: 100%;
    font-size: 17px;
    font-family: 'Roboto-Regular';
    color: #1A1818;
}

.retrhesaih_btnbox {
    display: inline-block;
    width: 100%;
    /* border-bottom: 1px solid #D9D9D9; */
}
.retrhesaih_btnbox ul {
    display: inline-block;
    width: 100%;
    padding-left: 0;
}
.retrhesaih_btnbox ul li {
    width: 33.33%;
    float: left;
    display: inline-block;
    padding-right: 24px;
    margin-bottom: 24px;
}
.retrhesaih_btnbox a {
    display: inline-block;
    width: 100%;
    float: left;
    border: 1px solid #D9D9D9;
    color: #2163B2;
    background: #fff;
    font-family: 'Roboto-Bold';
    font-size: 13px;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 11px;
    padding-left: 10px;
    padding-right: 10px;
}
.retrhesaih_btnbox a.active {
  color: #fff;
  border: 1px solid #fff;
  background: rgba(0,158,220,1);
  background: -moz-linear-gradient(left, rgba(0,158,220,1) 0%, rgba(33,98,178,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,158,220,1)), color-stop(100%, rgba(33,98,178,1)));
  background: -webkit-linear-gradient(left, rgba(0,158,220,1) 0%, rgba(33,98,178,1) 100%);
  background: -o-linear-gradient(left, rgba(0,158,220,1) 0%, rgba(33,98,178,1) 100%);
  background: -ms-linear-gradient(left, rgba(0,158,220,1) 0%, rgba(33,98,178,1) 100%);
  background: linear-gradient(to right, rgba(0,158,220,1) 0%, rgba(33,98,178,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009edc', endColorstr='#2162b2', GradientType=1 );
  border-bottom-color: transparent;
}

.formcontactdit {
    display: inline-block;
    width: 100%;
    padding-top: 40px;
    border-top: 1px solid #D9D9D9;
}

.fullwidthalset {
    display: inline-block;
    width: 100%;
}
.forminputlabel {
    display: inline-block;
    width: 50%;
    float: left;
    height: 108px;
}
.forminputlabel label {
    display: inline-block;
    width: 100%;
    margin: 0;
    color: #1A1818;
    font-family: 'Roboto-Medium';
    font-size: 16px;
    margin-bottom: 6px;
    font-weight: normal;
}
.forminputlabel .selectboxcovedis{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
.custselectbox{
    width: 100%;
}
.custselectbox .select2-container {
    width: 100% !important;
}
.custselectbox .select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 0px;
    height: 40px;
}
.custselectbox .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #1A1818;
    font-family: 'Roboto-Regular';
    line-height: 40px;
    padding-left: 10px;
}
.custselectbox .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
    position: absolute;
    top: 0px;
    right: 1px;
    width: 30px;
}
.custselectbox .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #C2C2C2 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: 0;
    position: absolute;
    top: 50%;
    width: 0;
    text-align: center;
}
.select2-results__option[aria-selected] {
    font-family: 'Roboto-Regular';
}

.forminputlabel .form-group{

}
.forminputlabel .form-group label{

}
.forminputlabel label span{
  color: #F0275E;
}
.forminputlabel .form-group .form-control{
    color: #1A1818 !important;
    font-family: 'Roboto-Regular' !important;
    font-size: 16px !important;
    box-shadow: inherit;
    border: 1px solid #D9D9D9 !important;
    border-radius: 6px !important;
    height: 48px !important;
    width: 100% !important;
}

.forminputlabel .form-group .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #1A1818;
}
.forminputlabel .form-group .form-control::-moz-placeholder { /* Firefox 19+ */
  color: #1A1818;
}
.forminputlabel .form-group .form-control:-ms-input-placeholder { /* IE 10+ */
  color: #1A1818;
}
.forminputlabel .form-group .form-control:-moz-placeholder { /* Firefox 18- */
  color: #1A1818;
}


.formtextarealabel{
  display: inline-block;
  width: 50%;
}
.formtextarealabel label{
  display: inline-block;
  width: 100%;
  margin: 0;
  color: #1A1818;
  font-family: 'Roboto-Medium';
  font-size: 16px;
  margin-bottom: 6px;
  font-weight: normal;
}
.formtextarealabel label span{
  color: #F0275E;
}
.formtextarealabel .form-group textarea {
    display: inline-block;
    width: 100%;
    height: 152px;
    resize: none;
    color: #1A1818;
    font-family: 'Roboto-Regular';
    background-color: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px !important;
}





.addfilebox{
  display: inline-block;
  width: 100%;
  margin-top: 36px;
}
.addfilebox p{
  display: inline-block;
  width: 100%;
  margin: 0;
  color: #1A1818;
  font-family: 'Roboto-Medium';
  font-size: 16px;
  margin-bottom: 6px;
}
.file {
  position: relative;
}
.file label {
  background: #ffffff;
  font-family: 'Roboto-Bold';
  padding: 5px 20px;
  color: #2163B2;
  font-size: 14px;
  transition: all .4s;
  border: 1px solid #D9D9D9;
  width: 100%;
  height: 44px;
  text-align: center;
  padding-top: 12px;
  cursor: pointer;
  border-radius: 6px !important;
}
.file input {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
  opacity: 0.01;
  cursor: pointer;
}
.addfilebox .file{
  display: inline-block;
  width: 50%;
  margin: 0;
}
.subbtn{
  display: inline-block;
  width: 100%;
  margin-top: 40px;
}
.subbtn button{
  display: inline-block;
  background: rgba(0,158,220,1);
  background: -moz-linear-gradient(left, rgba(0,158,220,1) 0%, rgba(33,98,178,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,158,220,1)), color-stop(100%, rgba(33,98,178,1)));
  background: -webkit-linear-gradient(left, rgba(0,158,220,1) 0%, rgba(33,98,178,1) 100%);
  background: -o-linear-gradient(left, rgba(0,158,220,1) 0%, rgba(33,98,178,1) 100%);
  background: -ms-linear-gradient(left, rgba(0,158,220,1) 0%, rgba(33,98,178,1) 100%);
  background: linear-gradient(to right, rgba(0,158,220,1) 0%, rgba(33,98,178,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009edc', endColorstr='#2162b2', GradientType=1 );

  color: #fff;
  font-family: 'Roboto-Bold';
  font-size: 16px !important;
  border-radius: 4px;
  padding: 12px 17px 10px;
  border: 0;
}












.allcontcoveral{
  min-height: 100%;
  position: relative;
}
.newhed_designcl{
  display: inline-block;
  width: 100%;
}
.alldit_paretboxpaet{
  display: inline-block;
  width: 100%;
  padding-top: 0;
  padding-bottom: 40px;
}
.footerstc{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 52px;
}








/* media queries */
 @media (max-width: 1920px){
   .rihtimgtobnset img{
      width: 76%;
   }
   .rightmeniimg img{
      width: 100%;
   }
   .leftrihtboxinercover{
     padding-left: 0px;
   }
   .intercityFindtextvox{
     padding-top: 178px;
   }
   .Installourapp ul li a {
       display: inline-block;
       color: #fff;
       font-family: 'Roboto-Medium';
       font-size: 18px;
       background: #000000;
       padding: 10px 15px 10px;
       border-radius: 6px;
       margin-right: 34px;
   }
   .Installourapp ul li a img {
       width: 22px;
       float: left;
   }
   .Installourapp ul li a span {
       float: left;
       padding-top: 3px;
       padding-left: 10px;
   }
   .inerhem_menu1 ul li a{
      font-size: 36px;
  }
  .inerhem_menu2 ul li a{
      font-size: 36px;
  }
  .Installourapp p{
    font-size: 26px;
    margin-bottom: 16px;
  }
  .Installourapp{
    margin-top: 0px;
  }
 }
 @media (max-width: 1500px){
   .intercityFindtextvox {
    padding-top: 124px;
  }
  .rihtimgtobnset img{
    width: 81%;
  }
 }
 @media (max-width: 1200px){
   .Installourapp ul li a span{
     padding-top: 1px;
   }
   .Installourapp ul li a img{
      width: 15px;
  }
   .Installourapp ul li a{
       font-size: 12px;
   }
   .intercityFindtextvox h3{
     font-size: 38px;
   }
   .intercityFindtextvox p{
    font-size: 24px;
   }
   .imgtextcoverpart{
       width: 94%;
    }
   .appdetailright{
       padding-top: 94px;
    }
    .intercityFindtextvox ul li a{
      font-size: 14px;
    }
    .intercityFindtextvox ul li a img{
      width: 18px;
    }
    .intercityFindtextvox ul li a span{
      padding-top: 1px;
    }
    .topmidtextinerpatrset{
      width: 100%;
    }
    .intercityFindtextvox{
      padding-top: 109px;
    }
    .rihtimgtobnset img {
      width: 86%;
    }
}
 @media (max-width: 1199px){
     .menuleftprt ul li a{
         font-size: 12px;
    }
     .cpyrigmidprt p{
         font-size: 13px;
    }
     .instyoutrightprt a img{
         width: 25px;
    }
}
 @media (max-width: 1024px){
   .Installourapp p{
     font-size: 20px;
   }
   .inerhem_menu1 ul li a {
    font-size: 22px;
  }
   .inerhem_menu2 ul li a{
    font-size: 22px;
  }
 }
 @media (max-width: 992px){
   .availablecurrlist{
     padding-top: 72px;
   }
   .surrentlyavbl p{
     font-size: 18px;
   }
   .surrentlyavbl h3{
     font-size: 28px;
   }
   .driversriderstabdit{
    min-height: 412px;
   }
   .searchridercov a{
     margin-bottom: 15px;
     margin-top: 12px;
   }
   .leftmenudit{
    padding-top: 52px;
    padding-left: 30px;
   }
   .retrhesaih_btnbox ul li{
     padding-right: 12px;
   }
   .retrhesaih_btnbox a{
    font-size: 11px;
   }
   .driversriderstabdit{
     margin-bottom: 55px;
   }
   .faqpagetitlein h3{
     font-size: 32px;
   }
   .driversriderstabdit .nav-tabs{
     margin-bottom: 32px;
   }
   .findoutherebox h5{
     font-size: 17px;
   }
   .calculateafarebox .form-group{
     width: 86%;
   }
   .calculateafarebox h3{
     font-size: 32px;
   }
   .calculateafarebox p{
     font-size: 19px;
   }
   .lefttext_title h3{
     font-size: 30px;
   }
   .lefttext_title p{
     font-size: 22px;
   }
   .lefttext_title{
     padding-top: 124px;
   }
   .ridestepinerdit_right{
     padding-left: 45px;
   }
   .ridestepinerdit_left{
     width: 88px;
   }
   .ridestepinerdit{
     padding-left: 0;
   }
   .ridestepinerdit_right h6{
     font-size: 20px;
   }
   .ridestepinerdit_right p{
     font-size: 20px;
   }
   .ridestepinerdit_right p br{
     display: none;
   }
   .ridestepinercover{
     margin-bottom: 35px;
   }
   .howtorideboxincover{
     margin-top: 34px;
   }
    .howtorideboxincover h3{
      font-size: 30px;
      text-align: center;
    }
     .inerformpart{
         width: 100%;
    }
     .appdetailleft img{
         width: 90%;
    }
     .appdetailright img {
        /*width: 89px;
        */
    }
     .appdetailright p{
         font-size: 29px;
    }
     .appdetail_textimg .container{
         width: 100%;
    }
     .cpyrigmidprt{
         width: 25%;
    }
     .instyoutrightprt{
         width: 35%;
    }
     .intercityFindtextvox{
         padding-bottom: 70px;
    }
     .intercityFindtextvox{
         padding-top: 53px;
    }
     /*.finditercitybox:after{
         content: '';
         left: 0;
         top: 0;
         height: 0;
         width: 0;
         background-size: 0;
    }*/
     .rideimageboxpart{
         display: none;
    }

     .respoimgboxsetr img{
         width: 100%;
    }
     .appdetailright{
         padding-top: 87px;
    }
     .imgtextcoverpart {
         width: 100%;
         padding-left: 20px;
         padding-right: 20px;
    }
    .leftrihtboxinercover{
      padding-left: 25px;
      margin-bottom: 35px;
    }
    .intercityFindtextvox h3 {
      font-size: 35px;
    }
    .intercityFindtextvox p {
      font-size: 20px;
    }
    .intercityFindtextvox ul li a {
      font-size: 12px;
      margin-right: 21px;
    }
    .intercityFindtextvox ul li a img {
      width: 14px;
    }
    .rightpedinr{
      padding-right: 18px;
    }
    .driridinerbox p br{
      display: none;
    }
    .leftpedinr{
      padding-left: 18px;
    }
    .driridinerbox{
      padding-right: 22px;
    }
    .searchridercov{
      margin-top: 44px;
      margin-bottom: 38px;
    }
    .appdetailright{
      padding-left: 42px;
    }
}
 @media (max-width: 768px){
   .footerstc{
     height: auto;
   }
   .footerstc{
     position: relative;
   }
   .cpyrigmidprt p{
      padding-top: 6px;
      padding-bottom: 3px;
   }
   .becmdriv_pagetitle{
     padding-top: 15px;
   }
   .rightmeniimg{
     display: none;
   }
   .leftmenudit{
      width: 100%;
      padding-top: 24px;
      padding-left: 28px;
   }
   .rightmeniimg{
     width: 100%;
   }
   .allcontactdetailcover{
     width: 98%;
   }
   .pagetoptitle{
     margin-top: 46px;
   }
   .forminputlabel{
     width: 80%;
   }
   .formtextarealabel{
     width: 80%;
   }
   .addfilebox .file{
     width: 80%;
   }
   .retrhesaih_btnbox ul li{
     width: 50%;
   }
    .faqpagetitlein h3 {
      font-size: 26px;
      margin-bottom: 30px;
    }
   .rightpedinr{
       padding-right: 0;
      width: 100%;
      margin-bottom: 30px;
   }
   .leftpedinr{
     padding-left: 0;
    width: 100%;
    margin-bottom: 0;
   }
     .rsponsve_showwnu{
     display: inline-block !important;
     width: 100%;
    }
     .dropdown-menu.dropdown-content{
       display: none !important;
      }
     .mainhedpartcover .navbar-nav li.activemen:after{
         content: '';
         height: 0;
         width: 0;
      }
     .formgroupinput{
         width: 100%;
    }
     .selectboxcovedis{
         width: 100%;
    }
     .pulse{
         position: relative;
         margin: 0 auto;
    }
    /* .imganimpulse img{
         position: relative;
    }
    */
     .imganimpulse{
         text-align: center;
    }
     .driartintextset_right{
         width: 60%;
    }
     .custom-select{
         width: 100%;
    }
     .plappstorbtn a{
         font-size: 11px;
    }
     .plappstorbtn a img{
         width: 14px;
    }
     .appdetailright img{
         width: 70px;
         left: 0;
         top: 31px;
         position: absolute;
         right: 0;
         margin: 0 auto;
        /*width: 93px;
        */
    }
     .plappstorbtn{
         display: inline-block;
    }
     .mainhedpartcover .nav.navbar-nav.navbar-right{
         display: none;
    }
     .menuleftprt ul li{
         width: 49%;
    }
     .instyoutrightprt a img{
         width: 33px;
    }
     .instyoutrightprt {
         width: 30%;
         padding-right: 40px;
    }
     .menuleftprt{
         width: 70%;
         padding-left: 40px;
         padding-bottom: 13px;
    }
     footer .container{
         padding-left: 0;
         padding-right: 0;
    }
     .cpyrigmidprt{
         width: 100%;
         text-align: center;
         border-top: 1px solid #E8E8E8;
         padding-top: 5px;
         padding-bottom: 6px;
    }
     .mainhedpartcover .navbar-toggle{
         background: transparent;
         border: 0;
         padding: 0;
         margin-top: 19px;
    }
     .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
         background-color: #fff;
    }
     .mainhedpartcover .navbar-toggle.collapsed .hamburger{
         display: inline-block;
    }
     .mainhedpartcover .navbar-toggle.collapsed .hamburger_close{
         display: none;
    }
     .mainhedpartcover .navbar-toggle .hamburger{
         display: none;
    }
     .mainhedpartcover .navbar-toggle .hamburger_close{
         display: inline-block;
    }
     .mainhedpartcover .navbar-toggle img{
         width: 30px;
    }
     .mainhedpartcover .navbar-nav li a{
         padding-left: 23px;
    }
     .mainhedpartcover .navbar-header{
         background: #fff;
         z-index: 99;
         position: relative;
    }
     .mainhedpartcover .navbar-collapse{
         position: absolute;
         background-color: #fff;
         width: 100%;
         z-index: 9;
         -webkit-box-shadow: 0px 1px 8px -1px rgba(202, 202, 202, 0.79);
         -moz-box-shadow: 0px 1px 8px -1px rgba(202, 202, 202, 0.79);
         box-shadow: 0px 1px 8px -1px rgba(202, 202, 202, 0.79);
    }
     .mainhedpartcover .container{
         padding-left: 0;
         padding-right: 0;
    }
     .mainhedpartcover .navbar-brand{
         border-right: 0;
         padding-left: 20px;
         padding-right: 0;
    }
     .finditercitybox{
       margin-bottom: 0;
       height: auto;
    }
    .intercityFindtextvox{
      padding-bottom: 0;
    }
     .finditercitybox .container{
         padding-left: 0px;
         padding-right: 0px;
    }
     .intercityFindtextvox{
         padding-left: 20px;
         padding-right: 20px;
         z-index: 1;
    }
    /* .respoimgboxsetr{
        display: inline-block;
        position: absolute;
        right: 0;
        top: 278px;
   } */
     .respoimgboxsetr{
         display: inline-block;
         position: relative;
         right: 0;
         top: 20px;
         float: right;
    }
     .appdetailleft img {
         width: 90%;
    }
     .appdetailleft{
         width: 100%;
         padding-right: 0;
         text-align: center;
    }
     .appdetailright{
         text-align: center;
         width: 100%;
         padding-left: 0 !important;
         padding-right: 0 !important;
         padding-top: 35px;
    }
     .imgtextcoverpart {
         width: 100%;
         margin-bottom: 0;
         margin-top: 0;
    }
     .appdetailright br{
         display: none;
    }
     .alditalext p{
         width: 248px;
         font-size: 25px;
         margin-top: 0px;
    }
     .appdetailleft{
         display: none;
    }
     .ditboxpart1 .appdetailleft{
         display: inline-block !important;
         margin-bottom: 28px;
    }
     .appdetail_textimg{
         margin-bottom: 50px;
    }
}
 @media (max-width: 700px){
   .searchridercov img {
    width: 40px;
    margin-top: 19px;
    margin-right: 9px;
  }
   .lefttextsrc p{
     font-size: 17px;
     margin-bottom: 0;
   }
   .lefttextsrc h6{
     font-size: 26px;
     margin-bottom: 5px;
   }
   .lefttextsrc{
     width: 284px;
   }
    .searchridercov a{
      padding-top: 52px;
      padding-bottom: 47px;
      padding-right: 62px;
    }
   .calculateafarebox .form-group img{
     width: 15px;
   }
   .inersearchbox{
     padding-left: 22px;
   }
   .calculateafarebox .form-group .form-control{
     height: 45px;
     font-size: 15px;
   }
   .findoutherebox{
      margin-top: 22px;
      margin-bottom: 30px;
    }
   .calculateafarebox button img{
     width: 15px;
   }
   .calculateafarebox button{
     font-size: 17px;
   }
   .calculateafarebox .form-group{
     width: 93%;
   }
   .findoutherebox h5{
     width: 93%;
     padding: 15px 25px 15px 22px;
     line-height: 1.5;
   }
   .calculateafarebox .form-group{
     margin-bottom: 4px;
   }
   .calculateafarebox p{
     margin-bottom: 16px;
   }
   .calculateafarebox{
     padding-top: 24px;
   }
   .pagetitletopbox{
     margin-top: 18px;
   }
   .lefttext_title{
     width: 100%;
     text-align: center;
     padding-top: 0;
     margin-bottom: 38px;
   }
   .rightimg_title{
     width: 100%;
     text-align: center;
   }
   .rightimg_title img{
      width: 350px;
   }
   .leftrihtboxinercover{
     padding-left: 0;
   }
   .intercityFindtextvox{
     width: 100%;
   }
   .topmidtextinerpatrset{
     text-align: center;
   }
   .intercityFindtextvox ul{
     width: auto;
   }
   .intercityFindtextvox ul li a{
     margin-right: 10px;
    margin-left: 10px;
   }
   .intercityFindtextvox{
     padding-top: 0;
     margin-bottom: 30px;
   }
   .leftrihtboxinercover{
    margin-top: 15px;
  }
  .rihtimgtobnset{
    width: 100%;
    text-align: center;
  }
  .rihtimgtobnset img {
    width: 340px;
  }
}
 @media (max-width: 600px){
   .avaiblecurlst_left ul li{
     text-align: center;
   }
   .ridestepinerdit_left{
     text-align: center;
     width: 100%;
   }
   .ridestepinerdit{
     margin-bottom: 32px;
   }
   .ridestepinerdit_left img{
     width: 85px;
     margin: 0 auto;
   }
     .ridestepinerdit_right{
        padding-left: 0;
        width: 100%;
        text-align: center;
     }
     .rediobtnbox2 ul li{
         margin-bottom: 10px;
    }
     .rediobtnbox4{
         margin-top: 0px;
    }
     .rdbtnwidthset{
         width: 100%;
         padding-right: 18px;
    }
     .formboxingrp1{
         padding-left: 0px;
         padding-right: 0px;
    }
     .formboxingrp2{
         padding-left: 20px;
         padding-right: 20px;
         margin-top: 0px;
         padding-top: 28px;
    }
     .rediobtnbox1 {
         margin-bottom: 20px;
    }
     .rediobtnbox2{
         margin-bottom: 22px;
    }
     .driartintextset_right {
         width: 72%;
    }
     .driartintextset_left{
         width: 104px;
    }
     .driartintextset_left img {
         width: 100px;
    }
     .driartintextset_right a{
         font-size: 12px;
    }
     .driartintextset_right p{
         font-size: 13px;
         margin-bottom: 10px;
    }
     .driartintextset_right h3{
         font-size: 20px;
         margin-bottom: 11px;
    }
     .drivestartedtitle p{
         font-size: 15px;
    }
     .drivestartedtitle h6{
         font-size: 13px;
    }
     .drivestartedtitle h3{
         font-size: 25px;
    }
     .drivestartedtitle{
         padding-top: 25px;
    }
     .custom-select {
         width: 220px;
    }
     .avaiblecurlst_right{
         padding-top: 29px;
         width: 100%;
         text-align: center;
    }
     .availablecurrlist{
         width: 100%;
         padding-top: 45px;
         padding-bottom: 55px;
    }
     .surrentlyavbl{
         padding-top: 25px;
    }
     .avaiblecurlst_left{
         width: 100%;
    }
     .appdetailright{
         padding-top: 40px;
    }
     .intercityFindtextvox h3{
         font-size: 28px;
    }
     .intercityFindtextvox p{
         font-size: 16px;
    }
     .intercityFindtextvox ul li a{
         font-size: 12px;
    }
     .intercityFindtextvox ul li a img{
         width: 16px;
    }
     .intercityFindtextvox{
         padding-bottom: 0px;
    }
     .respoimgboxsetr img {
         width: 86%;
         float: right;
    }
     .appdetailright p{
         font-size: 25px;
    }
     .drivestartedtitle p br{
         display: none;
    }
}
 @media (max-width: 479px){
   .surrentlyavbl h3{
     font-size: 26px;
     line-height: 1.3;
   }
   .surrentlyavbl h3 br{
     display: none;
   }
   .lefttextsrc {
    width: 246px;
  }
   .inersearchbox{
     padding-top: 25px;
     padding-bottom: 28px;
   }
   .searchridercov img {
    width: 34px;
    margin-top: 20px;
    margin-right: 0px;
  }
   .searchridercov a{
     padding-top: 38px;
     padding-bottom: 32px;
     padding-right: 42px;
   }
   .lefttextsrc h6{
     font-size: 22px;
   }
   .lefttextsrc p{
     font-size: 15px;
   }
    .intercityFindtextvox {
      padding-bottom: 0px;
    }
    .inersearchbox {
      padding-left: 12px;
    }
   .driridinerbox h3{
     font-size: 18px;
   }
   .driridinerbox p{
     font-size: 16px;
     margin-bottom: 22px;
   }
   .driridinerbox a{
     font-size: 18px;
   }
   .driridinerbox a img{
      width: 13px;
      margin-left: 3px;
   }
   .inerhem_menu1 ul li a {
    font-size: 18px;
  }
   .inerhem_menu2 ul li a {
    font-size: 18px;
  }
   .formcontactdit{
     padding-top: 30px;
   }
   .pagetoptitle {
    margin-top: 38px;
    }
   .allcontactdetailcover{
     margin-bottom: 72px;
   }
   .forminputlabel {
    width: 100%;
    }
   .formtextarealabel {
    width: 100%;
    }
   .addfilebox .file {
    width: 100%;
  }
   .retrhesaih_btnbox ul li {
      width: 100%;
      padding-right: 0;
    }
   .pagetoptitle h3{
     sfont-size: 26px;
   }
   .pagetoptitle p{
     font-size: 16px;
   }
   .driversriderstabdit .nav-tabs li a{
     font-size: 14px;
     width: 123px;
   }
   .findoutherebox h5 {
    font-size: 15px;
    line-height: 1.5;
  }
   .calculateafarebox h3 {
    font-size: 26px;
  }
  .calculateafarebox p {
    font-size: 17px;
  }
   .rightimg_title{
       padding-left: 10px;
      padding-right: 10px;
   }
   .lefttext_title h3 {
    font-size: 26px;
  }
  .lefttext_title p {
    font-size: 18px;
  }
  .rightimg_title img{
    width: 100%;
  }
   .howtorideboxincover h3{
     font-size: 26px;
   }
   .ridestepinerdit_left img{
     width: 75px;
   }
   .ridestepinerdit_right h6{
     font-size: 18px;
   }
   .ridestepinerdit_right p {
      font-size: 18px;
    }
   .rihtimgtobnset img{
     width: 100%;
   }
   .rihtimgtobnset{
       padding-left: 18px;
      padding-right: 18px;
   }
     .drivestartedtitle{
         margin-bottom: 15px;
    }
     .driartintextset_right p{
         font-size: 12px;
         margin-bottom: 8px;
    }
     .driartintextset_right a {
         font-size: 11px;
    }
     .driartintextset_right h3{
         font-size: 18px;
         margin-bottom: 9px;
    }
     .drivestarticontextset{
         margin-bottom: 8px;
    }
     .driartintextset_right {
         width: 100%;
         padding-left: 0;
         text-align: center;
    }
     .driartintextset_left{
         width: 100%;
         text-align: center;
    }
     .drivestartedtitle p{
         margin-bottom: 0;
    }
     .avaiblecurlst_left ul li a{
         font-size: 18px;
    }
     .avaiblecurlst_left ul li h4{
         font-size: 18px;
    }
     .surrentlyavbl p{
         font-size: 16px;
    }
     .surrentlyavbl h3{
         /* font-size: 18px; */
         margin-bottom: 7px;
    }
     .mainhedpartcover .navbar-brand{
         padding-left: 13px;
    }
     .mainhedpartcover .navbar-brand img{
         width: 136px;
    }
     .respoimgboxsetr img{
         width: 92%;
    }
     .appdetailleft img {
         width: 90%;
    }
     .menuleftprt{
         padding-left: 20px;
    }
     .instyoutrightprt{
         padding-right: 20px;
    }
     .menuleftprt ul li{
         padding-right: 0;
    }
     .instyoutrightprt a img {
         width: 28px;
         margin-left: 7px;
    }
}
 @media (max-width: 400px){
   .intercityFindtextvox ul li a{
     padding: 10px 14px 10px;
   }
   .intercityFindtextvox {
    padding-bottom: 10px;
  }
   .intercityFindtextvox ul li a img {
    width: 14px;
    }
   .Installourapp ul li a{
     margin-right: 18px;
   }
   .inerhem_menu1 ul{
     width: 100%;
     margin-bottom: 0;
   }
   .inerhem_menu2 ul{
     margin-top: 11px;
     margin-bottom: 10px;
   }
   .inerhem_menu2 ul li{
     width: 100%;
     margin-top: 5px;
    margin-bottom: 5px;
   }
   .leftmenudit{
     width: 100%;
     padding-top: 20px;
     padding-left: 20px;
     padding-right: 20px;
   }
 }
 @media (max-width: 390px){
   .lefttextsrc {
     width: 214px;
   }
   .searchridercov a {
      padding-top: 26px;
      padding-bottom: 19px;
      padding-right: 30px;
   }
   .inersearchbox {
      padding-top: 18px;
      padding-bottom: 22px;
   }
  .lefttextsrc h6 {
    font-size: 19px;
  }
  .lefttextsrc p {
    font-size: 13px;
  }
  .searchridercov img {
    width: 26px;
    margin-top: 23px;
  }
 }
 @media (max-width: 360px){
   .lefttextsrc {
      width: 178px;
  }
     .drivestartedtitle{
         padding-top: 13px;
    }
}
 @media (max-width: 320px){
}
/* media queries */
