@font-face {
    font-family: 'Rubik-Regular';
    src: url('../../fonts/Rubik-Regular.ttf'),
         url('../../fonts/Rubik-Regular.ttf');
        font-weight: normal;
        font-style: normal;

}
@font-face {
    font-family: 'Rubik-Medium';
    src: url('../../fonts/Rubik-Medium.ttf'),
         url('../../fonts/Rubik-Medium.ttf');
        font-weight: normal;
        font-style: normal;

}
@font-face {
    font-family: 'Rubik-Bold';
    src: url('../../fonts/Rubik-Bold.ttf'),
         url('../../fonts/Rubik-Bold.ttf');
        font-weight: normal;
        font-style: normal;

}
@font-face {
    font-family: 'Rubik-Light';
    src: url('../../fonts/Rubik-Light.ttf'),
         url('../../fonts/Rubik-Light.ttf');
        font-weight: normal;
        font-style: normal;
}


.leftinnertext_divbox{
    display: inline-block;
    width: 100%;
    border-right: 1px solid #ddd;
}
.leftinnertext_divbox ul{
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.leftinnertext_divbox ul li{
    display: inline-block;
    width: 100%;
   /* padding-top: 14px;
    padding-bottom: 14px;*/
    border-bottom: 1px solid #ddd;
}
.leftinnertext_divbox ul li a{
    margin: 0px;
    font-size: 14px;
    color: #000;    
    font-family: 'Rubik-Regular';
    padding-left: 70px;
}
.fixed-sidebar-left .side-nav > li > a {
    color: #212121;
    padding: 16px 23px;
    padding-left: 47px !important;
}