
.headertopman_divbox{
    display: inline-block;
    width: 100%;
    float: left;
    padding-left: 40px;
    padding-left: 9px;
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #DDDDDD;
}

.header_logodivbox{
    display: inline-block;
    width: 21%;
    float: left;
}

.header_logodivbox img{
    width: 71%;
}
.headerorders_textbox{
    display: inline-block;
    width: 20%;
    float: left;
}
.headerorders_textbox p{
    margin: 0px;
    font-size: 14px;
    color: #000;
    padding-top: 10px;
    font-family: 'Rubik-Medium';
}
.headerorders_textbox img{
    width: 20px;
    float: left;
    margin-top: 12px;
    margin-right: 6px;
}
.right_logoutext{
    display: inline-block;
    width: 59%;
    float: left;
}

.right_logoutext p{
    margin: 0px;
    color: #E22349;
    font-size: 15px;
    text-align: right;
    font-family: 'Rubik-Medium';
    padding-top: 7px;
    display: inline-block;
    float: right;
}


.users_detateblebox{
    display: inline-block;
    width: 100%;    
}

.users_detateblebox table.dataTable tbody th, table.dataTable tbody td {
    border-right: 0 !important;
    border-bottom: 0 !important;
}
.users_detateblebox table.dataTable thead th {
    border-bottom: 0px solid #A7A9AB;  
    font-family: 'Rubik-Medium';   
    font-weight: 100;
    border-right: 0px;
}
.users_detateblebox .table.dataTable.no-footer {
    border-bottom: 1px solid #ddd;
    border-left: 0;
    padding-bottom: 0px !important;
}
.users_detateblebox .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fff;
}
.users_detateblebox td {
    color: #494949;
    font-size: 14px;
    font-family: 'Rubik-Regular';
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}
.users_detateblebox .dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    border: 1px solid #ddd;
}

.users_detateblebox .table > thead > tr > th, .jsgrid-table > thead > tr > th, .table > tfoot > tr > th, .jsgrid-table > tfoot > tr > th {
    border-bottom: 0px solid rgba(33, 33, 33, 0.1) !important;
 }



.adminright_detlisdivbox{
    display: inline-block;
    width: 84%;
    float: right;
    background: inherit;
}
 .setting_detlisdivbox{
    display: inline-block;
    width: 100%;
    padding-left: 40px;
    padding-top: 100px;
    padding-right: 45px;
}
.vehicles_topdivbox{
    display: inline-block;
    width: 100%;
}
.vehicles_topdivbox ul{
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.vehicles_topdivbox ul li{
    display: inline-block;
    width: 25%;
    float: left;
}
.vehicles_innertextbox{
    display: inline-block;
    border: 1px solid #ddd;
    padding-top: 13px;
    padding-left: 13px;
    padding-right: 20px;
    padding-bottom: 13px;
    width: 215px; 
}
.vehicles_innertextbox h4{
    margin: 0px;
    color: #000;
    font-family: 'Rubik-Medium';
    font-size: 18px;
    padding-bottom: 30px;
    display: inline-block;
}
.vehicles_innertextbox p{
    margin: 0px;
    font-family: 'Rubik-Regular';
    font-size: 16px;
    color: #000;
}

.vehicles_innertextbox img{
    width: 21px;
    text-align: right;
    float: right;
}
.ridechimpfees_mandetlisdiv{
    display: inline-block;
    width: 100%;
    margin-top: 30px;
}
.ridechimpfees_detlisbox{
    display: inline-block;
    width: 47%;
    border: 1px solid #ddd;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 22px;
    padding-bottom: 35px;
}
.feesinput_lefttext{
    padding: 8px 16px 7px 16px;
    display: inline-block;
    float: left;
    background: rgba(36,168,224,1);
    background: -moz-linear-gradient(left, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(36,168,224,1)), color-stop(100%, rgba(102,49,145,1)));
    background: -webkit-linear-gradient(left, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    background: -o-linear-gradient(left, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    background: -ms-linear-gradient(left, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    background: linear-gradient(to right, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24a8e0', endColorstr='#663191', GradientType=1 );
}
.feesinput_lefttext img{
    width: 20px;
}
.feesinput_lefttext span{
	margin: 0px;
	font-size: 17px;
	font-family: 'Rubik-Medium';
	color: #fff;

}
.ridechimpfeesinput_text{
    display: inline-block;
    width: 40%;
    float: left;
}
.ridechimpfeesinput_text input{
    display: inline-block;
    width: 100%;
    border: 1px solid #DDDDDD;
    height: 40px;
    padding-left: 13px;
    padding-right: 13px;
    font-family: 'Rubik-Regular';
}
.ridechimpfees_detlisbox p{
    margin: 0px;
    font-size: 17px;
    color: #000;
    font-family: 'Rubik-Medium';
    padding-bottom: 21px;
}

.ridechimpfeessave_butten{
    display: inline-block;
    width: 47%;
    float: left;
}
.ridechimpfeessave_butten button{
    display: inline-block;
    padding: 10px 35px 10px 35px;
    float: right;
    color: #fff;
    border: 0px;
    font-family: 'Rubik-Regular';
    background: rgba(36,168,224,1);
    background: -moz-linear-gradient(left, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(36,168,224,1)), color-stop(100%, rgba(102,49,145,1)));
    background: -webkit-linear-gradient(left, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    background: -o-linear-gradient(left, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    background: -ms-linear-gradient(left, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    background: linear-gradient(to right, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24a8e0', endColorstr='#663191', GradientType=1 );
}
.maintanacradio_button{
    display: inline-block;
    width: 100%;
}
.maintanacradio_button p{
    margin: 0px;
    color: #494949;
    font-size: 17px;
    font-family: 'Rubik-Regular';
    padding-bottom: 0px;
    display: inline-block;
    float: left;
    margin-right: 11px;
    padding-top: 3px;
}

/*****Radio-btn*****/

.maintanacradio_button .switch-field {
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  padding: 0px;
  overflow: hidden;
}

.maintanacradio_button .switch-title {
  margin-bottom: 6px;
}

.maintanacradio_button .switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.maintanacradio_button .switch-field label {
  float: left;
}

.maintanacradio_button .switch-field label {
  display: inline-block;
  width: 85px;  
  color: #000;
  height: 33px;
  font-size: 14px;
  font-family: 'Rubik-Regular';
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid #ddd;  
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.setrefunded_box .switch-field label{
    width: 108px;
}


.maintanacradio_button .switch-field label:hover {
    cursor: pointer;
}

.maintanacradio_button .switch-field input:checked + label {    
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    border: 0px;
    font-size: 15px;
    height: 33px;    
    background: rgba(36,168,224,1);
    font-family: 'Rubik-Regular';
    background: -moz-linear-gradient(left, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(36,168,224,1)), color-stop(100%, rgba(102,49,145,1)));
    background: -webkit-linear-gradient(left, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    background: -o-linear-gradient(left, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    background: -ms-linear-gradient(left, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    background: linear-gradient(to right, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24a8e0', endColorstr='#663191', GradientType=1 );
}

.maintanacradio_button .switch-field label:first-of-type {
  border-radius: 0;
}

.maintanacradio_button .switch-field label:last-of-type {
  border-radius: 0;
  margin-left: 17px;
}

/*****Radio-btn*****/

.appversion_detlisdiv{
    display: inline-block;
    width: 100%;
    padding-top: 30px;
}
.appversion_detlisdiv p{
    margin: 0px;
    color: #494949;
    font-size: 14px;
    font-family: 'Rubik-Regular';
    padding-bottom: 13px;
}
.appversion_detlisdiv input{
    display: inline-block;
    width: 45%;
    border: 1px solid #ddd;
    font-family: 'Rubik-Regular';
    height: 40px;
    padding-left: 11px;
    padding-right: 11px;
    color: #000;
}
.bottomsave_btn{
    display: inline-block;
    width: 100%;
    padding-top: 35px;
}
.bottomsave_btn button{
    display: inline-block;
    padding: 10px 35px 10px 35px;    
    color: #fff;
    border: 0;
    font-size: 15px;
    font-family: 'Rubik-Regular';
    background: rgba(36,168,224,1);
    background: -moz-linear-gradient(left, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(36,168,224,1)), color-stop(100%, rgba(102,49,145,1)));
    background: -webkit-linear-gradient(left, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    background: -o-linear-gradient(left, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    background: -ms-linear-gradient(left, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    background: linear-gradient(to right, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24a8e0', endColorstr='#663191', GradientType=1 );
}

.ordersbooked_detlis{
    display: inline-block;
    width: 100%;
    padding-bottom: 25px;
}
.ordersbooked_detlis h4{
    margin: 0px;
    font-size: 15px;
    color: #000;
    padding-bottom: 0px;
    font-family: 'Rubik-Medium';
}
.ordersbooked_detlis p{
    margin: 0px;
    font-size: 14px;
    color: #000;
    font-family: 'Rubik-Regular';
}
.ordersbooked_detlis span{
    color: #0DA26C;
}
.bookingdetlis_text{
    display: inline-block;
    width: 55%;
    border: 1px solid #ddd;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}
.bookingdetlis_text h4{
    margin: 0px;
    font-size: 17px;
    color: #000;
    padding-bottom: 22px;
    font-family: 'Rubik-Medium';
}
.bookingdetlis_text p{
    margin: 0px;
    font-size: 14px;
    color: #494949;
    padding-bottom: 7px;
    font-family: 'Rubik-Regular';
}

.bookingdetlis_text span{
    color: #48207F;
    font-family: 'Rubik-Medium';
}
.Tripdetlis_mandivtextbox{
    display: inline-block;
    width: 55%;
    margin-top: 23px;
    border: 1px solid #ddd;    
}
.Tripdetlis_textbox{
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-left: 13px;
    padding-top: 16px;
}

.Tripdetlis_textbox h4{
    margin: 0px;
    font-size: 17px;
    color: #000;
    padding-bottom: 22px;
    font-family: 'Rubik-Medium';    
}
.Tripdetlis_textbox p{
    margin: 0px;
    font-size: 14px;
    color: #494949;
    padding-bottom: 7px;
    font-family: 'Rubik-Regular';    
}
.mandivsteetleft_textbox{
    display: inline-block;
    width: 100%;
    padding-left: 13px;
    padding-top: 16px;
    padding-bottom: 18px;
    border-bottom: 1px solid #ddd;
}
.steetleft_textbox{
    display: inline-block;
    width: 30%;
    float: left;
}
.steetleft_textbox h4{
    color: #494949;
    margin: 0px;
    font-size: 14px;
    padding-bottom: 13px;
    font-family: 'Rubik-Regular'; 
}
.steetleft_textbox h3{
    color: #494949;
    margin: 0px;
    font-size: 14px;
    padding-bottom: 6px;
    font-family: 'Rubik-Medium'; 
}
.steetleft_textbox p{
    color: #494949;
    margin: 0px;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Rubik-Regular';
}
.distancearrow_div{
    display: inline-block;
    width: 14%;
    float: left;
    padding-top: 31px;
}
.distancearrow_div img{
    width: 23px;
}
.pickuploction_detlis{
    display: inline-block;
    width: 100%;
}
.pickuploction_detlis p{
    margin: 0px;
    font-size: 14px;
    padding-bottom: 6px;
    color: #494949;    
    font-family: 'Rubik-Regular';
}
.pickuploction_detlis h4{
    color: #494949;
    margin: 0px;
    font-size: 14px;
    padding-bottom: 6px;
    font-family: 'Rubik-Medium';
}
.pickuploction_detlis span{
    color: #48217F;    
}

.about_textdetlisbox h4{
	margin: 0px;
    font-size: 17px;
    color: #000;
    padding-bottom: 17px;
    font-family: 'Rubik-Medium';
}
.about_textdetlisbox p{
	margin: 0px;
    font-size: 14px;
    color: #494949;
    padding-bottom: 7px;
    font-family: 'Rubik-Regular';
}
.about_textdetlisbox span{	
    font-family: 'Rubik-Medium';
    color: #48217F;
}
.billingdetlis_textbox{
	display: inline-block;
	widows: 100%;
}
.billingdetlis_textbox h4{
	margin: 0px;
    font-size: 17px;
    color: #000;
    padding-bottom: 17px;
    font-family: 'Rubik-Medium';
}
.billingdetlis_textbox p{
	margin: 0px;
    font-size: 14px;
    color: #494949;
    padding-bottom: 7px;
    font-family: 'Rubik-Regular';
}
.billinginner_detlisdiv{
	display: inline-block;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-left: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
    float: left;
}
.billingleft_text{
	display: inline-block;
	width: 35%;
	float: left;
}
.billingleft_text p{
	margin: 0px;
    font-size: 14px;
    color: #494949;    
    font-family: 'Rubik-Regular';
}
.billingright_text{
	display: inline-block;
	width: 60%;
	float: left;
}
.billingright_text p{
	margin: 0px;
    font-size: 14px;
    color: #494949;    
    font-family: 'Rubik-Regular';
}


/***Cancelled-Booking.Css***/

.bookingsetboxpart{
    display: inline-block;
    width: 100%;
    border: 0px !important;
}
.cancelledbyriders_mandiv{
    display: inline-block;
    width: 100%;
}
.cancelledbookin_toptext{
    display: inline-block;
    width: 100%;
    margin-bottom: 50px;
}

.cancelledbookin_toptext h3{
    margin: 0px;
    font-size: 25px;
    color: #000;
    font-family: 'Rubik-Medium';
    padding-bottom: 27px;
}

.cancelledbookin_toptext .switch-field {
    font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
    padding: 0px;
    overflow: hidden;
}
.cancelledbookin_toptext .switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.cancelledbookin_toptext .switch-field label:first-of-type {
    border-radius: 0;
}

.cancelledbookin_toptext .switch-field label {
    display: inline-block;
    width: 108px;
    color: #000;
    height: 33px;
    font-size: 14px;
    font-family: 'Rubik-Regular';
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    padding: 6px 14px;
    border: 1px solid #ddd;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.cancelledbookin_toptext .switch-field label {
    float: left;
}

.cancelledbookin_toptext .switch-field input:checked + label {
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    border: 0px;
    font-size: 14px;
    height: 33px;
    background: rgba(36,168,224,1);
    font-family: 'Rubik-Regular';
    background: -moz-linear-gradient(left, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(36,168,224,1)), color-stop(100%, rgba(102,49,145,1)));
    background: -webkit-linear-gradient(left, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    background: -o-linear-gradient(left, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    background: -ms-linear-gradient(left, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    background: linear-gradient(to right, rgba(36,168,224,1) 0%, rgba(102,49,145,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24a8e0', endColorstr='#663191', GradientType=1 );
}
.cancelledbookin_toptext .switch-field label:last-of-type {
    border-radius: 0;
    margin-left: 17px;
}
.cancelledbookin_toptext p{
    margin: 0px;
    color: #000000;
    font-size: 18px;
    font-family: 'Rubik-Regular';
    display: inline-block;
    float: left;
    margin-right: 12px;
    margin-top: 3px;
}
.booking_detatebaldivbox{
    display: inline-block;
    width: 100%;
}



























/***Cancelled-Booking.Css***/


